In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-3.1_2019_0.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-3.1_2019_0.pdf'

In [5]:
tables = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "48.096930533117934,736.8267655351573,547.3430694668822,52.29867117593344"
                              ],
                          columns=[
                              "76.9550888529887,175.0728271405493,210.66455573505655,238.56077544426498,271.26668820678515,297.2390306946688,328.02106623586434,354.95534733441036,386.6993214862682,418.4432956381261,447.30145395799684,482.8931825525041,519.4468497576737"
                              ],
                          split_text=True,
                          pages="all"
                         )

In [6]:
tables

In [7]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [8]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

In [9]:
# Removes Garbage Rows that may have been detected Before the 'STATES' row
# AND
# Removes Garbage Rows that may have been detected after the 'TOTAL (ALL INDIA)' row
def clean(table):
    while(table.df.iloc[0,1] != 'STATES'):
        table.df = table.df.iloc[1:]
    while(table.df.iloc[-1,1] != 'TOTAL (ALL INDIA)'):
        table.df = table.df.iloc[:-1]
    # The Return line is unnecessary due to all changes being reflected in the original references
    return table

In [10]:
for each_table in tables:
    clean(each_table)

In [11]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
printnAllTables(tables)

Page No:  1
    0                  1  2  3  4  5   6  7  8   9  10 11 12 13
5                  STATES
6    1     ANDHRA PRADESH  0  0  0  0   0  0  0   0  0  0  0  0
7    2  ARUNACHAL PRADESH  0  0  0  0   0  0  0   0  0  0  0  0
8    3              ASSAM  0  0  0  0   0  0  0   0  0  0  0  0
9    4              BIHAR  0  0  0  0   0  0  0   0  0  0  0  0
10   5       CHHATTISGARH  0  0  0  0   8  0  0   8  0  0  0  0
11   6                GOA  0  0  0  0   0  0  0   0  0  0  0  0
12   7            GUJARAT  0  0  0  0   0  0  0   0  0  0  0  0
13   8            HARYANA  0  0  0  0   0  0  0   0  0  0  0  0
14   9   HIMACHAL PRADESH  0  0  0  0   0  0  0   0  0  0  0  0
15  10    JAMMU & KASHMIR  1  0  0  1   6  0  0   6  0  0  0  0
16  11          JHARKHAND  0  0  0  0   0  0  0   0  0  0  0  0
17  12          KARNATAKA  0  0  0  0   0  0  0   0  0  0  0  0
18  13             KERALA  0  0  0  0   0  0  0   0  0  0  0  0
19  14     MADHYA PRADESH  0  0  0  0   0  0  0   0  0  0  0  0
20  15        MAHARASHTRA  1  0  0  1   0  0  0   0  0  0  0  0
21  16            MANIPUR  0  0  0  0   0  0  0   0  0  0  0  0
22  17          MEGHALAYA  0  0  0  0   0  0  0   0  0  0  0  0
23  18            MIZORAM  0  0  0  0   0  0  0   0  0  0  0  0
24  19           NAGALAND  0  0  0  0   0  0  0   0  0  0  0  0
25  20             ODISHA  0  0  0  0   0  0  0   0  0  0  0  0
26  21             PUNJAB  0  0  0  0   0  0  0   0  0  0  0  0
27  22          RAJASTHAN  0  0  0  0   0  0  0   0  0  0  0  0
28  23             SIKKIM  1  0  0  1   0  0  0   0  0  0  0  0
29  24         TAMIL NADU  0  0  0  0   0  0  0   0  0  0  0  0
30  25          TELANGANA  0  0  0  0   0  0  0   0  0  0  0  0
31  26            TRIPURA  0  0  0  0   0  0  0   0  0  0  0  0
32  27      UTTAR PRADESH  0  0  0  0   0  0  0   0  0  0  0  0
33  28        UTTARAKHAND  0  0  0  0   0  0  0   0  0  0  0  0
34  29        WEST BENGAL  0  0  0  0   0  0  0   0  0  0  0  0
35         TOTAL (STATES)  3  0  0  3  14  0  0  14  0  0  0  0
36      UNION TERRITORIES
37  30      A & N ISLANDS  0  0  0  0   0  0  0   0  0  0  0  0
38  31         CHANDIGARH  0  0  0  0   0  0  0   0  0  0  0  0
39  32       D & N HAVELI  0  0  0  0   0  0  0   0  0  0  0  0
40  33        DAMAN & DIU  0  0  0  0   0  0  0   0  0  0  0  0
41  34         DELHI (UT)  1  0  0  1   0  0  0   0  0  0  0  0
42  35        LAKSHADWEEP  0  0  0  0   0  0  0   0  0  0  0  0
43  36         PUDUCHERRY  0  0  0  0   0  0  0   0  0  0  0  0
44            TOTAL (UTs)  1  0  0  1   0  0  0   0  0  0  0  0
45      TOTAL (ALL INDIA)  4  0  0  4  14  0  0  14  0  0  0  0

Page No:  2
    0                  1   2  3  4   5   6  7  8   9    10 11 12   13
2                  STATES
3    1     ANDHRA PRADESH   1  0  0   1   2  0  0   2    3  0  0    3
4    2  ARUNACHAL PRADESH   0  0  0   0   7  0  0   7    7  0  0    7
5    3              ASSAM   3  0  0   3   0  0  0   0    3  0  0    3
6    4              BIHAR   1  0  0   1   1  0  0   1    2  0  0    2
7    5       CHHATTISGARH   0  0  0   0   6  0  0   6   14  0  0   14
8    6                GOA   0  0  0   0   0  0  0   0    0  0  0    0
9    7            GUJARAT   0  0  0   0   1  0  0   1    1  0  0    1
10   8            HARYANA   0  0  0   0   0  0  0   0    0  0  0    0
11   9   HIMACHAL PRADESH   0  0  0   0   0  0  0   0    0  0  0    0
12  10    JAMMU & KASHMIR   3  0  0   3  16  0  0  16   26  0  0   26
13  11          JHARKHAND   0  0  0   0   0  0  0   0    0  0  0    0
14  12          KARNATAKA   0  0  0   0   0  0  0   0    0  0  0    0
15  13             KERALA   0  0  0   0   2  0  0   2    2  0  0    2
16  14     MADHYA PRADESH   2  1  0   3   3  0  0   3    5  1  0    6
17  15        MAHARASHTRA   0  0  0   0   2  0  0   2    3  0  0    3
18  16            MANIPUR   2  0  0   2   6  0  0   6    8  0  0    8
19  17          MEGHALAYA   0  0  0   0   0  0  0   0    0  0  0    0
20  18            MIZORAM   0  0  0   0   0  0  0   0    0  0  0    0
21  19           NAGALAND   0  0  0   0   1  0  0   1    1  0  0    1
22  20             ODISHA   0  0  0   0   0  0  0   0    0  0  0    0
23  21             PUNJAB   0  0  0   0   1  0  0   1    1  0  0    1
24  22          RAJASTHAN   5  0  0   5  10  0  0  10   15  0  0   15
25  23             SIKKIM   0  0  0   0   1  0  0   1    2  0  0    2
26  24         TAMIL NADU   1  1  0   2   0  0  0   0    1  1  0    2
27  25          TELANGANA   0  0  0   0   0  0  0   0    0  0  0    0
28  26            TRIPURA   0  0  0   0   0  0  0   0    0  0  0    0
29  27      UTTAR PRADESH   0  0  0   0   0  0  0   0    0  0  0    0
30  28        UTTARAKHAND   0  0  0   0   0  0  0   0    0  0  0    0
31  29        WEST BENGAL   0  0  0   0   0  0  0   0    0  0  0    0
32         TOTAL (STATES)  18  2  0  20  59  0  0  59   94  2  0   96
33      UNION TERRITORIES
34  30      A & N ISLANDS   0  0  0   0   0  0  0   0    0  0  0    0
35  31         CHANDIGARH   0  0  0   0   0  0  0   0    0  0  0    0
36  32       D & N HAVELI   0  0  0   0   0  0  0   0    0  0  0    0
37  33        DAMAN & DIU   0  0  0   0   0  0  0   0    0  0  0    0
38  34         DELHI (UT)   4  0  0   4   3  0  0   3    8  0  0    8
39  35        LAKSHADWEEP   0  0  0   0   0  0  0   0    0  0  0    0
40  36         PUDUCHERRY   0  0  0   0   0  0  0   0    0  0  0    0
41            TOTAL (UTs)   4  0  0   4   3  0  0   3    8  0  0    8
42      TOTAL (ALL INDIA)  22  2  0  24  62  0  0  62  102  2  0  104

In [12]:
# List of Column headers as column are nested, i.e exhibit a multi level/index structure
# The multi level structre will be generated and applied in the next 
column_header = [
    ['Deaths due to Forces of Nature','Killed in Action/Operation/Encounters/etc.','Fratricide'],
    ['Deaths due to Road/Railway Accidents','Deaths Due to Other Causes','Total']
]
len(column_header)

2

In [13]:
def set_Column(df, title):
    column_list = [
        ("Sl. No.",''),
        ("State/UT",''), 
        (title[0],'Male'),
        (title[0],'Female'),
        (title[0],'Transgender'),
        (title[0],'Total'),
        (title[1],'Male'),
        (title[1],'Female'),
        (title[1],'Transgender'),
        (title[1],'Total'),
        (title[2],'Male'),
        (title[2],'Female'),
        (title[2],'Transgender'),
        (title[2],'Total'),
    ]
    df.columns = pd.MultiIndex.from_tuples(column_list)

In [14]:
for i in range(len(tables)):
    set_Column(tables[i].df, column_header[i])
    tables[i].df.set_index(["Sl. No.","State/UT"],inplace=True)

In [15]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
# tables[23].df

In [16]:
# Convert List of tables to list of DataFrames
DataFrames = [each.df.copy() for each in tables]
# Concat all the tables one after the other, as they all have the same indexes.
final = pd.concat(DataFrames,axis=1)

In [17]:
# Reset Index before saving file, for better formatting in RAW CSV
final.reset_index().to_csv("Other Causes-wise Number of Cases, Persons Injured & Persons Died during 2019 (State & UT-wise).csv",index=False)