In [4]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [5]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.7_2019.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

## What the structure of the final DataFrame is supposed to look like after stitching(concatinating)?

| tableA   | tableB   | tableC   |
| -------- | -------- | -------- |
| Page1    | Page3    | Page5    |
| Page2    | Page4    | Page6    |

In [6]:
import numpy as np
import pandas as pd
import camelot

In [7]:
fileName

'Table-1.7_2019.pdf'

In [163]:
#Scraping Pages 1 to 3
tables = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=["21.162649434571893,728.5539356601939,582.9347980613894,115.0160479455716"],
                          columns=["44.2491760904685,174.11088852988692,207.7787399030695,246.25628432956384,274.15250403877224,307.8203554119548,346.29789983844915,381.88962843295644,409.7858481421648,447.30145395799684,482.8931825525041,518.4849111470114,546.3811308562198"],
                          split_text=True,
                          row_tol=12,
                          pages="1-3"
                         )

In [158]:
tables

In [159]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [ ]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
printnAllTables(tables)

In [160]:
# Removes Garbage Rows that may have been detected Before the 'Air Crash' or 'Sudden Deaths (Total)' row
# AND
# Removes Garbage Rows that may have been detected after the 'TOTAL' or 'Stampede' row
def clean(table):
    while(table.df.iloc[0,1] not in  ['Air Crash','Sudden Deaths (Total)']):
        table.df = table.df.iloc[1:]
    while(table.df.iloc[-1,1] not in  ['Total', 'Stampede']):
        table.df = table.df.iloc[:-1]
    # The Return line is unnecessary due to all changes being reflected in the original references
    return table

In [161]:
for each_table in tables:
    clean(each_table)

In [ ]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

In [164]:
#Scraping Page 4
table4 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=["21.162649434571893,713.1626351882904,582.9347980613894,385.13554388084685"],
                          columns=["44.2491760904685,167.37731825525043,204.8929240710824,243.37046849757675,267.4189337641357,305.8964781906301,344.3740226171244,382.8515670436188,409.7858481421648,446.33951534733444,479.04542810985464,517.522972536349,544.4572536348951"],
                          split_text=True,
                          row_tol=12,
                          pages="4"
                         )

In [165]:
table4[0].df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,14,Sudden Deaths (Total),11373,1877,4,13254,14421,2188,2,16611,8323,2182,0,10505
1,,14.1 Heart Attack,6858,893,1,7752,9706,1334,2,11042,5267,1345,0,6612
2,,14.2 Others,4515,984,3,5502,4715,854,0,5569,3056,837,0,3893
3,15,Deaths of Women during \nPregnancy (Total),0,304,0,304,0,17,0,17,0,1,0,1
4,,15.1 Due to Abortions,0,34,0,34,0,7,0,7,0,0,0,0
5,,15.2 Other than Abortions,0,270,0,270,0,10,0,10,0,1,0,1
6,16,Deaths Due to Consumption of \nIllicit/Spuriou...,498,48,0,546,335,25,0,360,98,5,0,103
7,17,Killed / Injured by Animals,292,70,0,362,353,100,0,453,203,73,0,276
8,18,Poisoning (Total),4535,1943,0,6478,3046,1324,0,4370,1186,571,1,1758
9,,18.1 Food Poisoning,236,117,0,353,154,88,0,242,38,42,0,80
10,,18.2 Accidental Intake of \nInsecticides/Pest...,1691,595,0,2286,906,280,0,1186,369,105,1,475
11,,18.3 Poisonous Gases (Total),73,16,0,89,38,7,0,45,8,2,0,10
12,,18.3.1 Carbon Monoxide \n ...,12,4,0,16,4,0,0,4,1,0,0,1
13,,18.3.2 Other Poisonous \n G...,61,12,0,73,34,7,0,41,7,2,0,9
14,,18.4 Snake Bite,1691,930,0,2621,1325,758,0,2083,502,354,0,856
15,,18.5 Animal/Reptiles/ \nInsects Bite,187,75,0,262,150,68,0,218,91,33,0,124
16,,18.6 Other,657,210,0,867,473,123,0,596,178,35,0,213
17,19,Suffocation,348,74,0,422,230,51,0,281,120,28,0,148
18,20,Drug Overdose,203,26,0,229,156,34,0,190,61,9,0,70
19,21,Other than above Causes,14569,3332,4,17905,13064,2563,0,15627,6397,2026,1,8424
20,22,Causes Not Known,4253,885,1,5139,3281,732,0,4013,1744,434,0,2178
21,,Total,106852,21286,10,128148,75235,15456,2,90693,34434,10657,3,45094

In [ ]:
# List of Column headers as column are nested, i.e exhibit a multi level/index structure
# The multi level structre will be generated and applied in the next 
column_header = [
    "Air Crash",
    "Ship Accidents",
    "Collapse of Structure(Total)",
    "Collapse of Structure (Dwelling House/Residential building)",
    "Collapse of Structure (Official/Commercial Building)",
    "Collapse of Structure (Dam)",
    "Collapse of Structure (Bridge)",
    "Collapse of Structure (Others)",
    "Drowning (Total)",
    "Drowning (Boat Capsize)",
    "Drowning (Accidental Falls into Water body)",
    "Drowning (Other Cases)",
    "Electrocution",
    "Accidental Explosion (Total)",
    "Accidental Explosion (Domestic Gas Cylinder)",
    "Accidental Explosion (Industrial Boiler/Gas Cylinder Explosion)",
    "Accidental Explosion (Ammunition Explosion in Armed Forces/Police/CPMF)",
    "Accidental Explosion (Other)",
    "Falls (Total)",
    "Falls (from Height)",
    "Falls (from Vehicles (Automobile like Bus, Trucks, etc.))",
    "Falls (into Manhole)",
    "Falls (into Pit)",
    "Falls (into Borewell)",
    "Falls (Others)",
    "Factory / Machine Accidents",
    "Accidental Fire (Total)",
    "Accidental Fire (Electrical Short Circuit",
    "Accidental Fire (Riot/Agitation)",
    "Accidental Fire (Fireworks)",
    "Accidental Fire (Cooking Gas Cylinder/Stove Burst)",
    "Accidental Fire (Other Causes)",
    "Firearm",
    "Mines or Quarry Disaster",
    "Traffic Accidents (Total)",
    "Road Accidents",
    "Railway Crossing Accidents",
    "Railway Accidents",
    "Stampede",
    "Sudden Deaths (Total)",
    "Sudden Deaths (Heart Attack)",
    "Sudden Deaths (Others)",
    "Deaths of Women during Pregnancy (Total)",
    "Deaths of Women during Pregnancy (Due to Abortions)",
    "Deaths of Women during Pregnancy (Other than Abortions)",
    "Deaths due to Consumption of Illicit/Spurious Liquor",
    "Killed / Injured by Animals",
    "Poisoning (Total)",
    "Poisoning (Food Poisoning)",
    "Poisoning (Accidental Intake of Insecticides/Pesticides)",
    "Poisoning [Poisonous Gases (Total)]",
    "Poisoning [Poisonous Gases (Carbon Monoxide (CO) Gas)]",
    "Poisoning [Poisonous Gases (Other poisonous Gases)]",
    "Poisoning (Snake Bite)",
    "Poisoning (Animal/Reptiles/Insects Bite)",
    "Poisoning (Other)",
    "Suffocation",
    "Drug Overdose",
    "Other than above Causes",
    "Causes Not Known",
    "Total"
]
len(column_header)

In [ ]:
def set_Column(df, title):
    column_list = [
        ("Sl. No.",'',''),
        ("State/UT",'',''), 
        (title,"No. of Cases",''),
        (title,'No. of Persons Injured','Male'),
        (title,'No. of Persons Injured','Female'),
        (title,'No. of Persons Injured','Transgender'),
        (title,'No. of Persons Injured','Total'),
        (title,'No. of Persons Died','Male'),
        (title,'No. of Persons Died','Female'),
        (title,'No. of Persons Died','Transgender'),
        (title,'No. of Persons Died','Total'),
    ]
    df.columns = pd.MultiIndex.from_tuples(column_list)

In [ ]:
for i in range(len(tables)):
    set_Column(tables[i].df, column_header[i])
    tables[i].df.set_index(["Sl. No.","State/UT"],inplace=True)

In [ ]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
# tables[23].df

In [ ]:
# Convert List of tables to list of DataFrames
DataFrames = [each.df.copy() for each in tables]
# Concat all the tables one after the other, as they all have the same indexes.
final = pd.concat(DataFrames,axis=1)

In [ ]:
# Reset Index before saving file, for better formatting in RAW CSV
final.reset_index().to_csv("Other Causes-wise Number of Cases, Persons Injured & Persons Died during 2019 (State & UT-wise).csv",index=False)