In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.7_2019.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

## What the structure of the final DataFrame is supposed to look like after stitching(concatinating)?

| tableA   | tableB   | tableC   |
| -------- | -------- | -------- |
| Page1    | Page3    | Page5    |
| Page2    | Page4    | Page6    |

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-1.7_2019.pdf'

In [5]:
#Scraping Pages 1 to 3
tables = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=["21.162649434571893,728.5539356601939,582.9347980613894,115.0160479455716"],
                          columns=["44.2491760904685,174.11088852988692,207.7787399030695,246.25628432956384,274.15250403877224,307.8203554119548,346.29789983844915,381.88962843295644,409.7858481421648,447.30145395799684,482.8931825525041,518.4849111470114,546.3811308562198"],
                          split_text=True,
                          row_tol=12,
                          strip_text='\n\t',
                          pages="1-3"
                         )

In [6]:
tables

In [7]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [8]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
printnAllTables(tables)

Page No:  1
         0                                                  1       2   \
0   Sl. No.                                              Cause  Male F
1
2       (1)                                                (2)     (3)
3         1                                          Air Crash       0
4         2                                     Ship Accidents       0
5         3                      Collapse of Structure (Total)     141
6            3.1 Collapse of Dwelling House/Residential Bui...     105
7                3.2 Collapse of Official/ Commercial Building       2
8                                          3.3 Collapse of Dam       0
9                                      3.4 Collapse of  Bridge       0
10                                                  3.5 Others      34
11        4                                   Drowning (Total)    3257
12                                            4.1 Boat Capsize      15
13                        4.2 Accidental Falls into  Waterbody    2314
14                                             4.3 Other Cases     928
15        5                                      Electrocution     514
16        6                       Accidental Explosion (Total)      18
17                                   6.1 Domestic Gas Cylinder      13
18               6.2 Industrial Boiler/ Gas Cylinder Explosion       1
19           6.3 Ammunition Explosion in       Armed Forces...       0
20                                                   6.4 Other       4
21        7                                      Falls (Total)     647
22                                        7.1 Fall from Height     409
23           7.2 Fall from Vehicles (Automobile like Bus, T...      58
24                                       7.3 Fall into Manhole       4
25                                           7.4 Fall into Pit      60
26                                     7.5 Fall into Bore well       7
27                                                  7.6 Others     109
28        8                          Factory/Machine Accidents       5
29        9                            Accidental Fire (Total)     277
30                                9.1 Electrical Short circuit      61
31                                          9.2 Riot/Agitation       0
32                                               9.3 Fireworks       5
33                 9.4 Cooking Gas Cylinder/       Stove Burst      39
34                                            9.5 Other Causes     172
35       10                                            Firearm       2
36       11                           Mines or Quarry Disaster       4
37       12                          Traffic Accidents (Total)    3106
38                                         12.1 Road Accidents    2945
39                             12.2 Railway Crossing Accidents      20
40                                      12.3 Railway Accidents     141
41       13                                           Stampede       0
42        â€¢                 As per data provided by States/UTs       .

          3      4     5        6       7     8      9       10       11  \
0   Traemale  ns- T  otal  Male Fe  Trmale  ans-  Total  Male F  Tremale
1        gen    der                     ge  nder                      ge
2      (4) (     5)   (6)      (7)     (8)   (9)   (10)    (11)   (12) (
3          0      0     0        0       0     0      0       1        1
4          0      0     0        0       0     0      0       0        0
5         91      0   232       83      38     0    121     315      116
6         54      0   159       56      30     0     86     208       77
7          3      0     5        5       1     0      6      15        4
8          0      0     0        0       0     0      0       0        0
9          1      0     1        1       1     0      2       5        3
10        33      0    67       21       6     0     27      87       32
11      1294      0  4551     2773     710     0   3483    6657     1522
12        10      0    25       14       5     0     19      44       11
13       893      0  3207     1932     482     0   2414    4497     1027
14       391      0  1319      827     223     0   1050    2116      484
15       164      0   678      739     148     0    887    3882      526
16        31      0    49       34      14     0     48     116       86
17        28      0    41       21      13     0     34      37       70
18         0      0     1        7       0     0      7      29        4
19         1      0     1        0       0     0      0       6        0
20         2      0     6        6       1     0      7      44       12
21       336      1   984      696     214     0    910    4099      630
22       220      1   630      379     130     0    509    2361      352
23        21      0    79      160      23     0    183     969      119
24         1      0     5        9       1     0     10      21        3
25        24      0    84       55      33     0     88     152       56
26         3      0    10        1       2     0      3      13        0
27        67      0   176       92      25     0    117     583      100
28         1      0     6       22      11     0     33     297       26
29       297      0   574      285     351     0    636    1619     1910
30        27      0    88      152      34     0    186     647      100
31         1      0     1        0       0     0      0       0        1
32         6      0    11        5       3     0      8      11        6
33        60      0    99       25      69     0     94     139      490
34       203      0   375      103     245     0    348     822     1313
35         0      0     2        4       1     0      5      93       27
36         1      0     5        1       3     0      4      23        8
37      1207      0  4313    10106    2352     0  12458   50520     6673
38      1134      0  4079     9312    2142     0  11454   43882     5775
39         3      0    23      108      11     0    119     453       53
40        70      0   211      686     199     0    885    6185      845
41         0      0     0        0       0     0      0       0        0
42

      12     13
0   ans-  Total
1   nder
2    13)   (14)
3      0      2
4      0      0
5      0    431
6      0    285
7      0     19
8      0      0
9      0      8
10     0    119
11     3   8182
12     0     55
13     3   5527
14     0   2600
15     0   4408
16     0    202
17     0    107
18     0     33
19     0      6
20     0     56
21     0   4729
22     0   2713
23     0   1088
24     0     24
25     0    208
26     0     13
27     0    683
28     0    323
29     0   3529
30     0    747
31     0      1
32     0     17
33     0    629
34     0   2135
35     0    120
36     0     31
37     3  57196
38     1  49658
39     0    506
40     2   7032
41     0      0
42

Page No:  2
     0                                                  1       2          3   \
0   No.                                                     Male F  emale gen
1   (1)                                                (2)     (3)      (4) (
2    14                              Sudden Deaths (Total)     548        406
3                                        14.1 Heart Attack      51         44
4                                              14.2 Others     497        362
5    15           Deaths of Women during Pregnancy (Total)       0         15
6                                    15.1 Due to Abortions       0          1
7                               15.2 Other  than Abortions       0         14
8    16  Deaths Due to Consumption of Illicit/Spurious ...       3          1
9    17                        Killed / Injured by Animals      46         24
10   18                                  Poisoning (Total)     835        678
11                                     18.1 Food Poisoning      21         19
12       18.2 Accidental Intake of  Insecticides/Pestic...      68         87
13                            18.3 Poisonous Gases (Total)       4          0
14       18.3.1 Carbon Monoxide                      (C...       0          0
15        18.3.2 Other Poisonous                     Gases       4          0
16                                         18.4 Snake Bite     648        483
17                      18.5 Animal/Reptiles/ Insects Bite      63         63
18                                              18.6 Other      31         26
19   19                                        Suffocation      44         44
20   20                                      Drug Overdose       9          1
21   21                            Other than above Causes    1428       1172
22   22                                   Causes Not Known     344        194
23                                                   Total   11228       5957
24    â€¢                 As per data provided by States/UTs       .

      4      5        6        7     8      9       10        11    12      13
0   Tder   otal  Male Fe  male ge  nder  Total  Male F  emale ge  nder   Total
1     5)    (6)      (7)      (8)   (9)   (10)    (11)    (12) (   13)    (14)
2      0    954      414      189     0    603    4146      1222     0    5368
3      0     95       98       25     0    123    1980       401     0    2381
4      0    859      316      164     0    480    2166       821     0    2987
5      0     15        0        8     0      8       0       815     0     815
6      0      1        0        2     0      2       0       156     0     156
7      0     14        0        6     0      6       0       659     0     659
8      0      4       22        8     0     30     232        21     0     253
9      0     70       34       12     0     46     183        35     0     218
10     0   1513      823      682     0   1505    3619      1952     1    5572
11     0     40       58       44     0    102     182       128     0     310
12     0    155      239      287     0    526    1527       806     1    2334
13     0      4        6        2     0      8      72        13     0      85
14     0      0        0        0     0      0      11         5     0      16
15     0      4        6        2     0      8      61         8     0      69
16     0   1131      393      245     0    638    1226       669     0    1895
17     0    126       39       18     0     57     100        58     0     158
18     0     57       88       86     0    174     512       278     0     790
19     0     88       37       61     0     98     429       132     0     561
20     0     10       13       10     0     23     152        30     0     182
21     0   2600     1366      828     0   2194    8792      3032     2   11826
22     0    538      559      257     0    816    3031       950     1    3982
23     1  17186    18011     5897     0  23908   88206     19714    10  107930
24

Page No:  3
     0                                                  1      2        3   \
0   (1)                                                (2)   (15)  (16) (1
1     1                                          Air Crash     10        0
2     2                                     Ship Accidents      0        0
3     3                      Collapse of Structure (Total)    431      155
4        3.1 Collapse of Dwelling     House/Residential...    259       96
5        3.2 Collapse of Official/      Commercial Buil...     42        5
6                                      3.3 Collapse of Dam      0        0
7                                  3.4 Collapse of  Bridge      7        3
8                                               3.5 Others    123       51
9     4                                   Drowning (Total)   6842     1301
10                                        4.1 Boat Capsize     52        4
11                4.2 Accidental Falls into      Waterbody   4549      902
12                                         4.3 Other Cases   2241      395
13    5                                      Electrocution   3773      658
14    6                       Accidental Explosion (Total)    122       90
15                               6.1 Domestic Gas Cylinder     35       67
16       6.2 Industrial Boiler/      Gas Cylinder Explo...     30        6
17       6.3 Ammunition Explosion in       Armed Forces...      6        0
18                                               6.4 Other     51       17
19    7                                      Falls (Total)   5572      912
20                                    7.1 Fall from Height   3241      460
21       7.2 Fall from Vehicles      (Automobile like B...   1116      233
22                                   7.3 Fall into Manhole     31        3
23                                       7.4 Fall into Pit    195       64
24                                  7.5 Fall into Borewell     22        3
25                                              7.6 Others    967      149
26    8                          Factory/Machine Accidents    345       46
27    9                            Accidental Fire (Total)   1517     1799
28                            9.1 Electrical Short circuit    486      109
29                                      9.2 Riot/Agitation      1        0
30                                           9.3 Fireworks     21       15
31             9.4 Cooking Gas Cylinder/       Stove Burst    198      526
32                                        9.5 Other Causes    811     1149
33   10                                            Firearm    100       15
34   11                           Mines or Quarry Disaster     22        6
35   12                          Traffic Accidents (Total)  52046     7743
36                                     12.1 Road Accidents  44284     6698
37                         12.2 Railway Crossing Accidents    498       85
38                                  12.3 Railway Accidents   7264      960
39   13                                           Stampede      1        2
40    â€¢                 As per data provided by States/UTs      .

    4      5      6       7    8      9      10      11   12     13
0   7)   (18)   (19)  (20) (  21)   (22)   (23)  (24) (  25)   (26)
1    0     10      0       0    0      0      0       0    0      0
2    0      0      0       0    0      0      0       0    0      0
3    0    586    278      90    0    368    115      76    0    191
4    0    355    163      61    0    224     76      56    0    132
5    0     47     21       2    0     23      4       0    0      4
6    0      0      0       0    0      0      0       0    0      0
7    0     10      5       0    0      5      0       0    0      0
8    0    174     89      27    0    116     35      20    0     55
9    0   8143   4336     910    0   5246   2160     906    0   3066
10   0     56     36       4    0     40     16       3    0     19
11   0   5451   2891     603    0   3494   1452     626    0   2078
12   0   2636   1409     303    0   1712    692     277    0    969
13   0   4431   1970     375    0   2345    534     149    0    683
14   0    212     60      39    0     99     18      27    0     45
15   0    102      7      25    0     32      4      10    0     14
16   0     36     17       3    0     20      6       0    0      6
17   0      6      6       0    0      6      0       0    0      0
18   0     68     30      11    0     41      8      17    0     25
19   0   6484   4273     753    0   5026   2082     686    0   2768
20   0   3701   2563     381    0   2944   1169     331    0   1500
21   0   1349    654     169    0    823    270     104    0    374
22   0     34     17       2    0     19      8       2    0     10
23   0    259    148      28    0    176     62      22    0     84
24   0     25     10       0    0     10      0       1    0      1
25   0   1116    881     173    0   1054    573     226    0    799
26   0    391    185      26    0    211     30       7    0     37
27   0   3316    791     768    0   1559    458     843    0   1301
28   0    595    234      48    0    282     69      23    0     92
29   0      1      2       0    0      2      0       0    0      0
30   0     36     10       5    0     15      9       6    0     15
31   0    724    124     215    0    339     70     188    0    258
32   0   1960    421     500    0    921    310     626    0    936
33   0    115     55       6    0     61     15       2    0     17
34   0     28     12       1    0     13      1       0    0      1
35   1  59790  28385    5451    0  33836  10888    2631    1  13520
36   1  50983  23608    4464    0  28072   8556    1930    0  10486
37   0    583    333      54    0    387    108      36    0    144
38   0   8224   4444     933    0   5377   2224     665    1   2890
39   0      3      4       3    0      7      1       1    0      2
40

In [9]:
# Removes Garbage Rows that may have been detected Before the 'Air Crash' or 'Sudden Deaths (Total)' row
# AND
# Removes Garbage Rows that may have been detected after the 'TOTAL' or 'Stampede' row
def clean(table):
    while(table.df.iloc[0,1] not in  ['Air Crash','Sudden Deaths (Total)']):
        table.df = table.df.iloc[1:]
    while(table.df.iloc[-1,1] not in  ['Total', 'Stampede']):
        table.df = table.df.iloc[:-1]
    # The Return line is unnecessary due to all changes being reflected in the original references
    return table

In [10]:
for each_table in tables:
    clean(each_table)

In [11]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

In [12]:
#Scraping Page 4
table4 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=["21.162649434571893,713.1626351882904,582.9347980613894,385.13554388084685"],
                          columns=["44.2491760904685,167.37731825525043,204.8929240710824,243.37046849757675,267.4189337641357,305.8964781906301,344.3740226171244,382.8515670436188,409.7858481421648,446.33951534733444,479.04542810985464,517.522972536349,544.4572536348951"],
                          split_text=True,
                          row_tol=12,
                          strip_text='\n\t',
                          pages="4"
                         )
clean(table4[0])

In [13]:
#Scraping Page 5
table5 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=["36.55366720516963,736.2495858961457,542.5333764135703,157.1519056407761"],
                          columns=["59.640193861066244,215.47424878836836,279.9241357027464,342.4501453957997,408.82390953150247,492.5125686591277"],
                          split_text=True,
                          row_tol=12,
                          strip_text='\n\t',
                          pages="5"
                         )
clean(table5[0])

In [14]:
#Scraping Page 6
table6 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=["36.55366720516963,697.7392773354907,544.4572536348951,357.20675439462553"],
                          columns=["63.487948303715676,211.62649434571892,279.9241357027464,343.41208400646207,412.6716639741519,492.5125686591277"],
                          split_text=True,
                          row_tol=12,
                          strip_text='\n\t',
                          pages="6"
                         )
clean(table6[0])

In [15]:
df1 = tables[0].df
df2 = tables[1].df
df3 = tables[2].df
df4 = table4[0].df
df5 = table5[0].df
df6 = table6[0].df

In [16]:
tableA = pd.concat([df1,df2],axis=0)
tableB = pd.concat([df3,df4],axis=0)
tableC = pd.concat([df5,df6],axis=0)

In [17]:
# To Rename the columns accordingly
tableAColumnList = [
    ("Sl. No.",''),
    ("State/UT",''), 
    ('Below 14 years','Male'),
    ('Below 14 years','Female'),
    ('Below 14 years','Transgender'),
    ('Below 14 years','Total'),
    ('14 and Above â€“ Below 18 years','Male'),
    ('14 and Above â€“ Below 18 years','Female'),
    ('14 and Above â€“ Below 18 years','Transgender'),
    ('14 and Above â€“ Below 18 years','Total'),
    ('18 and Above â€“ Below 30 years','Male'),
    ('18 and Above â€“ Below 30 years','Female'),
    ('18 and Above â€“ Below 30 years','Transgender'),
    ('18 and Above â€“ Below 30 years','Total')
]
tableA.columns = pd.MultiIndex.from_tuples(tableAColumnList)
tableA.set_index(["Sl. No.","State/UT"],inplace=True)

tableBColumnList = [
    ("Sl. No.",''),
    ("State/UT",''), 
    ('30 and Above â€“ Below 45 years','Male'),
    ('30 and Above â€“ Below 45 years','Female'),
    ('30 and Above â€“ Below 45 years','Transgender'),
    ('30 and Above â€“ Below 45 years','Total'),
    ('45 and Above â€“ Below 60 years','Male'),
    ('45 and Above â€“ Below 60 years','Female'),
    ('45 and Above â€“ Below 60 years','Transgender'),
    ('45 and Above â€“ Below 60 years','Total'),
    ('60 years & Above','Male'),
    ('60 years & Above','Female'),
    ('60 years & Above','Transgender'),
    ('60 years & Above','Total')
]
tableB.columns = pd.MultiIndex.from_tuples(tableBColumnList)
tableB.set_index(["Sl. No.","State/UT"],inplace=True)

tableCColumnList = [
    ("Sl. No.",''),
    ("State/UT",''), 
    ('Total','Male'),
    ('Total','Female'),
    ('Total','Transgender'),
    ('Total','Total'),
    ('Total','Percentage Share')
]
tableC.columns = pd.MultiIndex.from_tuples(tableCColumnList)
tableC.set_index(["Sl. No.","State/UT"],inplace=True)

In [18]:
# Rename indexes to bring uniformity when joining/concatenating
tableB.index = tableA.index.copy()
tableC.index = tableA.index.copy()

In [19]:
# Create Final Table using joins on the 2 indexes we selected
final = tableA.join(tableB,on=["Sl. No.","State/UT"]).join(tableC,on=["Sl. No.","State/UT"])
final.head()

                                                           Below 14 years  \
                                                                     Male
Sl. No. State/UT
1       Air Crash                                                       0
2       Ship Accidents                                                  0
3       Collapse of Structure (Total)                                 141
        3.1 Collapse of Dwelling House/Residential Buil...            105
        3.2 Collapse of Official/ Commercial Building                   2

                                                                               \
                                                           Female Transgender
Sl. No. State/UT
1       Air Crash                                               0           0
2       Ship Accidents                                          0           0
3       Collapse of Structure (Total)                          91           0
        3.1 Collapse of Dwelling House/Residential Buil...     54           0
        3.2 Collapse of Official/ Commercial Building           3           0

                                                                  \
                                                           Total
Sl. No. State/UT
1       Air Crash                                              0
2       Ship Accidents                                         0
3       Collapse of Structure (Total)                        232
        3.1 Collapse of Dwelling House/Residential Buil...   159
        3.2 Collapse of Official/ Commercial Building          5

                                                           14 and Above â€“ Below 18 years  \
                                                                                    Male
Sl. No. State/UT
1       Air Crash                                                                      0
2       Ship Accidents                                                                 0
3       Collapse of Structure (Total)                                                 83
        3.1 Collapse of Dwelling House/Residential Buil...                            56
        3.2 Collapse of Official/ Commercial Building                                  5

                                                                               \
                                                           Female Transgender
Sl. No. State/UT
1       Air Crash                                               0           0
2       Ship Accidents                                          0           0
3       Collapse of Structure (Total)                          38           0
        3.1 Collapse of Dwelling House/Residential Buil...     30           0
        3.2 Collapse of Official/ Commercial Building           1           0

                                                                  \
                                                           Total
Sl. No. State/UT
1       Air Crash                                              0
2       Ship Accidents                                         0
3       Collapse of Structure (Total)                        121
        3.1 Collapse of Dwelling House/Residential Buil...    86
        3.2 Collapse of Official/ Commercial Building          6

                                                           18 and Above â€“ Below 30 years  \
                                                                                    Male
Sl. No. State/UT
1       Air Crash                                                                      1
2       Ship Accidents                                                                 0
3       Collapse of Structure (Total)                                                315
        3.1 Collapse of Dwelling House/Residential Buil...                           208
        3.2 Collapse of Official/ Commercial Building                                 15

                                                                   ...  \
                                                           Female  ...
Sl. No. State/UT                                                   ...
1       Air Crash                                               1  ...
2       Ship Accidents                                          0  ...
3       Collapse of Structure (Total)                         116  ...
        3.1 Collapse of Dwelling House/Residential Buil...     77  ...
        3.2 Collapse of Official/ Commercial Building           4  ...

                                                           45 and Above â€“ Below 60 years  \
                                                                                   Total
Sl. No. State/UT
1       Air Crash                                                                      0
2       Ship Accidents                                                                 0
3       Collapse of Structure (Total)                                                368
        3.1 Collapse of Dwelling House/Residential Buil...                           224
        3.2 Collapse of Official/ Commercial Building                                 23

                                                           60 years & Above  \
                                                                       Male
Sl. No. State/UT
1       Air Crash                                                         0
2       Ship Accidents                                                    0
3       Collapse of Structure (Total)                                   115
        3.1 Collapse of Dwelling House/Residential Buil...               76
        3.2 Collapse of Official/ Commercial Building                     4

                                                                               \
                                                           Female Transgender
Sl. No. State/UT
1       Air Crash                                               0           0
2       Ship Accidents                                          0           0
3       Collapse of Structure (Total)                          76           0
        3.1 Collapse of Dwelling House/Residential Buil...     56           0
        3.2 Collapse of Official/ Commercial Building           0           0

                                                                 Total         \
                                                           Total  Male Female
Sl. No. State/UT
1       Air Crash                                              0    11      1
2       Ship Accidents                                         0     0      0
3       Collapse of Structure (Total)                        191  1363    566
        3.1 Collapse of Dwelling House/Residential Buil...   132   867    374
        3.2 Collapse of Official/ Commercial Building          4    89     15

                                                                              \
                                                           Transgender Total
Sl. No. State/UT
1       Air Crash                                                    0    12
2       Ship Accidents                                               0     0
3       Collapse of Structure (Total)                                0  1929
        3.1 Collapse of Dwelling House/Residential Buil...           0  1241
        3.2 Collapse of Official/ Commercial Building                0   104


                                                           Percentage Share
Sl. No. State/UT
1       Air Crash                                                       0.0
2       Ship Accidents                                                  0.0
3       Collapse of Structure (Total)                                   0.5
        3.1 Collapse of Dwelling House/Residential Buil...              0.3
        3.2 Collapse of Official/ Commercial Building                   0.0

[5 rows x 29 columns]

In [20]:
# Interate through entire IndexList to get the rows whose States need to be split
# e.g 
# Sl. No      State
#             7.1 Fall from Height
#         to
# Sl. No      State
# 7.1         Fall from Height

i = 0
for index, each in final["Below 14 years"].iterrows():
    print(i, index)
    i+=1

0 ('1', 'Air Crash')
1 ('2', 'Ship Accidents')
2 ('3', 'Collapse of Structure (Total)')
3 ('', '3.1 Collapse of Dwelling House/Residential Building')
4 ('', '3.2 Collapse of Official/ Commercial Building')
5 ('', '3.3 Collapse of Dam')
6 ('', '3.4 Collapse of  Bridge')
7 ('', '3.5 Others')
8 ('4', 'Drowning (Total)')
9 ('', '4.1 Boat Capsize')
10 ('', '4.2 Accidental Falls into  Waterbody')
11 ('', '4.3 Other Cases')
12 ('5', 'Electrocution')
13 ('6', 'Accidental Explosion (Total)')
14 ('', '6.1 Domestic Gas Cylinder')
15 ('', '6.2 Industrial Boiler/ Gas Cylinder Explosion')
16 ('', '6.3 Ammunition Explosion in       Armed Forces/Police/CPMF')
17 ('', '6.4 Other')
18 ('7', 'Falls (Total)')
19 ('', '7.1 Fall from Height')
20 ('', '7.2 Fall from Vehicles (Automobile like Bus, Trucks, etc.)')
21 ('', '7.3 Fall into Manhole')
22 ('', '7.4 Fall into Pit')
23 ('', '7.5 Fall into Bore well')
24 ('', '7.6 Others')
25 ('8', 'Factory/Machine Accidents')
26 ('9', 'Accidental Fire (Total)')
27 ('', '9.1 Electrical Short circuit')
28 ('', '9.2 Riot/Agitation')
29 ('', '9.3 Fireworks')
30 ('', '9.4 Cooking Gas Cylinder/       Stove Burst')
31 ('', '9.5 Other Causes')
32 ('10', 'Firearm')
33 ('11', 'Mines or Quarry Disaster')
34 ('12', 'Traffic Accidents (Total)')
35 ('', '12.1 Road Accidents')
36 ('', '12.2 Railway Crossing Accidents')
37 ('', '12.3 Railway Accidents')
38 ('13', 'Stampede')
39 ('14', 'Sudden Deaths (Total)')
40 ('', '14.1 Heart Attack')
41 ('', '14.2 Others')
42 ('15', 'Deaths of Women during Pregnancy (Total)')
43 ('', '15.1 Due to Abortions')
44 ('', '15.2 Other  than Abortions')
45 ('16', 'Deaths Due to Consumption of Illicit/Spurious Liquor')
46 ('17', 'Killed / Injured by Animals')
47 ('18', 'Poisoning (Total)')
48 ('', '18.1 Food Poisoning')
49 ('', '18.2 Accidental Intake of  Insecticides/Pesticides')
50 ('', '18.3 Poisonous Gases (Total)')
51 ('', '18.3.1 Carbon Monoxide                      (CO) Gas')
52 ('', '18.3.2 Other Poisonous                     Gases')
53 ('', '18.4 Snake Bite')
54 ('', '18.5 Animal/Reptiles/ Insects Bite')
55 ('', '18.6 Other')
56 ('19', 'Suffocation')
57 ('20', 'Drug Overdose')
58 ('21', 'Other than above Causes')
59 ('22', 'Causes Not Known')
60 ('', 'Total')

Such index ranges are:
1. 3-7
2. 9-11
3. 14-17
4. 19-24
5. 27-31
6. 35-37
7. 40-41
8. 43-44
9. 48-55

In [21]:
final = final.reset_index()

In [22]:
def split_by_first_space(DF, strIndex, stpIndex):
    df = DF.iloc[strIndex:stpIndex+1].copy()
    for index, each in df.iterrows():
            space = each["State/UT"][0].find(' ')
            i = each["State/UT"][0][:space]
            val = each["State/UT"][0][space:]
            each["Sl. No."] = i
            each["State/UT"] = val
    DF[strIndex:stpIndex+1] = df.copy()
        
split_by_first_space(final,3,7)
split_by_first_space(final,9,11)
split_by_first_space(final,14,17)
split_by_first_space(final,19,24)
split_by_first_space(final,27,31)
split_by_first_space(final,35,37)
split_by_first_space(final,40,41)
split_by_first_space(final,43,44)
split_by_first_space(final,48,55)

In [23]:
final.head()

  Sl. No.                                          State/UT Below 14 years  \
                                                                      Male
0       1                                         Air Crash              0
1       2                                    Ship Accidents              0
2       3                     Collapse of Structure (Total)            141
3     3.1   Collapse of Dwelling House/Residential Building            105
4     3.2         Collapse of Official/ Commercial Building              2

                           14 and Above â€“ Below 18 years                     \
  Female Transgender Total                          Male Female Transgender
0      0           0     0                             0      0           0
1      0           0     0                             0      0           0
2     91           0   232                            83     38           0
3     54           0   159                            56     30           0
4      3           0     5                             5      1           0

         ... 45 and Above â€“ Below 60 years 60 years & Above         \
  Total  ...                         Total             Male Female
0     0  ...                             0                0      0
1     0  ...                             0                0      0
2   121  ...                           368              115     76
3    86  ...                           224               76     56
4     6  ...                            23                4      0

                    Total
  Transgender Total  Male Female Transgender Total Percentage Share
0           0     0    11      1           0    12              0.0
1           0     0     0      0           0     0              0.0
2           0   191  1363    566           0  1929              0.5
3           0   132   867    374           0  1241              0.3
4           0     4    89     15           0   104              0.0

[5 rows x 31 columns]

In [24]:
# Reset Index before saving file, for better formatting in RAW CSV
final.to_csv("Other Causes-wise Number of Cases, Persons Injured & Persons Died during 2019 (State & UT-wise).csv",index=False)