In [1]:
import wget
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.10_2019.pdf'
fileName = wget.download(pdf_url)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-1.10_2019.pdf'

In [5]:
tables = camelot.read_pdf(fileName,
                          flavor='stream', 
                          row_tol=20,
                          column_tol=2,
                          table_areas=["41.84432956381261,659.2930835366282,568.0247495961229,229.29862660282382"],
                          strip_text='\n\t',
                          split_text=True)

In [6]:
tables[0].df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,(1),(2),(3),(4),(5),(6),(7),(8),(9),(10),(11),(12),(13),(14)
1,1,Fire in School Buildings,7,23,228.6,0,0,0,0,12,16,0,28,0.3
2,2,Fire in Commercial Buildings,367,328,-10.6,19,5,0,24,189,141,0,330,3.0
3,3,Fire in Residential/Dwelling Buildings,7241,6364,-12.1,222,99,0,321,2698,3631,0,6329,58.0
4,4,Fire in Government Buildings,24,60,150.0,0,1,0,1,47,7,0,54,0.5
5,5,Fire in the Mines,13,2,-84.6,0,0,0,0,2,0,0,2,0.0
6,6,Fire in Factory Manufacturing Combustible Mate...,51,27,-47.1,2,1,0,3,21,12,0,33,0.3
7,7,Fire in the Factories (other than Sl.– 6),184,181,-1.6,27,5,0,32,102,75,0,177,1.6
8,8,Accidental Fire in Train(s),9,8,-11.1,2,0,0,2,6,1,0,7,0.1
9,9,Accidental Fire in Vehicles (Automobiles) (Total),502,257,-48.8,19,6,0,25,87,65,0,152,1.4
10,,9.1 Passenger Vehicle (e.g. Bus/Taxi...,175,63,-64.0,5,3,0,8,26,13,0,39,0.4
11,,9.2 Private Vehicle,146,136,-6.8,10,3,0,13,27,41,0,68,0.6
12,,9.3 Goods Carriers,181,58,-68.0,4,0,0,4,34,11,0,45,0.4
13,10,Others,4701,3787,-19.4,22,11,0,33,1783,2020,0,3803,34.8
14,11,Total,13099,11037,-15.7,313,128,0,441,4947,5968,0,10915,100.0

In [7]:
def split_by_first_space(df, strIndex, stpIndex):
    df = df.iloc[strIndex:stpIndex+1]
    for index, each in df.iterrows():
        space = each[1].find(' ')
        each[0] = each[1][:space]
        each[1] = each[1][space:]

In [8]:
split_by_first_space(tables[0].df,10,12)

In [9]:
columns=[("Sl. No.",""),
         ("Cause",""),
         ("No. of Cases","2018"),
         ("No. of Cases","2019"),
         ("No. of Cases","% Var."),
         ('Persons Injured - 2019','Male'),
         ('Persons Injured - 2019','Female'),
         ('Persons Injured - 2019','Transgender'),
         ('Persons Injured - 2019','Total'),
         ('Persons Died - 2019','Male'),
         ('Persons Died - 2019','Female'),
         ('Persons Died - 2019','Transgender'),
         ('Persons Died - 2019','Total'),
         ("Percentage Share in Deaths","")
    ]
tables[0].df.columns = pd.MultiIndex.from_tuples(columns)

In [10]:
tables[0].df.drop(0,inplace=True)

In [11]:
tables[0].df

   Sl. No.                                              Cause No. of Cases  \
                                                                      2018
1        1                           Fire in School Buildings            7
2        2                       Fire in Commercial Buildings          367
3        3             Fire in Residential/Dwelling Buildings         7241
4        4                       Fire in Government Buildings           24
5        5                                  Fire in the Mines           13
6        6  Fire in Factory Manufacturing Combustible Mate...           51
7        7          Fire in the Factories (other than Sl.– 6)          184
8        8                        Accidental Fire in Train(s)            9
9        9  Accidental Fire in Vehicles (Automobiles) (Total)          502
10     9.1   Passenger Vehicle (e.g.           Bus/Taxi/Au...          175
11     9.2                                    Private Vehicle          146
12     9.3                                     Goods Carriers          181
13      10                                             Others         4701
14      11                                              Total        13099

                 Persons Injured - 2019                           \
     2019 % Var.                   Male Female Transgender Total
1      23  228.6                      0      0           0     0
2     328  -10.6                     19      5           0    24
3    6364  -12.1                    222     99           0   321
4      60  150.0                      0      1           0     1
5       2  -84.6                      0      0           0     0
6      27  -47.1                      2      1           0     3
7     181   -1.6                     27      5           0    32
8       8  -11.1                      2      0           0     2
9     257  -48.8                     19      6           0    25
10     63  -64.0                      5      3           0     8
11    136   -6.8                     10      3           0    13
12     58  -68.0                      4      0           0     4
13   3787  -19.4                     22     11           0    33
14  11037  -15.7                    313    128           0   441

   Persons Died - 2019                           Percentage Share in Deaths
                  Male Female Transgender  Total
1                   12     16           0     28                        0.3
2                  189    141           0    330                        3.0
3                 2698   3631           0   6329                       58.0
4                   47      7           0     54                        0.5
5                    2      0           0      2                        0.0
6                   21     12           0     33                        0.3
7                  102     75           0    177                        1.6
8                    6      1           0      7                        0.1
9                   87     65           0    152                        1.4
10                  26     13           0     39                        0.4
11                  27     41           0     68                        0.6
12                  34     11           0     45                        0.4
13                1783   2020           0   3803                       34.8
14                4947   5968           0  10915                      100.0

In [12]:
tables[0].df.to_csv("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(All_India).csv", index = False)