In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-2.6_2019_0.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-2.6_2019_0.pdf'

In [5]:
tables = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "58.82714054927302,690.5591350927103,578.8788368336026,135.89712897573884"
                              ],
                          columns=[
                              "86.01615508885298,272.8788368336026,324.2907915993538,380.64620355411955,437.0016155088853,503.2439418416801"
                              ],
                          split_text=True,
                          row_tol=13,
                          strip_text='\n',
                          pages="all"
                         )

In [6]:
tables

In [7]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [8]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
printnAllTables(tables)

Page No:  1
     0                                                  1      2      3   4  \
0    1                                         House wife      0  21359   0
1    2             Professionals/Salaried Persons (Total)  11222   1503   0
2                         2.1 Government Servants (Total)   1428    256   0
3                         2.1.1 Central/UT Govt. Servants    254     53   0
4                             2.1.2 State  Govt. Servants    835    133   0
5                         2.1.3 Other Statutory Body/etc.    339     70   0
6                          2.2 Private Sector Enterprises   7799    931   0
7                           2.3 Public Sector Undertaking   1995    316   0
8    3                                           Students   5562   4772   1
9    4                                 Unemployed Persons  11599   2416   4
10   5                      Self-employed Persons (Total)  14319   1777   2
11                                   5.1 Business (Total)   8477    574   1
12                                           5.1.1 Vendor   3066    285   0
13                                        5.1.2 Tradesmen   2798    107   1
14                                   5.1.3 Other Business   2613    182   0
15                        5.2 Other Self-employed Persons   5842   1203   1
16   6                  Persons Engaged in Farming Sector   9312    969   0
17                                6.1 Farmers/Cultivators   5563    394   0
18      6.1.1  who cultivate their own land with or wi...   4801    328   0
19                                 agricultural labourers
20      6.1.2  who cultivate on leased land/work on le...
21      by different nomenclature) with or without ass...    762     66   0
22                                              labourers
23                             6.2 Agricultural Labourers   3749    575   0
24   7                                  Daily Wage Earner  29092   3467   4
25   8                                    Retired Persons   1177    125   0
26   9                                      Other Persons  15330   5105   6
27  10                                              Total  97613  41493  17

         5      6
0    21359   15.4
1    12725    9.1
2     1684    1.2
3      307    0.2
4      968    0.7
5      409    0.3
6     8730    6.3
7     2311    1.7
8    10335    7.4
9    14019   10.1
10   16098   11.6
11    9052    6.5
12    3351    2.4
13    2906    2.1
14    2795    2.0
15    7046    5.1
16   10281    7.4
17    5957    4.3
18    5129    3.7
19
20
21     828    0.6
22
23    4324    3.1
24   32563   23.4
25    1302    0.9
26   20441   14.7
27  139123  100.0

In [9]:
# Removes Garbage Rows that may have been detected Before the 'STATES' row
# AND
# Removes Garbage Rows that may have been detected after the 'TOTAL (ALL INDIA)' row
def clean(table):
    while(table.df.iloc[0,1] != 'STATES'):
        table.df = table.df.iloc[1:]
    while(table.df.iloc[-1,1] != 'TOTAL (ALL INDIA)'):
        table.df = table.df.iloc[:-1]
    # The Return line is unnecessary due to all changes being reflected in the original references
    return table

In [10]:
def mergeRows(df, strIndex, stpIndex):
    DF = df.loc[strIndex:stpIndex]
    df = DF.T
    l = []
    for index, each in df.iterrows():
        output = ''
        for ind, cell in each.iteritems():
            output += (str(cell) + ' ')
#         if(output == ''):
#             continue
        l.append(output.strip())
    l = pd.Series(l,name=str(strIndex))
    DF.loc[strIndex] = l

In [11]:
mergeRows(tables[0].df,18,19)
mergeRows(tables[0].df,20,22)
tables[0].df.drop(index=19, inplace=True)
tables[0].df.drop(index=[21,22], inplace=True)

In [12]:
# Reset Indexes
tables[0].df.index = range(len(tables[0].df))
tables[0].df

,0,1,2,3,4,5,6
0,1,House wife,0,21359,0,21359,15.4
1,2,Professionals/Salaried Persons (Total),11222,1503,0,12725,9.1
2,,2.1 Government Servants (Total),1428,256,0,1684,1.2
3,,2.1.1 Central/UT Govt. Servants,254,53,0,307,0.2
4,,2.1.2 State Govt. Servants,835,133,0,968,0.7
5,,2.1.3 Other Statutory Body/etc.,339,70,0,409,0.3
6,,2.2 Private Sector Enterprises,7799,931,0,8730,6.3
7,,2.3 Public Sector Undertaking,1995,316,0,2311,1.7
8,3,Students,5562,4772,1,10335,7.4
9,4,Unemployed Persons,11599,2416,4,14019,10.1
10,5,Self-employed Persons (Total),14319,1777,2,16098,11.6
11,,5.1 Business (Total),8477,574,1,9052,6.5
12,,5.1.1 Vendor,3066,285,0,3351,2.4
13,,5.1.2 Tradesmen,2798,107,1,2906,2.1
14,,5.1.3 Other Business,2613,182,0,2795,2.0
15,,5.2 Other Self-employed Persons,5842,1203,1,7046,5.1
16,6,Persons Engaged in Farming Sector,9312,969,0,10281,7.4
17,,6.1 Farmers/Cultivators,5563,394,0,5957,4.3
18,,6.1.1 who cultivate their own land with or wi...,4801,328,0,5129,3.7
19,,6.1.2 who cultivate on leased land/work on le...,762,66,0,828,0.6
20,,6.2 Agricultural Labourers,3749,575,0,4324,3.1
21,7,Daily Wage Earner,29092,3467,4,32563,23.4
22,8,Retired Persons,1177,125,0,1302,0.9
23,9,Other Persons,15330,5105,6,20441,14.7
24,10,Total,97613,41493,17,139123,100.0

In [13]:
# Splits the second column into 1st column index and 2nd column test when faulty/required
def split_by_first_space(df, strIndex, stpIndex):
    df = df.iloc[strIndex:stpIndex+1]
    for index, each in df.iterrows():
        space = each[1].find(' ')
        each[0] = each[1][:space]
        each[1] = each[1][space:]

In [14]:
split_by_first_space(tables[0].df, 2, 7)
split_by_first_space(tables[0].df, 11, 15)
split_by_first_space(tables[0].df, 17, 20)

In [15]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
printnAllTables(tables)

Page No:  1
        0                                                  1      2      3  \
0       1                                         House wife      0  21359
1       2             Professionals/Salaried Persons (Total)  11222   1503
2     2.1                        Government Servants (Total)   1428    256
3   2.1.1                          Central/UT Govt. Servants    254     53
4   2.1.2                              State  Govt. Servants    835    133
5   2.1.3                          Other Statutory Body/etc.    339     70
6     2.2                         Private Sector Enterprises   7799    931
7     2.3                          Public Sector Undertaking   1995    316
8       3                                           Students   5562   4772
9       4                                 Unemployed Persons  11599   2416
10      5                      Self-employed Persons (Total)  14319   1777
11    5.1                                   Business (Total)   8477    574
12  5.1.1                                             Vendor   3066    285
13  5.1.2                                          Tradesmen   2798    107
14  5.1.3                                     Other Business   2613    182
15    5.2                        Other Self-employed Persons   5842   1203
16      6                  Persons Engaged in Farming Sector   9312    969
17    6.1                                Farmers/Cultivators   5563    394
18  6.1.1    who cultivate their own land with or without...   4801    328
19  6.1.2    who cultivate on leased land/work on lease/o...    762     66
20    6.2                             Agricultural Labourers   3749    575
21      7                                  Daily Wage Earner  29092   3467
22      8                                    Retired Persons   1177    125
23      9                                      Other Persons  15330   5105
24     10                                              Total  97613  41493

     4       5      6
0    0   21359   15.4
1    0   12725    9.1
2    0    1684    1.2
3    0     307    0.2
4    0     968    0.7
5    0     409    0.3
6    0    8730    6.3
7    0    2311    1.7
8    1   10335    7.4
9    4   14019   10.1
10   2   16098   11.6
11   1    9052    6.5
12   0    3351    2.4
13   1    2906    2.1
14   0    2795    2.0
15   1    7046    5.1
16   0   10281    7.4
17   0    5957    4.3
18   0    5129    3.7
19   0     828    0.6
20   0    4324    3.1
21   4   32563   23.4
22   0    1302    0.9
23   6   20441   14.7
24  17  139123  100.0

In [16]:
def set_Column(df):
    column_list = [
        ("Sl. No."),
        ("Profession"),
        ("Male"),
        ("Female"),
        ("Transgender"),
        ("Total"),
        ("Percentage Share"),
        
    ]
    df.columns = column_list

In [17]:
for i in range(len(tables)):
    set_Column(tables[i].df)

In [18]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
tables[0].df

,Sl. No.,Profession,Male,Female,Transgender,Total,Percentage Share
0,1,House wife,0,21359,0,21359,15.4
1,2,Professionals/Salaried Persons (Total),11222,1503,0,12725,9.1
2,2.1,Government Servants (Total),1428,256,0,1684,1.2
3,2.1.1,Central/UT Govt. Servants,254,53,0,307,0.2
4,2.1.2,State Govt. Servants,835,133,0,968,0.7
5,2.1.3,Other Statutory Body/etc.,339,70,0,409,0.3
6,2.2,Private Sector Enterprises,7799,931,0,8730,6.3
7,2.3,Public Sector Undertaking,1995,316,0,2311,1.7
8,3,Students,5562,4772,1,10335,7.4
9,4,Unemployed Persons,11599,2416,4,14019,10.1
10,5,Self-employed Persons (Total),14319,1777,2,16098,11.6
11,5.1,Business (Total),8477,574,1,9052,6.5
12,5.1.1,Vendor,3066,285,0,3351,2.4
13,5.1.2,Tradesmen,2798,107,1,2906,2.1
14,5.1.3,Other Business,2613,182,0,2795,2.0
15,5.2,Other Self-employed Persons,5842,1203,1,7046,5.1
16,6,Persons Engaged in Farming Sector,9312,969,0,10281,7.4
17,6.1,Farmers/Cultivators,5563,394,0,5957,4.3
18,6.1.1,who cultivate their own land with or without...,4801,328,0,5129,3.7
19,6.1.2,who cultivate on leased land/work on lease/o...,762,66,0,828,0.6
20,6.2,Agricultural Labourers,3749,575,0,4324,3.1
21,7,Daily Wage Earner,29092,3467,4,32563,23.4
22,8,Retired Persons,1177,125,0,1302,0.9
23,9,Other Persons,15330,5105,6,20441,14.7
24,10,Total,97613,41493,17,139123,100.0

In [19]:
# Reset Index before saving file, for better formatting in RAW CSV
tables[0].df.to_csv("Profession - wise Distribution of Suicides during 2019 (All India).csv",index=False)