In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.5_2019.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-1.5_2019.pdf'

In [5]:
table1 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=["31.743974151857838,691.9995970394231,569.4676575121164,453.4735533568694"],
                          columns=["50,150.06242326332796,188.5399676898223,227.01751211631665,259.72342487883685,292.42933764135705,326.0971890145396,365.5366720516963,389.5851373182553,425.1768659127626,460.7685945072698,499.2461389337642,531.9520516962843"],
                          split_text=True,
                          row_tol=11,
                          strip_text="\n\t",
                          pages="1"
                         )

In [6]:
table1[0].df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,Avalanche,1,0,0,1,0,0,0,0,19,0,0,19
1,2,Exposure to cold,16,2,0,18,7,3,0,10,65,7,1,73
2,3,Cyclone,0,0,0,0,0,0,0,0,9,0,0,9
3,4,Tornado,0,2,0,2,2,0,0,2,3,1,0,4
4,5,Tsunami,0,0,0,0,0,0,0,0,0,0,0,0
5,6,Earthquake,0,0,0,0,0,0,0,0,0,0,0,0
6,7,Epidemic,0,0,0,0,0,0,0,0,0,1,0,1
7,8,Flood,136,86,0,222,102,43,0,145,134,50,0,184
8,9,Heat/Sun Stroke,11,7,0,18,15,12,0,27,133,30,0,163
9,10,Landslide,9,13,0,22,6,8,0,14,45,14,0,59
10,11,Lightning,133,62,0,195,193,56,0,249,550,177,0,727
11,12,Torrential Rain,2,2,0,4,1,1,0,2,5,3,0,8
12,13,Forest Fire,0,2,0,2,1,0,0,1,0,0,0,0
13,14,Causes other than above,31,18,0,49,10,8,0,18,147,54,0,201
14,15,Total,339,194,0,533,337,131,0,468,1110,337,1,1448

In [7]:
table2 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=["29.820096930533122,691.5713673315679,570.4295961227788,443.4301002894966"],
                          columns=["50,150.06242326332796,188.5399676898223,227.01751211631665,259.72342487883685,292.42933764135705,326.0971890145396,365.5366720516963,389.5851373182553,425.1768659127626,460.7685945072698,499.2461389337642,531.9520516962843"],
                          split_text=True,
                          row_tol=11,
                          strip_text="\n\t",
                          pages="1"
                         )

In [8]:
table2[0].df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,Avalanche,1,0,0,1,0,0,0,0,19,0,0,19
1,2,Exposure to cold,16,2,0,18,7,3,0,10,65,7,1,73
2,3,Cyclone,0,0,0,0,0,0,0,0,9,0,0,9
3,4,Tornado,0,2,0,2,2,0,0,2,3,1,0,4
4,5,Tsunami,0,0,0,0,0,0,0,0,0,0,0,0
5,6,Earthquake,0,0,0,0,0,0,0,0,0,0,0,0
6,7,Epidemic,0,0,0,0,0,0,0,0,0,1,0,1
7,8,Flood,136,86,0,222,102,43,0,145,134,50,0,184
8,9,Heat/Sun Stroke,11,7,0,18,15,12,0,27,133,30,0,163
9,10,Landslide,9,13,0,22,6,8,0,14,45,14,0,59
10,11,Lightning,133,62,0,195,193,56,0,249,550,177,0,727
11,12,Torrential Rain,2,2,0,4,1,1,0,2,5,3,0,8
12,13,Forest Fire,0,2,0,2,1,0,0,1,0,0,0,0
13,14,Causes other than above,31,18,0,49,10,8,0,18,147,54,0,201
14,15,Total,339,194,0,533,337,131,0,468,1110,337,1,1448

In [9]:
table3 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=["36.55366720516963,686.1958019815631,547.3430694668822,454.36433862351646",],
                          columns=[ "63.487948303715676,201.04516962843297,270.3047495961228,337.64045234248795,409.7858481421648,488.66481421647825"],
                          split_text=True,
                          row_tol=11,
                          strip_text="\n\t",
                          pages="2"
                         )

In [10]:
table3[0].df

     0                        1     2     3   4     5      6
0    1                Avalanche    35     0   0    35    0.4
1    2         Exposure to cold   676   114   6   796    9.8
2    3                  Cyclone    22    11   0    33    0.4
3    4                  Tornado     8     7   0    15    0.2
4    5                  Tsunami     0     0   0     0    0.0
5    6               Earthquake     1     0   0     1    0.0
6    7                 Epidemic     0     1   0     1    0.0
7    8                    Flood   667   281   0   948   11.6
8    9          Heat/Sun Stroke  1068   204   2  1274   15.6
9   10                Landslide   174    90   0   264    3.2
10  11                Lightning  2101   772   3  2876   35.3
11  12          Torrential Rain    44    25   0    69    0.8
12  13              Forest Fire     4     5   0     9    0.1
13  14  Causes other than above  1501   323   0  1824   22.4
14  15                    Total  6301  1833  11  8145  100.0

In [11]:
# List of Column headers as column are nested, i.e exhibit a multi level/index structure
# The multi level structre will be generated and applied in the next 
column_header = [
    ["Below 14 years","14 and Above – Below 18 years","18 and Above – Below 30 years"],
    ["30 and Above – Below 45 years","45 and Above–Below 60 years","60 years & Above"]
]
len(column_header)

2

In [12]:
def set_Column(df, title):
    column_list = [
        ("Sl. No.",''),
        ("State/UT",''), 
        (title[0],'Male'),
        (title[0],'Female'),
        (title[0],'Transgender'),
        (title[0],'Total'),
        (title[1],'Male'),
        (title[1],'Female'),
        (title[1],'Transgender'),
        (title[1],'Total'),
        (title[2],'Male'),
        (title[2],'Female'),
        (title[2],'Transgender'),
        (title[2],'Total')
    ]
    df.columns = pd.MultiIndex.from_tuples(column_list)

In [13]:
tables = [table1[0],table2[0]]
for i in range(len(tables)):
    set_Column(tables[i].df, column_header[i])
    tables[i].df.set_index(["Sl. No.","State/UT"],inplace=True)

In [14]:
column_list = [
    ("Sl. No.",''),
    ("State/UT",''), 
    ("Total",'Male'),
    ("Total",'Female'),
    ("Total",'Transgender'),
    ("Total",'Total'),
    ("Total",'Percentage Share')
]
table3[0].df.columns = pd.MultiIndex.from_tuples(column_list)
table3[0].df.set_index(["Sl. No.","State/UT"],inplace=True)
table3[0].df.index = table1[0].df.index.copy()

In [15]:
table3[0].df

                                 Total                           \
                                  Male Female Transgender Total
Sl. No. State/UT
1       Avalanche                   35      0           0    35
2       Exposure to cold           676    114           6   796
3       Cyclone                     22     11           0    33
4       Tornado                      8      7           0    15
5       Tsunami                      0      0           0     0
6       Earthquake                   1      0           0     1
7       Epidemic                     0      1           0     1
8       Flood                      667    281           0   948
9       Heat/Sun Stroke           1068    204           2  1274
10      Landslide                  174     90           0   264
11      Lightning                 2101    772           3  2876
12      Torrential Rain             44     25           0    69
13      Forest Fire                  4      5           0     9
14      Causes other than  above  1501    323           0  1824
15      Total                     6301   1833          11  8145


                                 Percentage Share
Sl. No. State/UT
1       Avalanche                             0.4
2       Exposure to cold                      9.8
3       Cyclone                               0.4
4       Tornado                               0.2
5       Tsunami                               0.0
6       Earthquake                            0.0
7       Epidemic                              0.0
8       Flood                                11.6
9       Heat/Sun Stroke                      15.6
10      Landslide                             3.2
11      Lightning                            35.3
12      Torrential Rain                       0.8
13      Forest Fire                           0.1
14      Causes other than  above             22.4
15      Total                               100.0

In [16]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
# tables[23].df

In [17]:
# Concat all the tables one after the other, as they all have the same indexes.
final = pd.concat([table1[0].df,table2[0].df,table3[0].df],axis=1)

In [18]:
# Reset Index before saving file, for better formatting in RAW CSV
final.reset_index().to_csv("Age and Gender-wise Distribution of Accidental Deaths due to Forces of Nature during 2019 (All India).csv", index=False)