In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.1_2019.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-1.1_2019.pdf'

In [5]:
tables = camelot.read_pdf(fileName,
flavor='stream',
table_areas=[
    "86.0935056542811,588.1083188540745,529.5472051696285,301.44534756487155"
    ],
    columns=[
        "117.35651050080777,182.76833602584816,238.56077544426498,317.4397415185784,385.7373828756059,466.540226171244"
        ],
        row_tol=18,
        split_text=True,
        strip_text='#@ .\n',
        pages="all"
)

In [6]:
tables

In [7]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [8]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
printnAllTables(tables)

Page No:  1
     0                   1      2       3       4       5    6
0    1                2009  22255  334766  357021  116944  305
1    2                2010  25066  359583  384649  118576  324
2    3                2011  23690  367194  390884  121019  323
3    4                2012  22960  372022  394982  121337  326
4    5                2013  22759  377758  400517  122879  326
5    6                2014  20201  431556  451757  124404  363
6    7                2015  10510  402947  413457  125911  328
7    8                2016   8684  409537  418221  127399  328
8    9                2017   7143  389441  396584  130916  303
9   10                2018   6891  404933  411824  132338  311
10  11                2019   8145  412959  421104  133761  315
11  12  PercentageChangein   -634     234     179     144   33
12            2019Over2009

In [9]:
tables[0].df.iloc[11,1] = 'Percentage Change in 2019 Over 2009'
tables[0].df.drop(index=[12], inplace=True)

In [10]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

In [11]:
column_list = [
    ("Sl. No.",''),
    ("Year",''), 
    ('Total number of Accidental Deaths','Forces of Nature'),
    ('Total number of Accidental Deaths','Other Causes'),
    ('Total number of Accidental Deaths','Total'),
    ('Mid–Year Projected Population(In Lakh)',''),
    ('Rate ofAccidental Deaths','')
]

In [12]:
tables[0].df.columns = pd.MultiIndex.from_tuples(column_list)
tables[0].df

   Sl. No.                                 Year  \

0        1                                 2009
1        2                                 2010
2        3                                 2011
3        4                                 2012
4        5                                 2013
5        6                                 2014
6        7                                 2015
7        8                                 2016
8        9                                 2017
9       10                                 2018
10      11                                 2019
11      12  Percentage Change in 2019 Over 2009

   Total number of Accidental Deaths                       \
                    Forces of Nature Other Causes   Total
0                              22255       334766  357021
1                              25066       359583  384649
2                              23690       367194  390884
3                              22960       372022  394982
4                              22759       377758  400517
5                              20201       431556  451757
6                              10510       402947  413457
7                               8684       409537  418221
8                               7143       389441  396584
9                               6891       404933  411824
10                              8145       412959  421104
11                              -634          234     179

   Mid–Year Projected Population(In Lakh) Rate ofAccidental Deaths

0                                  116944                      305
1                                  118576                      324
2                                  121019                      323
3                                  121337                      326
4                                  122879                      326
5                                  124404                      363
6                                  125911                      328
7                                  127399                      328
8                                  130916                      303
9                                  132338                      311
10                                 133761                      315
11                                    144                       33

In [13]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
# tables[23].df

In [14]:
# Reset Index before saving file, for better formatting in RAW CSV
tables[0].df.to_csv("Incidence & Rate of Accidental Deaths during 2009 – 2019 (All India).csv" ,index=False)