In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.4_2019.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-1.4_2019.pdf'

## What the structure of the final DataFrame is supposed to look like after stitching(concatinating)?

| tableA   | tableB   | tableC   |
| -------- | -------- | -------- |
| Page1    | Page3    | Page5    |
| Page2    | Page4    | Page6    |

In [5]:
tables = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "25.972342487883687,739.1354547346276,569.4676575121164,52.29867117593344"
                          ],
                          columns=[
                              "49.0588691437803,149.1004846526656,183.73027463651053,222.20781906300488,258.7614862681745,289.54352180936996,326.0971890145396,360.72697899838454,387.66126009693056,425.1768659127626,459.8066558966075,498.28420032310186,530.0281744749597"
                          ],
                          split_text=True,
                          pages="1-4"
                         )

In [6]:
tables5_6 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "25.972342487883687,732.0169841376875,556.4814862681745,69.61388420682489"
                          ],
                          columns=[
                              "61.56407108239096,239.52271405492732,318.40168012924073,394.3948303715671,470.38798061389343"
                          ],
                          split_text=True,
                          pages="5-6"
                         )

In [7]:
tables

In [8]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [9]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)
printnAllTables(tables5_6)

Page No:  1
         0                                 1       2       3            4  \
0                                               Male  Female  Transgender
1      (1)                               (2)    (27)    (28)         (29)
2                                     STATES
3        1                    ANDHRA PRADESH   15002    2934            2
4        2                 ARUNACHAL PRADESH     236      39            0
5        3                             ASSAM    4495     941            0
6        4                             BIHAR   12032    3179            0
7        5                      CHHATTISGARH   14638    5150            1
8        6                               GOA     685     110            0
9        7                           GUJARAT   19717    4191            2
10       8                           HARYANA   13271    2367            1
11       9                  HIMACHAL PRADESH    2724     532            0
12      10                   JAMMU & KASHMIR    1204     247            0
13      11                         JHARKHAND    6181    1518            4
14      12                         KARNATAKA   21057    4389            5
15      13                            KERALA   11254    2509            0
16      14                    MADHYA PRADESH   32596    9833            2
17      15                       MAHARASHTRA   55407   14910           12
18      16                           MANIPUR     261      48            0
19      17                         MEGHALAYA     404      72            0
20      18                           MIZORAM     150      21            0
21      19                          NAGALAND      56       7            0
22      20                            ODISHA   13574    2885            0
23      21                            PUNJAB    9645    1402            1
24      22                         RAJASTHAN   23704    4992            1
25      23                            SIKKIM     244      51            0
26      24                        TAMIL NADU   18358    4044            2
27      25                         TELANGANA    9632    2087            1
28      26                           TRIPURA     582     125            0
29      27                     UTTAR PRADESH   33059    7537            0
30      28                       UTTARAKHAND    1605     281            0
31      29                       WEST BENGAL   12563    3421            1
32                            TOTAL (STATES)  334336   79822           35
33                          UNIONTERRITORIES
34      30                      A & NISLANDS     168      30            0
35      31                        CHANDIGARH     334      80            0
36      32                      D & N HAVELI     109      15            0
37      33                       DAMAN & DIU     123      25            0
38      34                        DELHI (UT)    4234     684            1
39      35                       LAKSHADWEEP       5       0            0
40      36                        PUDUCHERRY     958     144            1
41                               TOTAL (UTs)    5931     978            2
42                         TOTAL (ALL INDIA)  340267   80800           37
43  â€¢ \nAs  per data provided by States/UTs.

         5
0    Total
1     (30)
2
3    17938
4      275
5     5436
6    15211
7    19789
8      795
9    23910
10   15639
11    3256
12    1451
13    7703
14   25451
15   13763
16   42431
17   70329
18     309
19     476
20     171
21      63
22   16459
23   11048
24   28697
25     295
26   22404
27   11720
28     707
29   40596
30    1886
31   15985
32  414193
33
34     198
35     414
36     124
37     148
38    4919
39       5
40    1103
41    6911
42  421104
43

Page No:  2
         0                                 1      2       3            4  \
0                                              Male  Female  Transgender
1      (1)                               (2)   (27)    (28)         (29)
2       37                              AGRA    396      65            0
3       38                         AHMEDABAD   1539     296            1
4       39                         ALLAHABAD    210     111            0
5       40                          AMRITSAR    365      35            0
6       41                           ASANSOL    720     259            0
7       42                        AURANGABAD    841     195            0
8       43                         BENGALURU   3387     625            4
9       44                            BHOPAL    618     122            0
10      45                 CHANDIGARH (CITY)    334      80            0
11      46                           CHENNAI   1576     369            0
12      47                        COIMBATORE    460      64            0
13      48                      DELHI (CITY)   3870     645            1
14      49                           DHANBAD    151      17            0
15      50                  DURG BHILAINAGAR    614     141            0
16      51                         FARIDABAD    963     212            0
17      52                         GHAZIABAD    436      52            0
18      53                           GWALIOR    264      50            0
19      54                         HYDERABAD    669     121            0
20      55                            INDORE    933     209            0
21      56                          JABALPUR    400      88            0
22      57                            JAIPUR   2211     417            0
23      58                        JAMSHEDPUR    291     100            0
24      59                           JODHPUR    939     174            0
25      60                            KANNUR    185      41            0
26      61                            KANPUR   1298     222            0
27      62                             KOCHI    507      88            0
28      63                           KOLKATA    242      80            0
29      64                            KOLLAM    493      88            0
30      65                              KOTA    509     100            0
31      66                         KOZHIKODE    447      98            0
32      67                           LUCKNOW    484      91            0
33      68                          LUDHIANA    921     141            0
34      69                           MADURAI    444      88            0
35      70                        MALAPPURAM    274      60            0
36      71                            MEERUT    193      19            0
37      72                            MUMBAI   7082    2162            2
38      73                            NAGPUR   1810     303            0
39      74                             NASIK   1231     313            0
40      75                             PATNA    123     102            0
41      76                              PUNE   3110     839            0
42      77                            RAIPUR    798     203            0
43      78                            RAJKOT   1105     275            0
44      79                            RANCHI    290      77            0
45      80                          SRINAGAR    105      14            0
46      81                             SURAT   1991     361            1
47      82                THIRUVANANTHAPURAM    539     116            0
48      83                          THRISSUR    644     126            0
49      84                   TIRUCHIRAPPALLI    198      52            0
50      85                          VADODARA    662     132            0
51      86                          VARANASI    283      70            0
52      87                       VASAI VIRAR    867     257            0
53      88                        VIJAYAWADA    456      77            1
54      89                    VISHAKHAPATNAM    686     188            0
55                            TOTAL (CITIES)  50164   11230           10
56  â€¢ \nAs  per data provided by States/UTs.

        5
0   Total
1    (30)
2     461
3    1836
4     321
5     400
6     979
7    1036
8    4016
9     740
10    414
11   1945
12    524
13   4516
14    168
15    755
16   1175
17    488
18    314
19    790
20   1142
21    488
22   2628
23    391
24   1113
25    226
26   1520
27    595
28    322
29    581
30    609
31    545
32    575
33   1062
34    532
35    334
36    212
37   9246
38   2113
39   1544
40    225
41   3949
42   1001
43   1380
44    367
45    119
46   2353
47    655
48    770
49    250
50    794
51    353
52   1124
53    534
54    874
55  61404
56

In [10]:
# Removes Garbage Rows that may have been detected Before the 'STATES' row
# AND
# Removes Garbage Rows that may have been detected after the 'TOTAL (ALL INDIA)' row
def clean(table):
    while( (table.df.iloc[0,1] != 'STATES') and (table.df.iloc[0,1] != 'AGRA') ):
        table.df = table.df.iloc[1:]
    while( (table.df.iloc[-1,1] != 'TOTAL (ALL INDIA)') and (table.df.iloc[-1,1] != 'TOTAL (CITIES)') ):
        table.df = table.df.iloc[:-1]
    # The Return line is unnecessary due to all changes being reflected in the original references
    return table

In [11]:
for each_table in tables:
    clean(each_table)
for each_table in tables5_6:
    clean(each_table)

In [12]:
df1 = tables[0].df.copy()
df2 = tables[1].df.copy()
df3 = tables[2].df.copy()
df4 = tables[3].df.copy()
df5 = tables5_6[0].df.copy()
df6 = tables5_6[1].df.copy()

In [13]:
tableA = pd.concat([df1,df2])
tableB = pd.concat([df3,df4])
tableC = pd.concat([df5,df6])

In [14]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

In [15]:
# List of Column headers as column are nested, i.e exhibit a multi level/index structure
# The multi level structre will be generated and applied in the next 
column_header = [
    ["Below 14 years","14 and Above â€“ Below 18 years","18 and Above â€“ Below 30 years"],
    ["30 and Above â€“ Below 45 years","45 and Aboveâ€“Below 60 years","60 years & Above"]
]
len(column_header)

2

In [16]:
def set_Column(df, title):
    column_list = [
        ("Sl. No.",'',''),
        ("State/UT",'',''), 
        (title[0],'No. of Persons Injured','Male'),
        (title[0],'No. of Persons Injured','Female'),
        (title[0],'No. of Persons Injured','Transgender'),
        (title[0],'No. of Persons Injured','Total'),
        (title[1],'No. of Persons Died','Male'),
        (title[1],'No. of Persons Died','Female'),
        (title[1],'No. of Persons Died','Transgender'),
        (title[1],'No. of Persons Died','Total'),
        (title[2],'No. of Persons Died','Male'),
        (title[2],'No. of Persons Died','Female'),
        (title[2],'No. of Persons Died','Transgender'),
        (title[2],'No. of Persons Died','Total')
    ]
    df.columns = pd.MultiIndex.from_tuples(column_list)

In [17]:
# TableC not included here as it has a different column format, it will be done sperately
tables = [tableA,tableB]

In [18]:
for i in range(len(tables)):
    set_Column(tables[i], column_header[i])
    tables[i].set_index(["Sl. No.","State/UT"],inplace=True)

In [19]:
column_list = [
    ("Sl. No.",'',''),
    ("State/UT",'',''), 
    ("Total",'No. of Persons Injured','Male'),
    ("Total",'No. of Persons Injured','Female'),
    ("Total",'No. of Persons Injured','Transgender'),
    ("Total",'No. of Persons Injured','Total')
]
tableC.columns = pd.MultiIndex.from_tuples(column_list)
tableC.set_index(["Sl. No.","State/UT"],inplace=True)

In [20]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice

In [21]:
# Convert List of tables to list of DataFrames
DataFrames = [tableA,tableB,tableC]
# Concat all the tables one after the other, as they all have the same indexes.
final = pd.concat(DataFrames,axis=1)

In [22]:
final

                                  Below 14 years                           \
                          No. of Persons Injured
                                            Male Female Transgender Total
Sl. No. State/UT
        STATES
1       ANDHRA PRADESH                       326    143           0   469
2       ARUNACHAL PRADESH                     10      9           0    19
3       ASSAM                                135     67           0   202
4       BIHAR                               1136    420           0  1556
...                                          ...    ...         ...   ...
86      VARANASI                               1      0           0     1
87      VASAI VIRAR                           54     38           0    92
88      VIJAYAWADA                             6      1           0     7
89      VISHAKHAPATNAM                        12     11           0    23
        TOTAL (CITIES)                      1500   1024           1  2525

                          14 and Above â€“ Below 18 years                     \
                                    No. of Persons Died
                                                   Male Female Transgender
Sl. No. State/UT
        STATES
1       ANDHRA PRADESH                              544    137           0
2       ARUNACHAL PRADESH                             7      4           0
3       ASSAM                                       348    147           0
4       BIHAR                                      1903    536           0
...                                                 ...    ...         ...
86      VARANASI                                      6      2           0
87      VASAI VIRAR                                  21      9           0
88      VIJAYAWADA                                    6      1           0
89      VISHAKHAPATNAM                               24      6           0
        TOTAL (CITIES)                             1795    561           0

                                18 and Above â€“ Below 30 years         ...  \
                                          No. of Persons Died         ...
                          Total                          Male Female  ...
Sl. No. State/UT                                                      ...
        STATES                                                        ...
1       ANDHRA PRADESH      681                          3725    530  ...
2       ARUNACHAL PRADESH    11                            91     14  ...
3       ASSAM               495                          1574    327  ...
4       BIHAR              2439                          3942    834  ...
...                         ...                           ...    ...  ...
86      VARANASI              8                            55      9  ...
87      VASAI VIRAR          30                           171     59  ...
88      VIJAYAWADA            7                           113      5  ...
89      VISHAKHAPATNAM       30                           183     42  ...
        TOTAL (CITIES)     2356                         10739   2294  ...

                          45 and Aboveâ€“Below 60 years         \
                                  No. of Persons Died
                                          Transgender  Total
Sl. No. State/UT
        STATES
1       ANDHRA PRADESH                              0   4413
2       ARUNACHAL PRADESH                           0     38
3       ASSAM                                       0    919
4       BIHAR                                       0   2030
...                                               ...    ...
86      VARANASI                                    0     89
87      VASAI VIRAR                                 0    265
88      VIJAYAWADA                                  0    132
89      VISHAKHAPATNAM                              0    230
        TOTAL (CITIES)                              1  15792

                             60 years & Above                           \
                          No. of Persons Died
                                         Male Female Transgender Total
Sl. No. State/UT
        STATES
1       ANDHRA PRADESH                   1602    551           0  2153
2       ARUNACHAL PRADESH                   3      1           0     4
3       ASSAM                             208     30           0   238
4       BIHAR                             700    236           0   936
...                                       ...    ...         ...   ...
86      VARANASI                           84     26           0   110
87      VASAI VIRAR                        90     59           0   149
88      VIJAYAWADA                         64     24           0    88
89      VISHAKHAPATNAM                     60     25           0    85
        TOTAL (CITIES)                   7310   2303           0  9613

                                           Total
                          No. of Persons Injured
                                            Male Female Transgender  Total
Sl. No. State/UT
        STATES
1       ANDHRA PRADESH                     15002   2934           2  17938
2       ARUNACHAL PRADESH                    236     39           0    275
3       ASSAM                               4495    941           0   5436
4       BIHAR                              12032   3179           0  15211
...                                          ...    ...         ...    ...
86      VARANASI                             283     70           0    353
87      VASAI VIRAR                          867    257           0   1124
88      VIJAYAWADA                           456     77           1    534
89      VISHAKHAPATNAM                       686    188           0    874
        TOTAL (CITIES)                     50164  11230          10  61404

[95 rows x 28 columns]

In [23]:
# Reset Index before saving file, for better formatting in RAW CSV
final.reset_index().to_csv("Age and Gender-wise Distribution of Total Accidental Deaths during 2019.csv",index=False)