In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1A.2_2019.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-1A.2_2019.pdf'

In [5]:
tables = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "24.52943457189015,721.8202417037362,574.7583198707594,60.956277691379164"
                              ],
                          columns=[
                              "47.134991922455576,148.13854604200324,190.6160904684976,220.28394184168016,255.87567043618742,288.5815831987076,321.2874959612278,351.10759289176093,382.8515670436188,413.63360258481424,447.30145395799684,485.77899838449116,528.104297253635"
                              ],
                          split_text=True,
                          pages="all"
                         )

In [6]:
tables

In [7]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [8]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

In [9]:
# Removes Garbage Rows that may have been detected Before the 'STATES' row
# AND
# Removes Garbage Rows that may have been detected after the 'TOTAL (ALL INDIA)' row
def clean(table):
    while(table.df.iloc[0,1] != 'STATES' and table.df.iloc[0,1] != 'AGRA'):
        table.df = table.df.iloc[1:]
    while(table.df.iloc[-1,1] != 'TOTAL (ALL INDIA)' and table.df.iloc[-1,1] != 'TOTAL (CITIES)'):
        table.df = table.df.iloc[:-1]
    # The Return line is unnecessary due to all changes being reflected in the original references
    return table

In [10]:
# Splits the second column into 1st column index and 2nd column test when faulty/required
def split_by_first_space(df, strIndex, stpIndex):
    df = df.iloc[strIndex:stpIndex+1]
    for index, each in df.iterrows():
        space = each[1].find(' ')
        each[0] = each[1][:space]
        each[1] = each[1][space:]

In [11]:
def mergeRows(df, strIndex, stpIndex):
    DF = df.loc[strIndex:stpIndex]
    df = DF.T
    l = []
    for index, each in df.iterrows():
        output = ''
        for ind, cell in each.iteritems():
            output += (str(cell) + ' ')
#         if(output == ''):
#             continue
        l.append(output.strip())
    l = pd.Series(l,name=str(strIndex))
    DF.loc[strIndex] = l

In [12]:
for each_table in tables:
    clean(each_table)

In [13]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
printnAllTables(tables)

Page No:  1
    0                  1       2       3       4      5     6      7     8   \
1                  STATES
2    1     ANDHRA PRADESH   20677   24619    7984   1511     1   1519     0
3    2  ARUNACHAL PRADESH     200     275     109      0     0      0     0
4    3              ASSAM    8055    7081    3245    591     0    593     5
5    4              BIHAR   10007    7206    7205   1589     0   1622   241
6    5       CHHATTISGARH   13899   13089    5003    466     0    466     1
7    6                GOA    3440    1460     299     50     0     50     0
8    7            GUJARAT   16503   15976    7428    994     0   1012     0
9    8            HARYANA   10937    9247    5269   1362   126   1278   104
10   9   HIMACHAL PRADESH    2896    4740    1124      0     0      0     0
11  10    JAMMU & KASHMIR    5795    7517    1009     44     0     45     0
12  11          JHARKHAND    5217    3818    3801    483     1    486     2
13  12          KARNATAKA   40644   50442   10951      0     0      0    22
14  13             KERALA   39944   44467    4370    250     1    254   160
15  14     MADHYA PRADESH   51641   53765   11856   1508    99   1409   230
16  15        MAHARASHTRA   27286   23289   14608   6338  2435   3916     0
17  16            MANIPUR     672    1055     156      0     0      0     0
18  17          MEGHALAYA     236     287     176      0     0      0     0
19  18            MIZORAM      57      25      63      0     0      0     0
20  19           NAGALAND      26      59      22      0     0      0     8
21  20             ODISHA   11064   11177    5333    444     0    446     0
22  21             PUNJAB    6316    3726    4613    893    65    831     0
23  22          RAJASTHAN   23478   22979   10563    803    30    775     0
24  23             SIKKIM     172     329      84      0     0      0     0
25  24         TAMIL NADU   57228   67137   10525   2266   203   2081     5
26  25          TELANGANA   21570   21999    6964    626     0    631     0
27  26            TRIPURA     655     816     239      5     0      5    27
28  27      UTTAR PRADESH   37537   22251   23285   3980   502   3521   851
29  28        UTTARAKHAND    1352    1457     867     41     0     42     8
30  29        WEST BENGAL   12233   11744    5724   2876    44   2832   113
31         TOTAL (STATES)  429737  432032  152875  27120  3507  23814  1777
32      UNION TERRITORIES
33  30       A & NISLANDS     230     207      20      0     0      0     0
34  31         CHANDIGARH     304     275     104      0     0      0     0
35  32       D & N HAVELI      68     105      49      0     0      0     0
36  33        DAMAN & DIU      63      74      29      0     0      0     0
37  34         DELHI (UT)    5601    4949    1508    858    62    796    11
38  35        LAKSHADWEEP       1       1       0      0     0      0     0
39  36         PUDUCHERRY    1392    1619     147      9     0      9     0
40            TOTAL (UTs)    7659    7230    1857    867    62    805    11
41      TOTAL (ALL INDIA)  437396  439262  154732  27987  3569  24619  1788

     9     10      11      12      13
1
2     0     0   22188   24620    9503
3     0     0     200     275     109
4     0     5    8651    7081    3843
5     2   242   11837    7208    9069
6     0     1   14366   13089    5470
7     0     0    3490    1460     349
8     0     0   17497   15976    8440
9    23    84   12403    9396    6631
10    0     0    2896    4740    1124
11    0     0    5839    7517    1054
12    0     2    5702    3819    4289
13    5    15   40666   50447   10966
14    0   158   40354   44468    4782
15    6   232   53379   53870   13497
16    0     0   33624   25724   18524
17    0     0     672    1055     156
18    0     0     236     287     176
19    0     0      57      25      63
20    0     8      34      59      30
21    0     0   11508   11177    5779
22    0     0    7209    3791    5444
23    0     0   24281   23009   11338
24    0     0     172     329      84
25    0     5   59499   67340   12611
26    0     0   22196   21999    7595
27    0    27     687     816     271
28  123   855   42368   22876   27661
29    0    10    1401    1457     919
30    6   107   15222   11794    8663
31  165  1751  458634  435704  178440
32
33    0     0     230     207      20
34    0     0     304     275     104
35    0     0      68     105      49
36    0     0      63      74      29
37    0    11    6470    5011    2315
38    0     0       1       1       0
39    0     0    1401    1619     156
40    0    11    8537    7292    2673
41  165  1762  467171  442996  181113

Page No:  2
    0                   1      2      3      4     5   6     7    8  9    10  \
2   37                AGRA    292    106    316     0   0     0   42  0   42
3   38           AHMEDABAD   1380   1148    439    24   0    24    0  0    0
4   39           ALLAHABAD    776    523    283     0   0     0    0  0    0
5   40            AMRITSAR    133     76     95     0   0     0    0  0    0
6   41             ASANSOL    442    354    314     7   0     7    0  0    0
7   42          AURANGABAD    516    372    226    41   0    41    0  0    0
8   43           BENGALURU   4684   4250    768     0   0     0    0  0    0
9   44              BHOPAL   2516   1909    123    20   0    20   12  0   12
10  45   CHANDIGARH (CITY)    304    275    104     0   0     0    0  0    0
11  46             CHENNAI   6871   6702   1252     0   0     0    0  0    0
12  47          COIMBATORE   1062   1073    132     0   0     0    0  0    0
13  48        DELHI (CITY)   5349   4739   1400   858  62   796   11  0   11
14  49             DHANBAD    171     75    127     0   0     0    0  0    0
15  50    DURG BHILAINAGAR    533    654     93    34   0    34    0  0    0
16  51           FARIDABAD    736    635    311     0   0     0    0  0    0
17  52           GHAZIABAD    197     28    201    59   0    59    0  0    0
18  53             GWALIOR   1218   1159    128     0   0     0   29  0   29
19  54           HYDERABAD   2900   2649    271     0   0     0    0  0    0
20  55              INDORE   3336   2606    297    13   0    13    0  0    0
21  56            JABALPUR   2167   2222    209     0   0     0    0  0    0
22  57              JAIPUR   3045   2451    721   136   0   138    0  0    0
23  58          JAMSHEDPUR    191    129     92     0   0     0    0  0    0
24  59             JODHPUR    686    527    260     0   0     0    0  0    0
25  60              KANNUR    657    811     82    30   1    30    0  0    0
26  61              KANPUR   1053    485    568     0   0     0   91  0   91
27  62               KOCHI   2138   2254    155     0   0     0   16  0   16
28  63             KOLKATA   2068   2004    267     0   0     0    0  0    0
29  64              KOLLAM   1940   1981    225     0   0     0   23  0   23
30  65                KOTA    491    486     96     0   0     0    0  0    0
31  66           KOZHIKODE   1597   1597    179    11   0    11    8  0    8
32  67             LUCKNOW    879    570    360    56  18    38    3  0    3
33  68            LUDHIANA    526    291    365     0   0     0    0  0    0
34  69             MADURAI    866    799    193     0   0     0    0  0    0
35  70          MALAPPURAM    838    902    149     4   0     4    0  0    0
36  71              MEERUT    511    359    186     0   0     0   17  0   17
37  72              MUMBAI    588    106    483     2   0     2    0  0    0
38  73              NAGPUR   1119    899    270    46   0    46    0  0    0
39  74               NASIK    189     36    189    34   0    34    0  0    0
40  75               PATNA    524    332    192     0   0     0    0  0    0
41  76                PUNE    308     94    227    29   5    29    0  0    0
42  77              RAIPUR   1257    729    142    42   0    42    0  0    0
43  78              RAJKOT    575    437    170    19   0    19    0  0    0
44  79              RANCHI    354    241    233     0   0     0    0  0    0
45  80            SRINAGAR    310    323     45     0   0     0    0  0    0
46  81               SURAT    865    718    292    25   0    25    0  0    0
47  82  THIRUVANANTHAPURAM   1704   1701    160     0   0     0   16  0   14
48  83            THRISSUR   2210   2491    213    36   0    36    0  0    0
49  84     TIRUCHIRAPPALLI    517    585    104     0   0     0    0  0    0
50  85            VADODARA    679    551    158    16   0    16    0  0    0
51  86            VARANASI    160     91     76    20   0    20    0  0    0
52  87         VASAI VIRAR    335    180    166     0   0     0    0  0    0
53  88          VIJAYAWADA   1499   1442    355     0   0     0    0  0    0
54  89      VISHAKHAPATNAM    966    826    320     6   1     6    0  0    0
55          TOTAL (CITIES)  67228  58983  14782  1568  87  1490  268  0  266

       11     12     13
2     334    106    358
3    1404   1148    463
4     776    523    283
5     133     76     95
6     449    354    321
7     557    372    267
8    4684   4250    768
9    2548   1909    155
10    304    275    104
11   6871   6702   1252
12   1062   1073    132
13   6218   4801   2207
14    171     75    127
15    567    654    127
16    736    635    311
17    256     28    260
18   1247   1159    157
19   2900   2649    271
20   3349   2606    310
21   2167   2222    209
22   3181   2451    859
23    191    129     92
24    686    527    260
25    687    812    112
26   1144    485    659
27   2154   2254    171
28   2068   2004    267
29   1963   1981    248
30    491    486     96
31   1616   1597    198
32    938    588    401
33    526    291    365
34    866    799    193
35    842    902    153
36    528    359    203
37    590    106    485
38   1165    899    316
39    223     36    223
40    524    332    192
41    337     99    256
42   1299    729    184
43    594    437    189
44    354    241    233
45    310    323     45
46    890    718    317
47   1720   1701    174
48   2246   2491    249
49    517    585    104
50    695    551    174
51    180     91     96
52    335    180    166
53   1499   1442    355
54    972    827    326
55  69064  59070  16538

In [14]:
def set_Column(df, state):
    column_list = [
        ("Sl. No.",''),
        ("State/UT" if(state) else "City",''), 
        ('Road Accidents','Cases'),
        ('Road Accidents','Injured'),
        ('Road Accidents','Died'),
        ('Railway Accidents','Cases'),
        ('Railway Accidents','Injured'),
        ('Railway Accidents','Died'),
        ('Railway Crossing Accidents','Cases'),
        ('Railway Crossing Accidents','Injured'),
        ('Railway Crossing Accidents','Died'),
        ('Total Traffic Accidents','Cases'),
        ('Total Traffic Accidents','Injured'),
        ('Total Traffic Accidents','Died'),
    ]
    df.columns = pd.MultiIndex.from_tuples(column_list)

In [15]:
for i in range(len(tables)):
    state = not i
    set_Column(tables[i].df, state)

In [16]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
# tables[23].df

In [17]:
# Reset Index before saving file, for better formatting in RAW CSV
tables[0].df.to_csv("Cases Reported and Persons Injured and Died due to Traffic Accidents during 2019 (StateUT-wise).csv",index=False)
tables[1].df.to_csv("Cases Reported and Persons Injured and Died due to Traffic Accidents during 2019 (City-wise).csv",index=False)