In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-2.13_2019_0.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-2.13_2019_0.pdf'

In [5]:
tables = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "25.972342487883687,740.0974110141216,567.5437802907917,64.80410280935504"
                              ],
                          columns=[
                              "49.0588691437803,148.13854604200324,186.6160904684976,225.09363489499194,257.79954765751216,286.65770597738293,323.21137318255256,359.7650403877222,386.6993214862682,424.2149273021002,455.95890145395805,491.55063004846534,530.0281744749597"
                              ],
                          split_text=True,
                          pages="1-5"
                         )

In [6]:
tables

In [7]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [8]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

In [9]:
# Removes Garbage Rows that may have been detected Before the 'STATES' row
# AND
# Removes Garbage Rows that may have been detected after the 'TOTAL (ALL INDIA)' row
def clean(table):
    while(table.df.iloc[0,1] != 'STATES'):
        table.df = table.df.iloc[1:]
    while(table.df.iloc[-1,1] != 'TOTAL (ALL INDIA)'):
        table.df = table.df.iloc[:-1]
    # The Return line is unnecessary due to all changes being reflected in the original references
    return table

In [10]:
for each_table in tables:
    clean(each_table)

In [11]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
printnAllTables(tables)

Page No:  1
    0                  1    2    3  4    5     6     7  8     9     10    11  \
4                  STATES
5    1     ANDHRA PRADESH   19    8  0   27   219   139  0   358    64    61
6    2  ARUNACHAL PRADESH    0    0  0    0     9     3  0    12     0     0
7    3              ASSAM    6    5  0   11   207    54  0   261     8    18
8    4              BIHAR   30   10  0   40    56    17  0    73    12    18
9    5       CHHATTISGARH    7    0  0    7   238    53  0   291   110   238
10   6                GOA    1    0  0    1    18    12  0    30     4     5
11   7            GUJARAT    8    4  0   12   380   135  0   515   130   251
12   8            HARYANA    0    2  0    2   261    37  0   298    27    20
13   9   HIMACHAL PRADESH    0    0  0    0     9     4  0    13     4     5
14  10    JAMMU & KASHMIR    0    0  0    0     4     3  0     7     4     4
15  11          JHARKHAND   87   57  0  144   127    40  0   167    14    38
16  12          KARNATAKA   36   27  0   63   559   282  0   841   107   129
17  13             KERALA   28   11  0   39   218   159  0   377    98   225
18  14     MADHYA PRADESH   23   25  0   48   271   127  0   398   187   465
19  15        MAHARASHTRA   29   32  0   61   763   397  0  1160   187   287
20  16            MANIPUR    0    0  0    0     0     0  0     0     0     0
21  17          MEGHALAYA    0    0  0    0     8     1  0     9     2     0
22  18            MIZORAM    0    0  0    0     0     0  0     0     0     0
23  19           NAGALAND    0    0  0    0     1     0  0     1     0     0
24  20             ODISHA    3    1  0    4    85   107  0   192     7   117
25  21             PUNJAB   35   11  0   46   106    28  0   134    15    14
26  22          RAJASTHAN   38    6  0   44   278   106  0   384    69    49
27  23             SIKKIM    0    0  0    0     1     0  0     1     0     0
28  24         TAMIL NADU   48   18  0   66   344   215  0   559   557   628
29  25          TELANGANA   21    6  0   27   305   107  0   412    37   180
30  26            TRIPURA    0    0  0    0    29     1  0    30    28    36
31  27      UTTAR PRADESH   37   25  0   62   124    65  0   189   166   268
32  28        UTTARAKHAND    2    0  0    2     3     1  0     4     0     1
33  29        WEST BENGAL    7   12  0   19   339   125  0   464    80   223
34         TOTAL (STATES)  465  260  0  725  4962  2218  0  7180  1917  3280
35      UNION TERRITORIES
36  30     A & N  ISLANDS    0    0  0    0     3     0  0     3     2     8
37  31         CHANDIGARH    0    0  0    0     2     0  0     2     0     0
38  32      D & N  HAVELI    0    1  0    1     1     1  0     2     0     1
39  33      DAMAN  &  DIU    0    0  0    0     2     0  0     2     1     1
40  34         DELHI (UT)   22    5  0   27    13     3  0    16    17     5
41  35        LAKSHADWEEP    0    0  0    0     0     0  0     0     0     0
42  36         PUDUCHERRY    0    0  0    0     3     0  0     3     0     0
43            TOTAL (UTs)   22    6  0   28    24     4  0    28    20    15
44      TOTAL (ALL INDIA)  487  266  0  753  4986  2222  0  7208  1937  3295

   12    13
4
5   0   125
6   0     0
7   0    26
8   0    30
9   0   348
10  0     9
11  0   381
12  0    47
13  0     9
14  0     8
15  0    52
16  1   237
17  0   323
18  1   653
19  0   474
20  0     0
21  0     2
22  0     0
23  0     0
24  0   124
25  0    29
26  0   118
27  0     0
28  0  1185
29  0   217
30  0    64
31  0   434
32  0     1
33  0   303
34  2  5199
35
36  0    10
37  0     0
38  0     1
39  0     2
40  0    22
41  0     0
42  0     0
43  0    35
44  2  5234

Page No:  2
    0                  1    2    3  4    5      6      7   8      9      10  \
4                  STATES
5    1     ANDHRA PRADESH    1    0  0    1   1685    693   0   2378   2061
6    2  ARUNACHAL PRADESH    2    0  0    2     56     26   0     82      1
7    3              ASSAM    7    8  0   15   1116    418   0   1534    167
8    4              BIHAR    1    0  0    1    174    130   0    304     93
9    5       CHHATTISGARH   12    1  0   13   2937    912   0   3849   1000
10   6                GOA    0    0  0    0    155     34   0    189     15
11   7            GUJARAT    8    3  0   11   2489   1133   1   3623   1653
12   8            HARYANA    5    0  0    5    899    278   0   1177    462
13   9   HIMACHAL PRADESH    4    0  0    4    178     97   0    275    179
14  10    JAMMU & KASHMIR    4    1  0    5     45     24   0     69     80
15  11          JHARKHAND    2    0  0    2    576    326   0    902    149
16  12          KARNATAKA   12    9  0   21   4936   1565   1   6502   1971
17  13             KERALA   12    8  0   20   5225   1210   0   6435    785
18  14     MADHYA PRADESH   48   30  0   78   4911   2287   0   7198   2252
19  15        MAHARASHTRA   14    3  0   17   9205   2397   2  11604   3613
20  16            MANIPUR    1    0  0    1     28     18   0     46      5
21  17          MEGHALAYA    0    0  0    0    151     30   0    181      0
22  18            MIZORAM    1    0  0    1     51     16   0     67      1
23  19           NAGALAND    2    0  0    2     33      5   0     38      0
24  20             ODISHA    2    1  0    3   1214    612   0   1826   1114
25  21             PUNJAB   24    3  0   27    799    259   1   1059    338
26  22          RAJASTHAN   21    1  0   22   1903    728   0   2631    512
27  23             SIKKIM    0    0  0    0    157     57   0    214      0
28  24         TAMIL NADU    5    0  0    5   5260   2082   5   7347   2859
29  25          TELANGANA    1    1  0    2   1979    631   1   2611   2546
30  26            TRIPURA    1    0  0    1    377    156   0    533     55
31  27      UTTAR PRADESH   84   53  0  137   1968   1299   0   3267    550
32  28        UTTARAKHAND    0    0  0    0    160     71   0    231    163
33  29        WEST BENGAL    2    0  0    2   3656   2171   0   5827   1775
34         TOTAL (STATES)  276  122  0  398  52323  19665  11  71999  24399
35      UNION TERRITORIES
36  30     A & N  ISLANDS    1    0  0    1    119     34   0    153      5
37  31         CHANDIGARH    1    0  0    1     75     29   0    104      9
38  32       D & N HAVELI    0    0  0    0     58     19   0     77     13
39  33        DAMAN & DIU    0    0  0    0     25     15   0     40      1
40  34         DELHI (UT)   25    3  0   28   1329    593   0   1922    126
41  35        LAKSHADWEEP    0    0  0    0      0      0   0      0      0
42  36         PUDUCHERRY    0    0  0    0    269     65   0    334     41
43            TOTAL (UTs)   27    3  0   30   1875    755   0   2630    195
44      TOTAL (ALL INDIA)  303  125  0  428  54198  20420  11  74629  24594

       11 12     13
4
5     680  0   2741
6       1  0      2
7     117  0    284
8      40  0    133
9     546  0   1546
10      4  0     19
11    865  0   2518
12    224  0    686
13    101  0    280
14     89  0    169
15    102  0    251
16    647  0   2618
17    194  0    979
18   1283  1   3536
19   1166  0   4779
20      4  0      9
21      1  0      1
22      0  0      1
23      0  0      0
24   1074  0   2188
25    133  0    471
26    210  0    722
27      0  0      0
28   1206  3   4068
29    910  0   3456
30     32  0     87
31    359  0    909
32    105  0    268
33   1113  0   2888
34  11206  4  35609
35
36      9  0     14
37      7  0     16
38      1  0     14
39      1  0      2
40     45  0    171
41      0  0      0
42     15  0     56
43     78  0    273
44  11284  4  35882

Page No:  3
    0                  1      2     3  4      5     6     7  8      9    10  \
5                  STATES
6    1     ANDHRA PRADESH   1513   515  0   2028   548   165  0    713   25
7    2  ARUNACHAL PRADESH      0     0  0      0     1     1  0      2    0
8    3              ASSAM    167   117  0    284     0     0  0      0   19
9    4              BIHAR     88    35  0    123     5     5  0     10    4
10   5       CHHATTISGARH    613   327  0    940   387   219  0    606   34
11   6                GOA     12     3  0     15     3     1  0      4    1
12   7            GUJARAT   1215   625  0   1840   438   240  0    678   23
13   8            HARYANA    241    95  0    336   221   129  0    350   15
14   9   HIMACHAL PRADESH    178   101  0    279     1     0  0      1    1
15  10    JAMMU & KASHMIR     42    45  0     87    38    44  0     82    0
16  11          JHARKHAND    134    93  0    227    15     9  0     24    6
17  12          KARNATAKA   1219   411  0   1630   752   236  0    988  206
18  13             KERALA    525   127  0    652   260    67  0    327   14
19  14     MADHYA PRADESH   1821  1037  1   2859   431   246  0    677   37
20  15        MAHARASHTRA   3083  1022  0   4105   530   144  0    674   60
21  16            MANIPUR      3     2  0      5     2     2  0      4    2
22  17          MEGHALAYA      0     1  0      1     0     0  0      0    1
23  18            MIZORAM      1     0  0      1     0     0  0      0    0
24  19           NAGALAND      0     0  0      0     0     0  0      0    0
25  20             ODISHA    176   141  0    317   938   933  0   1871    2
26  21             PUNJAB    280   102  0    382    58    31  0     89   14
27  22          RAJASTHAN    200    98  0    298   312   112  0    424   40
28  23             SIKKIM      0     0  0      0     0     0  0      0    1
29  24         TAMIL NADU   1969   804  2   2775   890   402  1   1293   26
30  25          TELANGANA   2332   785  0   3117   214   125  0    339    1
31  26            TRIPURA     19    22  0     41    36    10  0     46    0
32  27      UTTAR PRADESH    271   160  0    431   279   199  0    478   43
33  28        UTTARAKHAND    133    89  0    222    30    16  0     46    1
34  29        WEST BENGAL    574   407  0    981  1201   706  0   1907    4
35         TOTAL (STATES)  16809  7164  3  23976  7590  4042  1  11633  580
36      UNION TERRITORIES
37  30      A & N ISLANDS      0     1  0      1     5     8  0     13    0
38  31         CHANDIGARH      0     0  0      0     9     7  0     16    0
39  32      D & N  HAVELI      9     1  0     10     4     0  0      4    0
40  33        DAMAN & DIU      1     1  0      2     0     0  0      0    0
41  34         DELHI (UT)     54    21  0     75    72    24  0     96   14
42  35        LAKSHADWEEP      0     0  0      0     0     0  0      0    0
43  36         PUDUCHERRY      0     0  0      0    41    15  0     56    0
44            TOTAL (UTs)     64    24  0     88   131    54  0    185   14
45      TOTAL (ALL INDIA)  16873  7188  3  24064  7721  4096  1  11818  594

     11 12   13
5
6     2  0   27
7     0  0    0
8    16  0   35
9     4  0    8
10    8  0   42
11    0  0    1
12    7  0   30
13    1  0   16
14    0  0    1
15    1  0    1
16    9  0   15
17   85  0  291
18   10  0   24
19   11  0   48
20   31  0   91
21    0  0    2
22    1  0    2
23    0  0    0
24    0  0    0
25    1  0    3
26    0  0   14
27   16  0   56
28    0  0    1
29    1  0   27
30    0  0    1
31    0  0    0
32   18  0   61
33    1  0    2
34    1  0    5
35  224  0  804
36
37    0  0    0
38    0  0    0
39    0  0    0
40    0  0    0
41   10  0   24
42    0  0    0
43    0  0    0
44   10  0   24
45  234  0  828

Page No:  4
    0                  1     2    3  4     5    6    7  8    9    10  11 12  \
5                  STATES
6    1     ANDHRA PRADESH    34   12  0    46   22    7  0   29   11   2  0
7    2  ARUNACHAL PRADESH     0    0  0     0    0    0  0    0    0   0  0
8    3              ASSAM    40   18  0    58    2    8  0   10    0   0  0
9    4              BIHAR     7    6  0    13    7    6  0   13    0   0  0
10   5       CHHATTISGARH   114   13  0   127   16    1  0   17    9   0  0
11   6                GOA     4    0  0     4    2    0  0    2    0   0  0
12   7            GUJARAT   132   30  0   162   65   23  0   88   12   1  0
13   8            HARYANA   181   19  0   200    2    4  0    6   33   4  0
14   9   HIMACHAL PRADESH     2    0  0     2    2    0  0    2    0   0  0
15  10    JAMMU & KASHMIR     3    0  0     3    1    0  0    1    0   0  0
16  11          JHARKHAND    37    5  0    42   15    0  0   15    0   3  0
17  12          KARNATAKA    35   11  0    46   32   11  0   43    2   0  0
18  13             KERALA    78   25  0   103    8    7  0   15    3   2  0
19  14     MADHYA PRADESH    92   29  0   121   10    4  0   14    2   5  0
20  15        MAHARASHTRA   206   57  0   263  105   48  0  153   26   4  0
21  16            MANIPUR     0    0  0     0    0    0  0    0    0   0  0
22  17          MEGHALAYA     0    0  0     0    0    0  0    0    0   0  0
23  18            MIZORAM     1    0  0     1    1    0  0    1    0   0  0
24  19           NAGALAND     0    0  0     0    0    0  0    0    0   0  0
25  20             ODISHA     4    4  0     8    1    0  0    1    0   0  0
26  21             PUNJAB    42   14  0    56   39   11  0   50    3   0  0
27  22          RAJASTHAN   167   27  0   194   66   10  0   76   36   5  0
28  23             SIKKIM     1    1  0     2    1    0  0    1    0   1  0
29  24         TAMIL NADU    35   75  0   110   35   74  0  109    0   1  0
30  25          TELANGANA   229   54  0   283  210   54  0  264   19   0  0
31  26            TRIPURA     5    7  0    12    0    0  0    0    0   3  0
32  27      UTTAR PRADESH    94   20  0   114   13   13  0   26    3   0  0
33  28        UTTARAKHAND     4    0  0     4    4    0  0    4    0   0  0
34  29        WEST BENGAL    12    7  0    19    8    5  0   13    0   0  0
35         TOTAL (STATES)  1559  434  0  1993  667  286  0  953  159  31  0
36      UNION TERRITORIES
37  30      A & N ISLANDS     0    0  0     0    0    0  0    0    0   0  0
38  31         CHANDIGARH     3    0  0     3    3    0  0    3    0   0  0
39  32      D & N  HAVELI     0    0  0     0    0    0  0    0    0   0  0
40  33        DAMAN & DIU     0    0  0     0    0    0  0    0    0   0  0
41  34         DELHI (UT)    25   13  0    38   25   12  0   37    0   0  0
42  35        LAKSHADWEEP     0    0  0     0    0    0  0    0    0   0  0
43  36         PUDUCHERRY     0    0  0     0    0    0  0    0    0   0  0
44            TOTAL (UTs)    28   13  0    41   28   12  0   40    0   0  0
45      TOTAL (ALL INDIA)  1587  447  0  2034  695  298  0  993  159  31  0

     13
5
6    13
7     0
8     0
9     0
10    9
11    0
12   13
13   37
14    0
15    0
16    3
17    2
18    5
19    7
20   30
21    0
22    0
23    0
24    0
25    0
26    3
27   41
28    1
29    1
30   19
31    3
32    3
33    0
34    0
35  190
36
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45  190

Page No:  5
    0                  1    2    3  4    5     6    7  8     9    10   11 12  \
5                  STATES
6    1     ANDHRA PRADESH    1    3  0    4   452   50  0   502   12    1  0
7    2  ARUNACHAL PRADESH    0    0  0    0     0    0  0     0    0    0  0
8    3              ASSAM   38   10  0   48   103   10  0   113    6   27  0
9    4              BIHAR    0    0  0    0     4    5  0     9   13   16  0
10   5       CHHATTISGARH   89   12  0  101    54   15  0    69   23    6  0
11   6                GOA    2    0  0    2     3    2  0     5    0    0  0
12   7            GUJARAT   55    6  0   61   320   43  0   363    2    0  0
13   8            HARYANA  146   11  0  157   220   48  0   268  154   18  0
14   9   HIMACHAL PRADESH    0    0  0    0     0    0  0     0    0    0  0
15  10    JAMMU & KASHMIR    2    0  0    2     4    1  0     5    4    0  0
16  11          JHARKHAND   22    2  0   24    54    3  0    57   10    0  0
17  12          KARNATAKA    1    0  0    1    21    0  0    21   33    1  0
18  13             KERALA   67   16  0   83   114   19  0   133    6    0  0
19  14     MADHYA PRADESH   80   20  0  100    80   22  0   102   97   24  0
20  15        MAHARASHTRA   75    5  0   80   253   49  0   302   44    6  0
21  16            MANIPUR    0    0  0    0     0    0  0     0    0    0  0
22  17          MEGHALAYA    0    0  0    0     1    0  0     1    0    0  0
23  18            MIZORAM    0    0  0    0     0    0  0     0    0    0  0
24  19           NAGALAND    0    0  0    0     0    0  0     0    0    0  0
25  20             ODISHA    3    4  0    7   114   18  0   132    0    0  0
26  21             PUNJAB    0    3  0    3   386   51  0   437   32   16  0
27  22          RAJASTHAN   65   12  0   77   180   35  0   215   70   28  0
28  23             SIKKIM    0    0  0    0     0    0  0     0    0    0  0
29  24         TAMIL NADU    0    0  0    0    63   20  0    83   29    3  0
30  25          TELANGANA    0    0  0    0   390   37  0   427    0    0  0
31  26            TRIPURA    5    4  0    9     0    0  0     0    0    0  0
32  27      UTTAR PRADESH   78    7  0   85    22    8  0    30   18    7  0
33  28        UTTARAKHAND    0    0  0    0     0    0  0     0    0    0  0
34  29        WEST BENGAL    4    2  0    6    36    6  0    42   26    6  0
35         TOTAL (STATES)  733  117  0  850  2874  442  0  3316  579  159  0
36      UNION TERRITORIES
37  30     A & N  ISLANDS    0    0  0    0     0    0  0     0    0    0  0
38  31         CHANDIGARH    0    0  0    0     0    0  0     0    0    0  0
39  32      D & N  HAVELI    0    0  0    0     0    0  0     0    0    0  0
40  33        DAMAN & DIU    0    0  0    0     0    0  0     0    0    0  0
41  34         DELHI (UT)    0    1  0    1    17    4  0    21   11    3  0
42  35        LAKSHADWEEP    0    0  0    0     0    0  0     0    0    0  0
43  36         PUDUCHERRY    0    0  0    0     0    0  0     0    0    0  0
44            TOTAL (UTs)    0    1  0    1    17    4  0    21   11    3  0
45      TOTAL (ALL INDIA)  733  118  0  851  2891  446  0  3337  590  162  0

     13
5
6    13
7     0
8    33
9    29
10   29
11    0
12    2
13  172
14    0
15    4
16   10
17   34
18    6
19  121
20   50
21    0
22    0
23    0
24    0
25    0
26   48
27   98
28    0
29   32
30    0
31    0
32   25
33    0
34   32
35  738
36
37    0
38    0
39    0
40    0
41   14
42    0
43    0
44   14
45  752

In [12]:
# List of Column headers as column are nested, i.e exhibit a multi level/index structure
# The multi level structre will be generated and applied in the next 
column_header = [
    ['By Consuming Sleeping Pills','By Drowning','By Fire/Self Immolation'],
    ['By Firearms','By Hanging','By Poison (Total)'],
    ['By Poison (By Consuming Insecticides)','By Poison (By Consuming other Poison)','By Self Inflicting  Injury'],
    ['Jumping (Total)','Jumping (from Building)','Jumping (from Other Sites)'],
    ['Jumping (by Jumping off Moving Trains/Vehicles)','By Coming under Running Vehicles/Trains','By Touching Electric Wire']
]
len(column_header)

5

In [13]:
def set_Column(df, title):
    column_list = [
        ("Sl. No.",''),
        ("State/UT",''), 
        (title[0],'Male'),
        (title[0],'Female'),
        (title[0],'Transgender'),
        (title[0],'Total'),
        (title[1],'Male'),
        (title[1],'Female'),
        (title[1],'Transgender'),
        (title[1],'Total'),
        (title[2],'Male'),
        (title[2],'Female'),
        (title[2],'Transgender'),
        (title[2],'Total'),
    ]
    df.columns = pd.MultiIndex.from_tuples(column_list)

In [14]:
for i in range(len(tables)):
    set_Column(tables[i].df, column_header[i])
    tables[i].df.set_index(["Sl. No.","State/UT"],inplace=True)

In [15]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
# tables[23].df

In [16]:
table6 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "25.972342487883687,709.3148100703146,563.6960258481422,83.08127211974046"
                              ],
                          columns=[
                              "49.0588691437803,150.06242326332796,188.5399676898223,229.90332794830374,273.1905654281099,326.0971890145396,393.43289176090474,447.30145395799684,505.9797092084007"
                              ],
                          split_text=True,
                          pages="6"
                         )

In [17]:
def set_Column(df, title):
    column_list = [
        ("Sl. No.",''),
        ("State/UT",''), 
        (title[0],'Male'),
        (title[0],'Female'),
        (title[0],'Transgender'),
        (title[0],'Total'),
        (title[1],'Male'),
        (title[1],'Female'),
        (title[1],'Transgender'),
        (title[1],'Total')
    ]
    df.columns = pd.MultiIndex.from_tuples(column_list)

In [18]:
set_Column(table6[0].df, ['By Other Means','Total'])
table6[0].df.set_index(["Sl. No.","State/UT"],inplace=True)

In [19]:
# Convert List of tables to list of DataFrames
DataFrames = [each.df.copy() for each in tables]
DataFrames.append(table6[0].df.copy())

In [20]:
# Use First page's indexes on all DFs for uniformity when concatenating
index = tables[0].df.index.copy()
for i, each_df in enumerate(DataFrames):
    each_df.index = index

In [21]:
# Concat all the tables one after the other, as they all have the same indexes.
final = pd.concat(DataFrames,axis=1)

In [22]:
# Reset Index before saving file, for better formatting in RAW CSV
final.reset_index().to_csv("Distribution of Suicides by Means Adopted during 2019 (State & UT-wise).csv",index=False)