In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-2.10_2019_0.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-2.10_2019_0.pdf'

In [5]:
table1 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "25.972342487883687,708.3528537908206,573.3154119547659,85.0051846787284"
                              ],
                          columns=[
                              "49.0588691437803,146.21466882067853,189.50190630048468,225.09363489499194,256.83760904684976,291.4673990306947,325.13525040387725,358.8031017770598,391.50901453958,423.25298869143785,458.84471728594514,497.32226171243946,533.8759289176091"
                              ],
                          split_text=True,
                          pages="1"
                         )

In [6]:
table2 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "35.59172859450727,715.0544903663822,561.7721486268175,70.54378310542263"
                              ],
                          columns=[
                              "49.0588691437803,150.06242326332796,188.5399676898223,227.01751211631665,265.495056542811,303.97260096930535,360.72697899838454,431.91043618739906,489.6267528271406"
                              ],
                          split_text=True,
                          pages="2"
                         )

In [7]:
table2[0].df

     0                  1    2    3  4     5      6      7   8       9
0                  STATES
1    1     ANDHRA PRADESH   62   26  0    88   4740   1725   0    6465
2    2  ARUNACHAL PRADESH    0    0  0     0     81     31   0     112
3    3              ASSAM   42   21  0    63   1679    691   0    2370
4    4              BIHAR   10    5  0    15    395    246   0     641
5    5       CHHATTISGARH   18    1  0    19   5520   2109   0    7629
6    6                GOA    0    0  0     0    201     58   0     259
7    7            GUJARAT    2    0  0     2   5168   2486   1    7655
8    8            HARYANA  130   22  0   152   3297    894   0    4191
9    9   HIMACHAL PRADESH    4    2  0     6    377    207   0     584
10  10    JAMMU & KASHMIR    0    0  0     0    157    127   0     284
11  11          JHARKHAND    5    2  0     7   1066    580   0    1646
12  12          KARNATAKA   20    4  0    24   8413   2873   2   11288
13  13             KERALA   13    2  0    15   6668   1888   0    8556
14  14     MADHYA PRADESH    3    0  0     3   8107   4348   2   12457
15  15        MAHARASHTRA   56    7  0    63  14466   4448   2   18916
16  16            MANIPUR    0    0  0     0     36     22   0      58
17  17          MEGHALAYA    0    0  0     0    165     33   0     198
18  18            MIZORAM    0    0  0     0     54     16   0      70
19  19           NAGALAND    0    0  0     0     36      5   0      41
20  20             ODISHA    0    0  0     0   2596   1986   0    4582
21  21             PUNJAB   36    4  0    40   1817    539   1    2357
22  22          RAJASTHAN   33   13  0    46   3302   1229   0    4531
23  23             SIKKIM    0    0  0     0    162     58   0     220
24  24         TAMIL NADU   35   10  0    45   9235   4250   8   13493
25  25          TELANGANA  106   74  0   180   5612   2062   1    7675
26  26            TRIPURA    2    0  0     2    496    232   0     728
27  27      UTTAR PRADESH   16    9  0    25   3233   2231   0    5464
28  28        UTTARAKHAND    0    0  0     0    335    181   0     516
29  29        WEST BENGAL  153   65  0   218   7769   4896   0   12665
30         TOTAL (STATES)  746  267  0  1013  95183  40451  17  135651
31      UNION TERRITORIES
32  30     A & N  ISLANDS    0    0  0     0    130     51   0     181
33  31         CHANDIGARH    1    0  0     1     93     38   0     131
34  32      D & N  HAVELI    0    0  0     0     72     23   0      95
35  33      DAMAN  &  DIU    0    0  0     0     29     17   0      46
36  34         DELHI (UT)    4    1  0     5   1758    768   0    2526
37  35        LAKSHADWEEP    0    0  0     0      0      0   0       0
38  36         PUDUCHERRY    0    0  0     0    348    145   0     493
39            TOTAL (UTs)    5    1  0     6   2430   1042   0    3472
40      TOTAL (ALL INDIA)  751  268  0  1019  97613  41493  17  139123

In [8]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [9]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

In [10]:
# List of Column headers as column are nested, i.e exhibit a multi level/index structure
# The multi level structre will be generated and applied in the next 
column_header = [
    
]
len(column_header)

0

In [11]:
# Setting Column Headers for table 1
title = ['less than 1 lakh','1 lakh & above –less than 5 lakhs','5 lakhs & above –less than 10 lakhs']
column_list = [
    ("Sl. No.",''),
    ("State/UT",''), 
    (title[0],'Male'),
    (title[0],'Female'),
    (title[0],'Transgender'),
    (title[0],'Total'),
    (title[1],'Male'),
    (title[1],'Female'),
    (title[1],'Transgender'),
    (title[1],'Total'),
    (title[2],'Male'),
    (title[2],'Female'),
    (title[2],'Transgender'),
    (title[2],'Total')
]
table1[0].df.columns = pd.MultiIndex.from_tuples(column_list)

In [12]:
# Setting Column Headers for table 2
title = ['10 lakhs and above','Total']
column_list = [
    ("Sl. No.",''),
    ("State/UT",''), 
    (title[0],'Male'),
    (title[0],'Female'),
    (title[0],'Transgender'),
    (title[0],'Total'),
    (title[1],'Male'),
    (title[1],'Female'),
    (title[1],'Transgender'),
    (title[1],'Total')
]
table2[0].df.columns = pd.MultiIndex.from_tuples(column_list)

In [13]:
tables = [table1[0].df.copy(),table2[0].df.copy()]
for i in range(len(tables)):
    tables[i].set_index(["Sl. No.","State/UT"],inplace=True)

In [14]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# Print a simgle one according to your choice
# tables

In [15]:
# Concat all the tables one after the other, as they all have the same indexes.
final = pd.concat(tables,axis=1)

In [16]:
# Reset Index before saving file, for better formatting in RAW CSV
final.reset_index().to_csv("Economic Status - wise Distribution of Suicides during 2019 (State & UT-wise).csv",index=False)