In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.2_2019.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-1.2_2019.pdf'

In [5]:
tables = camelot.read_pdf(fileName,
flavor='stream',
table_areas=[
    "39.54765751211632,681.6608141389621,570.4749596122779,69.65407298672442"
    ],
    columns=[
        "70.19709208400646,174.0096930533118,254.09369951534734,339.1211631663974,401.4087237479806,462.7075928917609,519.0630048465266"
        ],
        row_tol=10,
        split_text=True,
        strip_test="\n",
        pages="all"
)

In [6]:
tables

In [7]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [8]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
printnAllTables(tables)

Page No:  1
     0                  1     2       3       4      5        6     7
0                  STATES
1    1     ANDHRA PRADESH   257   17681   17938    4.3    523.2  34.3
2    2  ARUNACHAL PRADESH     7     268     275    0.1     15.1  18.2
3    3              ASSAM   136    5300    5436    1.3    344.2  15.8
4    4              BIHAR  1521   13690   15211    3.6   1201.1  12.7
5    5       CHHATTISGARH   254   19535   19789    4.7    288.5  68.6
6    6                GOA     3     792     795    0.2     15.4  51.5
7    7            GUJARAT   140   23770   23910    5.7    682.5  35.0
8    8            HARYANA   134   15505   15639    3.7    288.1  54.3
9    9   HIMACHAL PRADESH    39    3217    3256    0.8     73.2  44.5
10  10    JAMMU & KASHMIR    63    1388    1451    0.3    135.3  10.7
11  11          JHARKHAND   556    7147    7703    1.8    375.8  20.5
12  12          KARNATAKA   169   25282   25451    6.0    659.7  38.6
13  13             KERALA   140   13623   13763    3.3    351.9  39.1
14  14     MADHYA PRADESH   627   41804   42431   10.1    826.1  51.4
15  15        MAHARASHTRA   573   69756   70329   16.7   1225.3  57.4
16  16            MANIPUR     5     304     309    0.1     31.1   9.9
17  17          MEGHALAYA    12     464     476    0.1     32.3  14.7
18  18            MIZORAM     4     167     171    0.0     12.0  14.3
19  19           NAGALAND     0      63      63    0.0     21.6   2.9
20  20             ODISHA  1466   14993   16459    3.9    437.3  37.6
21  21             PUNJAB   240   10808   11048    2.6    299.4  36.9
22  22          RAJASTHAN   210   28487   28697    6.8    776.0  37.0
23  23             SIKKIM     6     289     295    0.1      6.7  44.4
24  24         TAMIL NADU    70   22334   22404    5.3    758.1  29.6
25  25          TELANGANA   252   11468   11720    2.8    372.8  31.4
26  26            TRIPURA    20     687     707    0.2     40.0  17.7
27  27      UTTAR PRADESH   792   39804   40596    9.6   2259.7  18.0
28  28        UTTARAKHAND    68    1818    1886    0.4    111.8  16.9
29  29        WEST BENGAL   376   15609   15985    3.8    971.1  16.5
30         TOTAL (STATES)  8140  406053  414193   98.4  13135.2  31.5
31      UNION TERRITORIES
32  30      A & N ISLANDS     2     196     198    0.0      4.0  49.7
33  31         CHANDIGARH     2     412     414    0.1     11.8  35.0
34  32       D & N HAVELI     1     123     124    0.0      5.6  22.3
35  33        DAMAN & DIU     0     148     148    0.0      4.2  35.0
36  34         DELHI (UT)     0    4919    4919    1.2    199.4  24.7
37  35        LAKSHADWEEP     0       5       5    0.0      0.7   7.4
38  36         PUDUCHERRY     0    1103    1103    0.3     15.2  72.8
39            TOTAL (UTs)     5    6906    6911    1.6    240.8  28.7
40      TOTAL (ALL INDIA)  8145  412959  421104  100.0  13376.1  31.5

Page No:  2
     0                  1    2      3      4      5       6     7
0    1               AGRA    2    459    461    0.8    17.5  26.3
1    2          AHMEDABAD    5   1831   1836    3.0    63.5  28.9
2    3          ALLAHABAD    0    321    321    0.5    12.2  26.3
3    4           AMRITSAR   66    334    400    0.7    11.8  33.9
4    5            ASANSOL    0    979    979    1.6    12.4  79.0
5    6         AURANGABAD    0   1036   1036    1.7    11.9  87.1
6    7          BENGALURU    0   4016   4016    6.5    85.0  47.2
7    8             BHOPAL   56    684    740    1.2    18.8  39.4
8    9  CHANDIGARH (CITY)    2    412    414    0.7    10.3  40.2
9   10            CHENNAI    3   1942   1945    3.2    87.0  22.4
10  11         COIMBATORE    0    524    524    0.9    21.5  24.4
11  12       DELHI (CITY)    0   4516   4516    7.4   163.2  27.7
12  13            DHANBAD   10    158    168    0.3    12.0  14.0
13  14   DURG BHILAINAGAR    4    751    755    1.2    10.6  71.2
14  15          FARIDABAD   17   1158   1175    1.9    14.1  83.3
15  16          GHAZIABAD    5    483    488    0.8    23.6  20.7
16  17            GWALIOR    2    312    314    0.5    11.0  28.5
17  18          HYDERABAD    5    785    790    1.3    77.5  10.2
18  19             INDORE    0   1142   1142    1.9    21.7  52.6
19  20           JABALPUR    6    482    488    0.8    12.7  38.4
20  21             JAIPUR    0   2628   2628    4.3    30.7  85.6
21  22         JAMSHEDPUR   10    381    391    0.6    13.4  29.2
22  23            JODHPUR    0   1113   1113    1.8    11.4  97.6
23  24             KANNUR    2    224    226    0.4    16.4  13.8
24  25             KANPUR   27   1493   1520    2.5    29.2  52.1
25  26              KOCHI    0    595    595    1.0    21.2  28.1
26  27            KOLKATA    0    322    322    0.5   141.1   2.3
27  28             KOLLAM    0    581    581    0.9    11.1  52.3
28  29               KOTA    3    606    609    1.0    10.0  60.9
29  30          KOZHIKODE    4    541    545    0.9    20.3  26.8
30  31            LUCKNOW    7    568    575    0.9    29.0  19.8
31  32           LUDHIANA   46   1016   1062    1.7    16.1  66.0
32  33            MADURAI    0    532    532    0.9    14.6  36.4
33  34         MALAPPURAM    9    325    334    0.5    17.0  19.6
34  35             MEERUT    0    212    212    0.3    14.3  14.8
35  36             MUMBAI   34   9212   9246   15.1   184.1  50.2
36  37             NAGPUR    1   2112   2113    3.4    25.0  84.5
37  38              NASIK    0   1544   1544    2.5    15.6  99.0
38  39              PATNA    9    216    225    0.4    20.5  11.0
39  40               PUNE   17   3932   3949    6.4    50.5  78.2
40  41             RAIPUR    0   1001   1001    1.6    11.2  89.4
41  42             RAJKOT    1   1379   1380    2.2    13.9  99.3
42  43             RANCHI   19    348    367    0.6    11.3  32.5
43  44           SRINAGAR    0    119    119    0.2    12.7   9.4
44  45              SURAT    0   2353   2353    3.8    45.9  51.3
45  46  THIRUVANANTHAPURA    0    655    655    1.1    16.9  38.8
46  47       M \nTHRISSUR    6    764    770    1.3    18.6  41.4
47  48    TIRUCHIRAPPALLI    0    250    250    0.4    10.2  24.5
48  49           VADODARA    6    788    794    1.3    18.2  43.6
49  50           VARANASI    9    344    353    0.6    14.4  24.5
50  51        VASAI VIRAR    0   1124   1124    1.8    12.2  92.1
51  52         VIJAYAWADA   20    514    534    0.9    14.9  35.8
52  53     VISHAKHAPATNAM    5    869    874    1.4    17.3  50.5
53         TOTAL (CITIES)  418  60986  61404  100.0  1607.2  38.2

In [9]:
# Custom Fixing City Name
tables[1].df.iloc[45,1] = 'THIRUVANANTHAPURAM'
tables[1].df.iloc[46,1] = 'THRISSUR'
tables[1].df.iloc[45:47,1]

45    THIRUVANANTHAPURAM
46              THRISSUR
Name: 1, dtype: object

In [10]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

In [11]:
column_list_State = [
    ("Sl. No.",''),
    ("State/UT",''), 
    ('Total Accidental Deaths','Forces of Nature'),
    ('Total Accidental Deaths','Other Causes'),
    ('Total Accidental Deaths','Total'),
    ('Percentage Share in Total Deaths',''),
    ('Population(in Lakh)',''),
    ('Rate of Accidental Deaths','')
]
column_list_City = [
    ("Sl. No.",''),
    ("City",''), 
    ('Total Accidental Deaths','Forces of Nature'),
    ('Total Accidental Deaths','Other Causes'),
    ('Total Accidental Deaths','Total'),
    ('Percentage Share in Total Deaths',''),
    ('Population(in Lakh)',''),
    ('Rate of Accidental Deaths','')
]

In [12]:
tables[0].df.columns = pd.MultiIndex.from_tuples(column_list_State)
tables[0].df.set_index(["Sl. No.","State/UT"],inplace=True)
tables[1].df.columns = pd.MultiIndex.from_tuples(column_list_City)
tables[1].df.set_index(["Sl. No.","City"],inplace=True)

In [13]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
# tables[23].df

In [14]:
# Reset Index before saving file, for better formatting in RAW CSV
tables[0].df.reset_index().to_csv("Incidence and Rate of Accidental Deaths due to Forces of Nature and Other Causes during 2019 (StateUT-wise).csv",index=False)
tables[1].df.reset_index().to_csv("Incidence and Rate of Accidental Deaths due to Forces of Nature and Other Causes during 2019 (City-wise).csv",index=False)