In [1]:
import numpy as np
import pandas as pd
import tabula

import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
def Page1Table():
    table = tabula.read_pdf("https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.11_2019.pdf", pages=1)
    table2 = table[0].copy()
    table2.columns = table2.iloc[3]
    table2.drop([0,1,2,3],inplace=True)
    table2[["(4)","(5)","(6)"]] = table2['(4) (5) (6)'].str.split(expand=True)
    table2[["(7)","(8)","(9)","(10)"]] = table2['(7) (8) (9) (10)'].str.split(expand=True)
    columnList = table2.drop(['(4) (5) (6)','(7) (8) (9) (10)'],axis=1).columns.to_list()
    columnNum = sorted([int(col[1:-1]) for col in columnList if( type(col) == str)])
    sortedColumnList = ["("+str(each)+")" for each in columnNum]
    table3 = table2[sortedColumnList]
    columns=[("Sl. No.",""),
         ("State/UT",""),
         ("No. of Cases",""),
         ('No. of Persons Injured','Male'),
         ('No. of Persons Injured','Female'),
         ('No. of Persons Injured','Transgender'),
         ('No. of Persons Injured','Total'),
         ('No. of Persons Died','Male'),
         ('No. of Persons Died','Female'),
         ('No. of Persons Died','Transgender'),
         ('No. of Persons Died','Total'),
        ]
    table3.columns = pd.MultiIndex.from_tuples(columns)
    table3 = table3.set_index("Sl. No.")
    return table3
table1 = Page1Table()

Got stderr: Nov 28, 2020 12:59:29 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:29 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:29 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Nov 28, 2020 12:59:30 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:30 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:30 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'

In [3]:
table1.to_excel("Fire in School Buildings.xlsx")
# table1.to_excel("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(State_&_UT-wise).xlsx",sheet_name="Fire in School Buildings")

In [4]:
def Page2Table():
    table = tabula.read_pdf("https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.11_2019.pdf", pages=2)
    table2 = table[0].copy()
    table2.columns = table2.iloc[4]
    table2.drop([0,1,2,3,4],inplace=True)
    
    table2[["(12)","(13)","(14)"]] = table2['(12) (13) (14)'].str.split(expand=True)
    table2[["(15)","(16)","(17)","(18)"]] = table2['(15) (16) (17) (18)'].str.split(expand=True)
    columnList = table2.drop(['(12) (13) (14)','(15) (16) (17) (18)'],axis=1).columns.to_list()
    columnNum = sorted([int(col[1:-1]) for col in columnList if( type(col) == str)])
    sortedColumnList = ["("+str(each)+")" for each in columnNum]
    table3 = table2[sortedColumnList]
    columns=[("Sl. No.",""),
         ("State/UT",""),
         ("No. of Cases",""),
         ('No. of Persons Injured','Male'),
         ('No. of Persons Injured','Female'),
         ('No. of Persons Injured','Transgender'),
         ('No. of Persons Injured','Total'),
         ('No. of Persons Died','Male'),
         ('No. of Persons Died','Female'),
         ('No. of Persons Died','Transgender'),
         ('No. of Persons Died','Total'),
        ]
    table3.columns = pd.MultiIndex.from_tuples(columns)
    table3 = table3.set_index("Sl. No.")
    return table3
table2 = Page2Table()

Got stderr: Nov 28, 2020 12:59:33 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:33 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:33 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Nov 28, 2020 12:59:34 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:34 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:34 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'

In [5]:
table2.to_excel("Fire in Commercial Buildings.xlsx")
# table2.to_excel("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(State_&_UT-wise).xlsx",sheet_name="Fire in Commercial Buildings")

In [6]:
def Page3Table():
    table = tabula.read_pdf("https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.11_2019.pdf", pages=3)
    table2 = table[0].copy()
    table2.columns = table2.iloc[4]
    table2.drop([0,1,2,3,4],inplace=True)
    
    table2[["(20)","(21)","(22)","(23)","(24)","(25)","(26)"]] = table2['(20) (21) (22) (23) (24) (25) (26)'].str.split(expand=True)
#     table2[["(23)","(24)","(25)","(26)"]] = table2['(23) (24) (25) (26)'].str.split(expand=True)
    columnList = table2.drop(['(20) (21) (22) (23) (24) (25) (26)'],axis=1).columns.to_list()
    columnNum = sorted([int(col[1:-1]) for col in columnList if( type(col) == str)])
    sortedColumnList = ["("+str(each)+")" for each in columnNum]
    table3 = table2[sortedColumnList]
    columns=[("Sl. No.",""),
         ("State/UT",""),
         ("No. of Cases",""),
         ('No. of Persons Injured','Male'),
         ('No. of Persons Injured','Female'),
         ('No. of Persons Injured','Transgender'),
         ('No. of Persons Injured','Total'),
         ('No. of Persons Died','Male'),
         ('No. of Persons Died','Female'),
         ('No. of Persons Died','Transgender'),
         ('No. of Persons Died','Total'),
        ]
    table3.columns = pd.MultiIndex.from_tuples(columns)
    table3 = table3.set_index("Sl. No.")
    return table3
table3 = Page3Table()
table3

Got stderr: Nov 28, 2020 12:59:36 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:36 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:36 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Nov 28, 2020 12:59:38 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:38 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:38 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'

                  State/UT No. of Cases No. of Persons Injured         \
                                                          Male Female
Sl. No.
NaN                 STATES          NaN                    NaN    NaN
1           ANDHRA PRADESH          206                      4      4
2        ARUNACHAL PRADESH            5                      0      0
3                    ASSAM           75                     10      3
4                    BIHAR          250                      5      2
5             CHHATTISGARH          150                      0      3
6                      GOA           21                      0      0
7                  GUJARAT          658                      0      0
8                  HARYANA           25                      0      0
9         HIMACHAL PRADESH           55                      0      0
10         JAMMU & KASHMIR           39                      0      0
11               JHARKHAND          173                      0      1
12               KARNATAKA          631                      5      7
13                  KERALA          198                      1      3
14          MADHYA PRADESH          916                     58     12
15             MAHARASHTRA          921                      0      0
16                 MANIPUR            0                      0      0
17               MEGHALAYA            6                      1      0
18                 MIZORAM            1                      0      0
19                NAGALAND            3                      0      0
20                  ODISHA           32                      0      0
21                  PUNJAB          130                      0      0
22               RAJASTHAN          356                      4      4
23                  SIKKIM            1                      0      0
24              TAMIL NADU          617                     32     10
25               TELANGANA          150                      3      2
26                 TRIPURA           22                      0      0
27           UTTAR PRADESH          580                     67     44
28             UTTARAKHAND           19                      0      0
29             WEST BENGAL           75                      2      1
NaN         TOTAL (STATES)         6315                    192     96
NaN       UNIONTERRITORIES          NaN                    NaN    NaN
30            A & NISLANDS            6                      0      0
31              CHANDIGARH            2                      0      0
32            D & N HAVELI            0                      0      0
33             DAMAN & DIU            0                      0      0
34              DELHI (UT)           40                     30      1
35             LAKSHADWEEP            1                      0      2
36              PUDUCHERRY            0                      0      0
NaN            TOTAL (UTs)           49                     30      3
NaN      TOTAL (ALL INDIA)         6364                    222     99

                          No. of Persons Died
        Transgender Total                Male Female Transgender Total
Sl. No.
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
1                 0     8                  77    131           0   208
2                 0     0                   4      3           0     7
3                 0    13                  51     16           0    67
4                 0     7                  86    168           0   254
5                 0     3                  51    103           0   154
6                 0     0                   4      8           0    12
7                 0     0                 277    409           0   686
8                 0     0                  12     13           0    25
9                 0     0                  26     14           0    40
10                0     0                  12      7           0    19
11                0     1                  79     94           0   173
12                0    12                 297    348           0   645
13                0     4                  67    131           0   198
14                0    70                 284    561           0   845
15                0     0                 297    637           0   934
16                0     0                   0      0           0     0
17                0     1                   5      1           0     6
18                0     0                   1      0           0     1
19                0     0                   4      0           0     4
20                0     0                  25      7           0    32
21                0     0                  73     57           0   130
22                0     8                 205    161           0   366
23                0     0                   0      1           0     1
24                0    42                 265    359           0   624
25                0     5                  69     81           0   150
26                0     0                  12     10           0    22
27                0   111                 290    240           0   530
28                0     0                  10      9           0    19
29                0     3                  37     34           0    71
NaN               0   288                2620   3603           0  6223
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
30                0     0                   2      4           0     6
31                0     0                   0      2           0     2
32                0     0                   0      0           0     0
33                0     0                   0      0           0     0
34                0    31                  73     22           0    95
35                0     2                   3      0           0     3
36                0     0                   0      0           0     0
NaN               0    33                  78     28           0   106
NaN               0   321                2698   3631           0  6329

In [7]:
table3.to_excel("Fire in Residential,Dwelling Buildings.xlsx")
# table3.to_excel("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(State_&_UT-wise).xlsx",sheet_name="Fire in Residential,Dwelling Buildings")

In [8]:
def Page4Table():
    table = tabula.read_pdf("https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.11_2019.pdf", pages=4)
    table2 = table[0].copy()
    table2.columns = table2.iloc[4]
    table2.drop([0,1,2,3,4],inplace=True)
    
#     table2[["(20)","(21)","(22)","(23)","(24)","(25)","(26)"]] = table2['(20) (21) (22) (23) (24) (25) (26)'].str.split(expand=True)
    table2[["(28)","(29)","(30)"]] = table2['(28) (29) (30)'].str.split(expand=True)
    table2[["(31)","(32)","(33)","(34)"]] = table2['(31) (32) (33) (34)'].str.split(expand=True)
#     columnList = table2.drop(['(28) (29) (30) (31) (32) (33) (34)'],axis=1).columns.to_list()
    columnList = table2.drop(['(28) (29) (30)', '(31) (32) (33) (34)'],axis=1).columns.to_list()
    columnNum = sorted([int(col[1:-1]) for col in columnList if( type(col) == str)])
    sortedColumnList = ["("+str(each)+")" for each in columnNum]
    table3 = table2[sortedColumnList]
    columns=[("Sl. No.",""),
         ("State/UT",""),
         ("No. of Cases",""),
         ('No. of Persons Injured','Male'),
         ('No. of Persons Injured','Female'),
         ('No. of Persons Injured','Transgender'),
         ('No. of Persons Injured','Total'),
         ('No. of Persons Died','Male'),
         ('No. of Persons Died','Female'),
         ('No. of Persons Died','Transgender'),
         ('No. of Persons Died','Total'),
        ]
    table3.columns = pd.MultiIndex.from_tuples(columns)
    table3 = table3.set_index("Sl. No.")
    return table3
table4 = Page4Table()
table4

Got stderr: Nov 28, 2020 12:59:40 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:40 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:40 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Nov 28, 2020 12:59:42 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:42 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:42 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'

                  State/UT No. of Cases No. of Persons Injured         \
                                                          Male Female
Sl. No.
NaN                 STATES          NaN                    NaN    NaN
1           ANDHRA PRADESH            0                      0      0
2        ARUNACHAL PRADESH            0                      0      0
3                    ASSAM            0                      0      0
4                    BIHAR            0                      0      0
5             CHHATTISGARH            0                      0      0
6                      GOA            0                      0      0
7                  GUJARAT            1                      0      0
8                  HARYANA            0                      0      0
9         HIMACHAL PRADESH            5                      0      0
10         JAMMU & KASHMIR            7                      0      0
11               JHARKHAND           30                      0      0
12               KARNATAKA            5                      0      1
13                  KERALA            1                      0      0
14          MADHYA PRADESH            0                      0      0
15             MAHARASHTRA            0                      0      0
16                 MANIPUR            0                      0      0
17               MEGHALAYA            0                      0      0
18                 MIZORAM            0                      0      0
19                NAGALAND            0                      0      0
20                  ODISHA            0                      0      0
21                  PUNJAB            0                      0      0
22               RAJASTHAN            2                      0      0
23                  SIKKIM            0                      0      0
24              TAMIL NADU            5                      0      0
25               TELANGANA            2                      0      0
26                 TRIPURA            0                      0      0
27           UTTAR PRADESH            0                      0      0
28             UTTARAKHAND            0                      0      0
29             WEST BENGAL            0                      0      0
NaN         TOTAL (STATES)           58                      0      1
NaN       UNIONTERRITORIES          NaN                    NaN    NaN
30            A & NISLANDS            0                      0      0
31              CHANDIGARH            0                      0      0
32            D & N HAVELI            0                      0      0
33             DAMAN & DIU            0                      0      0
34              DELHI (UT)            2                      0      0
35             LAKSHADWEEP            0                      0      0
36              PUDUCHERRY            0                      0      0
NaN            TOTAL (UTs)            2                      0      0
NaN      TOTAL (ALL INDIA)           60                      0      1

                          No. of Persons Died
        Transgender Total                Male Female Transgender Total
Sl. No.
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
1                 0     0                   0      0           0     0
2                 0     0                   0      0           0     0
3                 0     0                   0      0           0     0
4                 0     0                   0      0           0     0
5                 0     0                   0      0           0     0
6                 0     0                   0      0           0     0
7                 0     0                   1      0           0     1
8                 0     0                   0      0           0     0
9                 0     0                   3      1           0     4
10                0     0                   1      0           0     1
11                0     0                  28      2           0    30
12                0     1                   4      1           0     5
13                0     0                   1      0           0     1
14                0     0                   0      0           0     0
15                0     0                   0      0           0     0
16                0     0                   0      0           0     0
17                0     0                   0      0           0     0
18                0     0                   0      0           0     0
19                0     0                   0      0           0     0
20                0     0                   0      0           0     0
21                0     0                   0      0           0     0
22                0     0                   1      1           0     2
23                0     0                   0      0           0     0
24                0     0                   5      2           0     7
25                0     0                   1      0           0     1
26                0     0                   0      0           0     0
27                0     0                   0      0           0     0
28                0     0                   0      0           0     0
29                0     0                   0      0           0     0
NaN               0     1                  45      7           0    52
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
30                0     0                   0      0           0     0
31                0     0                   0      0           0     0
32                0     0                   0      0           0     0
33                0     0                   0      0           0     0
34                0     0                   2      0           0     2
35                0     0                   0      0           0     0
36                0     0                   0      0           0     0
NaN               0     0                   2      0           0     2
NaN               0     1                  47      7           0    54

In [9]:
table4.to_excel("Fire in Government Buildings.xlsx")
# table4.to_excel("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(State_&_UT-wise).xlsx",sheet_name="Fire in Government Buildings")

In [10]:
def Page5Table():
    table = tabula.read_pdf("https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.11_2019.pdf", pages=5, stream=True)
    table2 = table[0].copy()
    table2.columns = table2.iloc[4]
    table2.drop([0,1,2,3,4],inplace=True)
    
    nan = table2.columns[-1]
    
#     table2[["(20)","(21)","(22)","(23)","(24)","(25)","(26)"]] = table2['(20) (21) (22) (23) (24) (25) (26)'].str.split(expand=True)
    table2[["(36)","(37)","(38)"]] = table2['(36) (37) (38)'].str.split(expand=True)
    table2[["(39)","(40)"]] = table2['(39) (40)'].str.split(expand=True)
    table2[["(41)","(42)"]] = table2['(41) (42)'].str.split(expand=True)
#     table2[["(39)","(40)","(41)","(42)"]] = table2['(39) (40) (41) (42)'].str.split(expand=True)
#     columnList = table2.drop(['(28) (29) (30) (31) (32) (33) (34)'],axis=1).columns.to_list()
    columnList = table2.drop(['(36) (37) (38)', '(39) (40)', '(41) (42)', '(43)'],axis=1).columns.to_list()
    columnNum = sorted([int(col[1:-1]) for col in columnList if( type(col) == str)])
    sortedColumnList = ["("+str(each)+")" for each in columnNum]
    
    sortedColumnList.append(nan)
    
    table3 = table2[sortedColumnList] 
    columns=[("Sl. No.",""),
         ("State/UT",""),
         ("No. of Cases",""),
         ('No. of Persons Injured','Male'),
         ('No. of Persons Injured','Female'),
         ('No. of Persons Injured','Transgender'),
         ('No. of Persons Injured','Total'),
         ('No. of Persons Died','Male'),
         ('No. of Persons Died','Female'),
         ('No. of Persons Died','Transgender'),
         ('No. of Persons Died','Total'),
        ]
    table3.columns = pd.MultiIndex.from_tuples(columns)
    table3 = table3.set_index("Sl. No.")
    return table3
table5 = Page5Table()
table5

Got stderr: Nov 28, 2020 12:59:44 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:44 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:44 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Nov 28, 2020 12:59:46 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:46 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:46 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'

                  State/UT No. of Cases No. of Persons Injured         \
                                                          Male Female
Sl. No.
NaN                 STATES          NaN                    NaN    NaN
1           ANDHRA PRADESH            0                      0      0
2        ARUNACHAL PRADESH            0                      0      0
3                    ASSAM            0                      0      0
4                    BIHAR            0                      0      0
5             CHHATTISGARH            0                      0      0
6                      GOA            0                      0      0
7                  GUJARAT            0                      0      0
8                  HARYANA            0                      0      0
9         HIMACHAL PRADESH            0                      0      0
10         JAMMU & KASHMIR            0                      0      0
11               JHARKHAND            0                      0      0
12               KARNATAKA            0                      0      0
13                  KERALA            0                      0      0
14          MADHYA PRADESH            0                      0      0
15             MAHARASHTRA            0                      0      0
16                 MANIPUR            0                      0      0
17               MEGHALAYA            0                      0      0
18                 MIZORAM            1                      0      0
19                NAGALAND            1                      0      0
20                  ODISHA            0                      0      0
21                  PUNJAB            0                      0      0
22               RAJASTHAN            0                      0      0
23                  SIKKIM            0                      0      0
24              TAMIL NADU            0                      0      0
25               TELANGANA            0                      0      0
26                 TRIPURA            0                      0      0
27           UTTAR PRADESH            0                      0      0
28             UTTARAKHAND            0                      0      0
29             WEST BENGAL            0                      0      0
NaN         TOTAL (STATES)            2                      0      0
NaN       UNIONTERRITORIES          NaN                    NaN    NaN
30            A & NISLANDS            0                      0      0
31              CHANDIGARH            0                      0      0
32            D & N HAVELI            0                      0      0
33             DAMAN & DIU            0                      0      0
34              DELHI (UT)            0                      0      0
35             LAKSHADWEEP            0                      0      0
36              PUDUCHERRY            0                      0      0
NaN            TOTAL (UTs)            0                      0      0
NaN      TOTAL (ALL INDIA)            2                      0      0

                          No. of Persons Died
        Transgender Total                Male Female Transgender Total
Sl. No.
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
1                 0     0                   0      0           0   0.0
2                 0     0                   0      0           0   0.0
3                 0     0                   0      0           0   0.0
4                 0     0                   0      0           0   0.0
5                 0     0                   0      0           0   0.0
6                 0     0                   0      0           0   0.0
7                 0     0                   0      0           0   0.0
8                 0     0                   0      0           0   0.0
9                 0     0                   0      0           0   0.0
10                0     0                   0      0           0   0.0
11                0     0                   0      0           0   0.0
12                0     0                   0      0           0   0.0
13                0     0                   0      0           0   0.0
14                0     0                   0      0           0   0.0
15                0     0                   0      0           0   0.0
16                0     0                   0      0           0   0.0
17                0     0                   0      0           0   0.0
18                0     0                   1      0           0   1.0
19                0     0                   1      0           0   1.0
20                0     0                   0      0           0   0.0
21                0     0                   0      0           0   0.0
22                0     0                   0      0           0   0.0
23                0     0                   0      0           0   0.0
24                0     0                   0      0           0   0.0
25                0     0                   0      0           0   0.0
26                0     0                   0      0           0   0.0
27                0     0                   0      0           0   0.0
28                0     0                   0      0           0   0.0
29                0     0                   0      0           0   0.0
NaN               0     0                   2      0           0   2.0
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
30                0     0                   0      0           0   0.0
31                0     0                   0      0           0   0.0
32                0     0                   0      0           0   0.0
33                0     0                   0      0           0   0.0
34                0     0                   0      0           0   0.0
35                0     0                   0      0           0   0.0
36                0     0                   0      0           0   0.0
NaN               0     0                   0      0           0   0.0
NaN               0     0                   2      0           0   2.0

In [11]:
table5.to_excel("Fire in the Mines.xlsx")
# table5.to_excel("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(State_&_UT-wise).xlsx",sheet_name="Fire in the Mines")

In [12]:
def Page6Table():
    table = tabula.read_pdf("https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.11_2019.pdf", pages=6, stream=True)
    table2 = table[0].copy()
    table2.columns = table2.iloc[4]
    table2.drop([0,1,2,3,4],inplace=True)
    
#     nan = table2.columns[-1]
    
    table2[["(44)","(45)","(46)","(47)","(48)","(49)","(50)"]] = table2['(44) (45) (46) (47) (48) (49) (50)'].str.split(expand=True)
#     table2[["(36)","(37)","(38)"]] = table2['(36) (37) (38)'].str.split(expand=True)
#     table2[["(39)","(40)"]] = table2['(39) (40)'].str.split(expand=True)
#     table2[["(41)","(42)"]] = table2['(41) (42)'].str.split(expand=True)
#     table2[["(39)","(40)","(41)","(42)"]] = table2['(39) (40) (41) (42)'].str.split(expand=True)
    columnList = table2.drop(['(44) (45) (46) (47) (48) (49) (50)'],axis=1).columns.to_list()
#     columnList = table2.drop(['(36) (37) (38)', '(39) (40)', '(41) (42)', '(43)'],axis=1).columns.to_list()
    columnNum = sorted([int(col[1:-1]) for col in columnList if( type(col) == str)])
    sortedColumnList = ["("+str(each)+")" for each in columnNum]
    
#     sortedColumnList.append(nan)
    
    table3 = table2[sortedColumnList] 
    columns=[("Sl. No.",""),
         ("State/UT",""),
         ("No. of Cases",""),
         ('No. of Persons Injured','Male'),
         ('No. of Persons Injured','Female'),
         ('No. of Persons Injured','Transgender'),
         ('No. of Persons Injured','Total'),
         ('No. of Persons Died','Male'),
         ('No. of Persons Died','Female'),
         ('No. of Persons Died','Transgender'),
         ('No. of Persons Died','Total'),
        ]
    table3.columns = pd.MultiIndex.from_tuples(columns)
    table3 = table3.set_index("Sl. No.")
    return table3
table6 = Page6Table()
table6

Got stderr: Nov 28, 2020 12:59:48 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:48 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:48 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Nov 28, 2020 12:59:49 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:49 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:49 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'

                  State/UT No. of Cases No. of Persons Injured         \
                                                          Male Female
Sl. No.
NaN                 STATES          NaN                    NaN    NaN
1           ANDHRA PRADESH            0                      0      0
2        ARUNACHAL PRADESH            0                      0      0
3                    ASSAM            3                      0      0
4                    BIHAR            0                      0      0
5             CHHATTISGARH            0                      0      0
6                      GOA            0                      0      0
7                  GUJARAT            0                      0      0
8                  HARYANA            0                      0      0
9         HIMACHAL PRADESH            0                      0      0
10         JAMMU & KASHMIR            0                      0      0
11               JHARKHAND           11                      0      0
12               KARNATAKA            0                      0      0
13                  KERALA            0                      0      0
14          MADHYA PRADESH            0                      0      0
15             MAHARASHTRA            0                      0      0
16                 MANIPUR            0                      0      0
17               MEGHALAYA            0                      0      0
18                 MIZORAM            0                      0      0
19                NAGALAND            0                      0      0
20                  ODISHA            0                      0      0
21                  PUNJAB            2                      0      0
22               RAJASTHAN            0                      0      0
23                  SIKKIM            0                      0      0
24              TAMIL NADU            2                      0      0
25               TELANGANA            0                      0      0
26                 TRIPURA            0                      0      0
27           UTTAR PRADESH            4                      0      0
28             UTTARAKHAND            0                      0      0
29             WEST BENGAL            0                      0      0
NaN         TOTAL (STATES)           22                      0      0
NaN       UNIONTERRITORIES          NaN                    NaN    NaN
30            A & NISLANDS            0                      0      0
31              CHANDIGARH            3                      2      1
32            D & N HAVELI            0                      0      0
33             DAMAN & DIU            0                      0      0
34              DELHI (UT)            2                      0      0
35             LAKSHADWEEP            0                      0      0
36              PUDUCHERRY            0                      0      0
NaN            TOTAL (UTs)            5                      2      1
NaN      TOTAL (ALL INDIA)           27                      2      1

                          No. of Persons Died
        Transgender Total                Male Female Transgender Total
Sl. No.
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
1                 0     0                   0      0           0     0
2                 0     0                   0      0           0     0
3                 0     0                   3      0           0     3
4                 0     0                   0      0           0     0
5                 0     0                   0      0           0     0
6                 0     0                   0      0           0     0
7                 0     0                   0      0           0     0
8                 0     0                   0      0           0     0
9                 0     0                   0      0           0     0
10                0     0                   0      0           0     0
11                0     0                   2      9           0    11
12                0     0                   0      0           0     0
13                0     0                   0      0           0     0
14                0     0                   0      0           0     0
15                0     0                   0      0           0     0
16                0     0                   0      0           0     0
17                0     0                   0      0           0     0
18                0     0                   0      0           0     0
19                0     0                   0      0           0     0
20                0     0                   0      0           0     0
21                0     0                   2      0           0     2
22                0     0                   0      0           0     0
23                0     0                   0      0           0     0
24                0     0                   1      1           0     2
25                0     0                   0      0           0     0
26                0     0                   0      0           0     0
27                0     0                   9      2           0    11
28                0     0                   0      0           0     0
29                0     0                   0      0           0     0
NaN               0     0                  17     12           0    29
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
30                0     0                   0      0           0     0
31                0     3                   2      0           0     2
32                0     0                   0      0           0     0
33                0     0                   0      0           0     0
34                0     0                   2      0           0     2
35                0     0                   0      0           0     0
36                0     0                   0      0           0     0
NaN               0     3                   4      0           0     4
NaN               0     3                  21     12           0    33

In [13]:
table6.to_excel("Fire in Factory Manufacturing Combustible Materials Including Cracker,Match Box Factories.xlsx")
# table6.to_excel("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(State_&_UT-wise).xlsx",sheet_name="Fire in Factory Manufacturing Combustible Materials Including Cracker,Match Box Factories")

In [14]:
def Page7Table():
    table = tabula.read_pdf("https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.11_2019.pdf", pages=7, stream=True)
    table2 = table[0].copy()
    table2.columns = table2.iloc[4]
    table2.drop([0,1,2,3,4],inplace=True)
    
#     nan = table2.columns[-1]
    
#     table2[["(44)","(45)","(46)","(47)","(48)","(49)","(50)"]] = table2['(44) (45) (46) (47) (48) (49) (50)'].str.split(expand=True)
    table2[["(52)","(53)","(54)"]] = table2['(52) (53) (54)'].str.split(expand=True)
#     table2[["(39)","(40)"]] = table2['(39) (40)'].str.split(expand=True)
#     table2[["(41)","(42)"]] = table2['(41) (42)'].str.split(expand=True)
    table2[["(55)","(56)","(57)","(58)"]] = table2['(55) (56) (57) (58)'].str.split(expand=True)
#     columnList = table2.drop(['(44) (45) (46) (47) (48) (49) (50)'],axis=1).columns.to_list()
    columnList = table2.drop(['(52) (53) (54)', '(55) (56) (57) (58)'],axis=1).columns.to_list()
#     columnList = table2.drop(['(36) (37) (38)', '(39) (40)', '(41) (42)', '(43)'],axis=1).columns.to_list()
    columnNum = sorted([int(col[1:-1]) for col in columnList if( type(col) == str)])
    sortedColumnList = ["("+str(each)+")" for each in columnNum]
    
#     sortedColumnList.append(nan)
    
    table3 = table2[sortedColumnList] 
    columns=[("Sl. No.",""),
         ("State/UT",""),
         ("No. of Cases",""),
         ('No. of Persons Injured','Male'),
         ('No. of Persons Injured','Female'),
         ('No. of Persons Injured','Transgender'),
         ('No. of Persons Injured','Total'),
         ('No. of Persons Died','Male'),
         ('No. of Persons Died','Female'),
         ('No. of Persons Died','Transgender'),
         ('No. of Persons Died','Total'),
        ]
    table3.columns = pd.MultiIndex.from_tuples(columns)
    table3 = table3.set_index("Sl. No.")
    return table3
table7 = Page7Table()
table7

Got stderr: Nov 28, 2020 12:59:52 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:52 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:52 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Nov 28, 2020 12:59:53 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:53 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:53 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'

                  State/UT No. of Cases No. of Persons Injured         \
                                                          Male Female
Sl. No.
NaN                 STATES          NaN                    NaN    NaN
1           ANDHRA PRADESH            0                      0      0
2        ARUNACHAL PRADESH            0                      0      0
3                    ASSAM            0                      0      0
4                    BIHAR            0                      0      0
5             CHHATTISGARH           67                      7      3
6                      GOA            1                      0      0
7                  GUJARAT            7                      0      0
8                  HARYANA            0                      0      0
9         HIMACHAL PRADESH           12                      1      0
10         JAMMU & KASHMIR            0                      0      0
11               JHARKHAND            6                      1      1
12               KARNATAKA            9                      0      0
13                  KERALA            1                      0      0
14          MADHYA PRADESH            3                      0      0
15             MAHARASHTRA           39                      0      0
16                 MANIPUR            1                      0      0
17               MEGHALAYA            0                      0      0
18                 MIZORAM            0                      0      0
19                NAGALAND            0                      0      0
20                  ODISHA            0                      0      0
21                  PUNJAB            6                      0      0
22               RAJASTHAN            8                      0      0
23                  SIKKIM            0                      0      0
24              TAMIL NADU            4                      1      0
25               TELANGANA            0                      0      0
26                 TRIPURA            0                      0      0
27           UTTAR PRADESH            2                      0      0
28             UTTARAKHAND            0                      0      0
29             WEST BENGAL            0                      0      0
NaN         TOTAL (STATES)          166                     10      4
NaN       UNIONTERRITORIES          NaN                    NaN    NaN
30            A & NISLANDS            0                      0      0
31              CHANDIGARH            2                      0      1
32            D & N HAVELI            1                      0      0
33             DAMAN & DIU            0                      0      0
34              DELHI (UT)           12                     17      0
35             LAKSHADWEEP            0                      0      0
36              PUDUCHERRY            0                      0      0
NaN            TOTAL (UTs)           15                     17      1
NaN      TOTAL (ALL INDIA)          181                     27      5

                          No. of Persons Died
        Transgender Total                Male Female Transgender Total
Sl. No.
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
1                 0     0                   0      0           0     0
2                 0     0                   0      0           0     0
3                 0     0                   0      0           0     0
4                 0     0                   0      0           0     0
5                 0    10                  15     43           0    58
6                 0     0                   0      0           0     0
7                 0     0                   7      0           0     7
8                 0     0                   0      0           0     0
9                 0     1                   6      6           0    12
10                0     0                   0      0           0     0
11                0     2                   6      9           0    15
12                0     0                   9      1           0    10
13                0     0                   1      0           0     1
14                0     0                   3      0           0     3
15                0     0                  24     15           0    39
16                0     0                   2      0           0     2
17                0     0                   0      0           0     0
18                0     0                   0      0           0     0
19                0     0                   0      0           0     0
20                0     0                   0      0           0     0
21                0     0                   6      0           0     6
22                0     0                   8      0           0     8
23                0     0                   0      0           0     0
24                0     1                   3      0           0     3
25                0     0                   0      0           0     0
26                0     0                   0      0           0     0
27                0     0                   2      0           0     2
28                0     0                   0      0           0     0
29                0     0                   0      0           0     0
NaN               0    14                  92     74           0   166
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
30                0     0                   0      0           0     0
31                0     1                   2      0           0     2
32                0     0                   0      1           0     1
33                0     0                   0      0           0     0
34                0    17                   8      0           0     8
35                0     0                   0      0           0     0
36                0     0                   0      0           0     0
NaN               0    18                  10      1           0    11
NaN               0    32                 102     75           0   177

In [15]:
table7.to_excel("Fire in the Other Factories.xlsx")
# table7.to_excel("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(State_&_UT-wise).xlsx",sheet_name="Fire in the Other Factories")

In [16]:
def Page8Table():
    table = tabula.read_pdf("https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.11_2019.pdf", pages=8, stream=True)
    table2 = table[0].copy()
    table2.columns = table2.iloc[4]
    table2.drop([0,1,2,3,4],inplace=True)
    
    nan = table2.columns[-1]
    
#     table2[["(44)","(45)","(46)","(47)","(48)","(49)","(50)"]] = table2['(44) (45) (46) (47) (48) (49) (50)'].str.split(expand=True)
    table2[["(60)","(61)","(62)"]] = table2['(60) (61) (62)'].str.split(expand=True)
#     table2[["(39)","(40)"]] = table2['(39) (40)'].str.split(expand=True)
#     table2[["(41)","(42)"]] = table2['(41) (42)'].str.split(expand=True)
    table2[["(63)","(64)","(65)","(66)"]] = table2['(63) (64) (65) (66)'].str.split(expand=True)
#     columnList = table2.drop(['(44) (45) (46) (47) (48) (49) (50)'],axis=1).columns.to_list()
    columnList = table2.drop(['(60) (61) (62)', '(63) (64) (65) (66)', '(67)'],axis=1).columns.to_list()
#     columnList = table2.drop(['(36) (37) (38)', '(39) (40)', '(41) (42)', '(43)'],axis=1).columns.to_list()
    columnNum = sorted([int(col[1:-1]) for col in columnList if( type(col) == str)])
    sortedColumnList = ["("+str(each)+")" for each in columnNum]
    
    sortedColumnList.append(nan)
    
    table3 = table2[sortedColumnList] 
    columns=[("Sl. No.",""),
         ("State/UT",""),
         ("No. of Cases",""),
         ('No. of Persons Injured','Male'),
         ('No. of Persons Injured','Female'),
         ('No. of Persons Injured','Transgender'),
         ('No. of Persons Injured','Total'),
         ('No. of Persons Died','Male'),
         ('No. of Persons Died','Female'),
         ('No. of Persons Died','Transgender'),
         ('No. of Persons Died','Total'),
        ]
    table3.columns = pd.MultiIndex.from_tuples(columns)
    table3 = table3.set_index("Sl. No.")
    return table3
table8 = Page8Table()
table8

Got stderr: Nov 28, 2020 12:59:56 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:56 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:56 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Nov 28, 2020 12:59:57 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:57 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:57 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'

                  State/UT No. of Cases No. of Persons Injured         \
                                                          Male Female
Sl. No.
NaN                 STATES          NaN                    NaN    NaN
1           ANDHRA PRADESH            6                      0      0
2        ARUNACHAL PRADESH            0                      0      0
3                    ASSAM            0                      0      0
4                    BIHAR            0                      0      0
5             CHHATTISGARH            0                      0      0
6                      GOA            0                      0      0
7                  GUJARAT            0                      0      0
8                  HARYANA            0                      0      0
9         HIMACHAL PRADESH            0                      0      0
10         JAMMU & KASHMIR            0                      0      0
11               JHARKHAND            0                      0      0
12               KARNATAKA            0                      0      0
13                  KERALA            0                      0      0
14          MADHYA PRADESH            0                      0      0
15             MAHARASHTRA            0                      0      0
16                 MANIPUR            0                      0      0
17               MEGHALAYA            0                      0      0
18                 MIZORAM            0                      0      0
19                NAGALAND            0                      0      0
20                  ODISHA            0                      0      0
21                  PUNJAB            0                      0      0
22               RAJASTHAN            0                      0      0
23                  SIKKIM            0                      0      0
24              TAMIL NADU            2                      2      0
25               TELANGANA            0                      0      0
26                 TRIPURA            0                      0      0
27           UTTAR PRADESH            0                      0      0
28             UTTARAKHAND            0                      0      0
29             WEST BENGAL            0                      0      0
NaN         TOTAL (STATES)            8                      2      0
NaN       UNIONTERRITORIES          NaN                    NaN    NaN
30            A & NISLANDS            0                      0      0
31              CHANDIGARH            0                      0      0
32            D & N HAVELI            0                      0      0
33             DAMAN & DIU            0                      0      0
34              DELHI (UT)            0                      0      0
35             LAKSHADWEEP            0                      0      0
36              PUDUCHERRY            0                      0      0
NaN            TOTAL (UTs)            0                      0      0
NaN      TOTAL (ALL INDIA)            8                      2      0

                          No. of Persons Died
        Transgender Total                Male Female Transgender Total
Sl. No.
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
1                 0     0                   5      1           0   6.0
2                 0     0                   0      0           0   0.0
3                 0     0                   0      0           0   0.0
4                 0     0                   0      0           0   0.0
5                 0     0                   0      0           0   0.0
6                 0     0                   0      0           0   0.0
7                 0     0                   0      0           0   0.0
8                 0     0                   0      0           0   0.0
9                 0     0                   0      0           0   0.0
10                0     0                   0      0           0   0.0
11                0     0                   0      0           0   0.0
12                0     0                   0      0           0   0.0
13                0     0                   0      0           0   0.0
14                0     0                   0      0           0   0.0
15                0     0                   0      0           0   0.0
16                0     0                   0      0           0   0.0
17                0     0                   0      0           0   0.0
18                0     0                   0      0           0   0.0
19                0     0                   0      0           0   0.0
20                0     0                   0      0           0   0.0
21                0     0                   0      0           0   0.0
22                0     0                   0      0           0   0.0
23                0     0                   0      0           0   0.0
24                0     2                   1      0           0   1.0
25                0     0                   0      0           0   0.0
26                0     0                   0      0           0   0.0
27                0     0                   0      0           0   0.0
28                0     0                   0      0           0   0.0
29                0     0                   0      0           0   0.0
NaN               0     2                   6      1           0   7.0
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
30                0     0                   0      0           0   0.0
31                0     0                   0      0           0   0.0
32                0     0                   0      0           0   0.0
33                0     0                   0      0           0   0.0
34                0     0                   0      0           0   0.0
35                0     0                   0      0           0   0.0
36                0     0                   0      0           0   0.0
NaN               0     0                   0      0           0   0.0
NaN               0     2                   6      1           0   7.0

In [17]:
table8.to_excel("Accidental Fire in Train(s).xlsx")
# table8.to_excel("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(State_&_UT-wise).xlsx",sheet_name="Accidental Fire in Train(s)")

In [18]:
def Page9Table():
    table = tabula.read_pdf("https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.11_2019.pdf", pages=9, stream=True)
    table2 = table[0].copy()
    table2.columns = table2.iloc[4]
    table2.drop([0,1,2,3,4],inplace=True)

    # Since Column names are filled with NaN, overrode all column names
    columns = table2.columns.to_list()
    columns[0] = "(1)"
    columns[1] = "(2)"
    columns[2] = "(3)"
    columns[3] = "(4) (5) (6) (7) (8) (9) (10)"
    columns[-1] = "(11)"
    table2.columns = columns
    
#     nan = table2.columns[-1]
    
    table2[["(4)","(5)","(6)","(7)","(8)","(9)","(10)"]] = table2["(4) (5) (6) (7) (8) (9) (10)"].str.split(expand=True)
#     table2[["(60)","(61)","(62)"]] = table2['(60) (61) (62)'].str.split(expand=True)
#     table2[["(39)","(40)"]] = table2['(39) (40)'].str.split(expand=True)
#     table2[["(41)","(42)"]] = table2['(41) (42)'].str.split(expand=True)
#     table2[["(63)","(64)","(65)","(66)"]] = table2['(63) (64) (65) (66)'].str.split(expand=True)
    columnList = table2.drop(["(4) (5) (6) (7) (8) (9) (10)"],axis=1).columns.to_list()
#     columnList = table2.drop(['(60) (61) (62)', '(63) (64) (65) (66)'],axis=1).columns.to_list()
#     columnList = table2.drop(['(36) (37) (38)', '(39) (40)', '(41) (42)', '(43)'],axis=1).columns.to_list()
    columnNum = sorted([int(col[1:-1]) for col in columnList if( type(col) == str)])
    sortedColumnList = ["("+str(each)+")" for each in columnNum]
    
#     sortedColumnList.append(nan)
    
    table3 = table2[sortedColumnList] 
    columns=[("Sl. No.",""),
         ("State/UT",""),
         ("No. of Cases",""),
         ('No. of Persons Injured','Male'),
         ('No. of Persons Injured','Female'),
         ('No. of Persons Injured','Transgender'),
         ('No. of Persons Injured','Total'),
         ('No. of Persons Died','Male'),
         ('No. of Persons Died','Female'),
         ('No. of Persons Died','Transgender'),
         ('No. of Persons Died','Total'),
        ]
    table3.columns = pd.MultiIndex.from_tuples(columns)
    table3 = table3.set_index("Sl. No.")
    return table3
table9 = Page9Table()
table9

Got stderr: Nov 28, 2020 12:59:59 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 12:59:59 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 12:59:59 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Nov 28, 2020 1:00:00 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 1:00:00 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 1:00:00 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'

                  State/UT No. of Cases No. of Persons Injured         \
                                                          Male Female
Sl. No.
1           ANDHRA PRADESH           10                      0      0
2        ARUNACHAL PRADESH            1                      0      0
3                    ASSAM            3                      0      0
4                    BIHAR            5                      0      0
5             CHHATTISGARH           27                      0      0
6                      GOA           22                      0      0
7                  GUJARAT            5                      0      0
8                  HARYANA            1                      0      0
9         HIMACHAL PRADESH            1                      0      0
10         JAMMU & KASHMIR            2                      0      0
11               JHARKHAND            9                      2      0
12               KARNATAKA            4                      0      0
13                  KERALA            1                      0      0
14          MADHYA PRADESH            7                      0      0
15             MAHARASHTRA           12                      0      0
16                 MANIPUR            0                      0      0
17               MEGHALAYA            0                      0      0
18                 MIZORAM            0                      0      0
19                NAGALAND            0                      0      0
20                  ODISHA            0                      0      0
21                  PUNJAB           12                      0      0
22               RAJASTHAN           14                      0      0
23                  SIKKIM            0                      0      0
24              TAMIL NADU            6                      2      0
25               TELANGANA           33                      7      0
26                 TRIPURA            0                      0      0
27           UTTAR PRADESH           24                      4      1
28             UTTARAKHAND            0                      0      0
29             WEST BENGAL           52                      2      5
NaN         TOTAL (STATES)          251                     17      6
NaN       UNIONTERRITORIES          NaN                    NaN    NaN
30            A & NISLANDS            0                      0      0
31              CHANDIGARH            0                      0      0
32            D & N HAVELI            0                      0      0
33             DAMAN & DIU            0                      0      0
34              DELHI (UT)            6                      2      0
35             LAKSHADWEEP            0                      0      0
36              PUDUCHERRY            0                      0      0
NaN            TOTAL (UTs)            6                      2      0
NaN      TOTAL (ALL INDIA)          257                     19      6

                          No. of Persons Died
        Transgender Total                Male Female Transgender Total
Sl. No.
1                 0     0                   5      5           0    10
2                 0     0                   1      0           0     1
3                 0     0                   0      3           0     3
4                 0     0                   1      4           0     5
5                 0     0                  10     17           0    27
6                 0     0                   0      0           0     0
7                 0     0                   3      0           0     3
8                 0     0                   1      0           0     1
9                 0     0                   0      0           0     0
10                0     0                   1      0           0     1
11                0     2                   8      1           0     9
12                0     0                   4      0           0     4
13                0     0                   1      0           0     1
14                0     0                   5      2           0     7
15                0     0                   3      9           0    12
16                0     0                   0      0           0     0
17                0     0                   0      0           0     0
18                0     0                   0      0           0     0
19                0     0                   0      0           0     0
20                0     0                   0      0           0     0
21                0     0                  10      2           0    12
22                0     0                  13      1           0    14
23                0     0                   0      0           0     0
24                0     2                   3      1           0     4
25                0     7                   2      2           0     4
26                0     0                   0      0           0     0
27                0     5                  12      8           0    20
28                0     0                   0      0           0     0
29                0     7                   3      5           0     8
NaN               0    23                  86     60           0   146
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
30                0     0                   0      0           0     0
31                0     0                   0      0           0     0
32                0     0                   0      0           0     0
33                0     0                   0      0           0     0
34                0     2                   1      5           0     6
35                0     0                   0      0           0     0
36                0     0                   0      0           0     0
NaN               0     2                   1      5           0     6
NaN               0    25                  87     65           0   152

In [19]:
table9.to_excel("Accidental Fire in Vehicles (Automobiles) [Total].xlsx")
# table9.to_excel("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(State_&_UT-wise).xlsx",sheet_name="Accidental Fire in Vehicles (Automobiles) (Total)")

In [20]:
def Page10Table():
    table = tabula.read_pdf("https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.11_2019.pdf", pages=10, stream=True)
    table2 = table[0].copy()
    table2.columns = table2.iloc[4]
    table2.drop([0,1,2,3,4],inplace=True)

    # Since Column names can be filled with NaN, overrode all column names
    columns = table2.columns.to_list()
    columns[0] = "(1)"
    columns[1] = "(2)"
    columns[2] = "(3)"
    columns[3] = "(4) (5) (6) (7) (8) (9) (10) (11)"
#     columns[-1] = "(11)"
    table2.columns = columns
    
#     nan = table2.columns[-1]
    
#     table2[["(4)","(5)","(6)","(7)","(8)","(9)","(10)"]] = table2["(4) (5) (6) (7) (8) (9) (10)"].str.split(expand=True)
#     table2[["(60)","(61)","(62)"]] = table2['(60) (61) (62)'].str.split(expand=True)
#     table2[["(39)","(40)"]] = table2['(39) (40)'].str.split(expand=True)
#     table2[["(41)","(42)"]] = table2['(41) (42)'].str.split(expand=True)
#     table2[["(63)","(64)","(65)","(66)"]] = table2['(63) (64) (65) (66)'].str.split(expand=True)
    table2[["(4)","(5)","(6)","(7)","(8)","(9)","(10)","(11)"]] = table2["(4) (5) (6) (7) (8) (9) (10) (11)"].str.split(expand=True)
    columnList = table2.drop(["(4) (5) (6) (7) (8) (9) (10) (11)"],axis=1).columns.to_list()
#     columnList = table2.drop(["(4) (5) (6) (7) (8) (9) (10)"],axis=1).columns.to_list()
#     columnList = table2.drop(['(60) (61) (62)', '(63) (64) (65) (66)'],axis=1).columns.to_list()
#     columnList = table2.drop(['(36) (37) (38)', '(39) (40)', '(41) (42)', '(43)'],axis=1).columns.to_list()
    columnNum = sorted([int(col[1:-1]) for col in columnList if( type(col) == str)])
    sortedColumnList = ["("+str(each)+")" for each in columnNum]
    
#     sortedColumnList.append(nan)
    
    table3 = table2[sortedColumnList] 
    columns=[("Sl. No.",""),
         ("State/UT",""),
         ("No. of Cases",""),
         ('No. of Persons Injured','Male'),
         ('No. of Persons Injured','Female'),
         ('No. of Persons Injured','Transgender'),
         ('No. of Persons Injured','Total'),
         ('No. of Persons Died','Male'),
         ('No. of Persons Died','Female'),
         ('No. of Persons Died','Transgender'),
         ('No. of Persons Died','Total'),
        ]
    table3.columns = pd.MultiIndex.from_tuples(columns)
    table3 = table3.set_index("Sl. No.")
    return table3
table10 = Page10Table()
table10

Got stderr: Nov 28, 2020 1:00:03 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 1:00:03 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 1:00:03 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Nov 28, 2020 1:00:04 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 1:00:04 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 1:00:04 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'

                  State/UT No. of Cases No. of Persons Injured         \
                                                          Male Female
Sl. No.
NaN                 STATES          NaN                    NaN    NaN
1           ANDHRA PRADESH            9                      0      0
2        ARUNACHAL PRADESH            1                      0      0
3                    ASSAM            1                      0      0
4                    BIHAR            0                      0      0
5             CHHATTISGARH            0                      0      0
6                      GOA            0                      0      0
7                  GUJARAT            2                      0      0
8                  HARYANA            0                      0      0
9         HIMACHAL PRADESH            0                      0      0
10         JAMMU & KASHMIR            1                      0      0
11               JHARKHAND            2                      1      0
12               KARNATAKA            0                      0      0
13                  KERALA            0                      0      0
14          MADHYA PRADESH            3                      0      0
15             MAHARASHTRA            0                      0      0
16                 MANIPUR            0                      0      0
17               MEGHALAYA            0                      0      0
18                 MIZORAM            0                      0      0
19                NAGALAND            0                      0      0
20                  ODISHA            0                      0      0
21                  PUNJAB            9                      0      0
22               RAJASTHAN            2                      0      0
23                  SIKKIM            0                      0      0
24              TAMIL NADU            0                      0      0
25               TELANGANA            8                      4      0
26                 TRIPURA            0                      0      0
27           UTTAR PRADESH            6                      0      0
28             UTTARAKHAND            0                      0      0
29             WEST BENGAL           19                      0      3
NaN         TOTAL (STATES)           63                      5      3
NaN       UNIONTERRITORIES          NaN                    NaN    NaN
30            A & NISLANDS            0                      0      0
31              CHANDIGARH            0                      0      0
32            D & N HAVELI            0                      0      0
33             DAMAN & DIU            0                      0      0
34              DELHI (UT)            0                      0      0
35             LAKSHADWEEP            0                      0      0
36              PUDUCHERRY            0                      0      0
NaN            TOTAL (UTs)            0                      0      0
NaN      TOTAL (ALL INDIA)           63                      5      3

                          No. of Persons Died
        Transgender Total                Male Female Transgender Total
Sl. No.
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
1                 0     0                   4      5           0     9
2                 0     0                   1      0           0     1
3                 0     0                   0      1           0     1
4                 0     0                   0      0           0     0
5                 0     0                   0      0           0     0
6                 0     0                   0      0           0     0
7                 0     0                   0      0           0     0
8                 0     0                   0      0           0     0
9                 0     0                   0      0           0     0
10                0     0                   1      0           0     1
11                0     1                   2      1           0     3
12                0     0                   0      0           0     0
13                0     0                   0      0           0     0
14                0     0                   2      1           0     3
15                0     0                   0      0           0     0
16                0     0                   0      0           0     0
17                0     0                   0      0           0     0
18                0     0                   0      0           0     0
19                0     0                   0      0           0     0
20                0     0                   0      0           0     0
21                0     0                   7      2           0     9
22                0     0                   2      0           0     2
23                0     0                   0      0           0     0
24                0     0                   0      0           0     0
25                0     4                   2      0           0     2
26                0     0                   0      0           0     0
27                0     0                   4      2           0     6
28                0     0                   0      0           0     0
29                0     3                   1      1           0     2
NaN               0     8                  26     13           0    39
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
30                0     0                   0      0           0     0
31                0     0                   0      0           0     0
32                0     0                   0      0           0     0
33                0     0                   0      0           0     0
34                0     0                   0      0           0     0
35                0     0                   0      0           0     0
36                0     0                   0      0           0     0
NaN               0     0                   0      0           0     0
NaN               0     8                  26     13           0    39

In [21]:
table10.to_excel("Accidental Fire in Vehicles (Automobiles) [Passenger Vehicle (e.g. Bus,Taxi,Auto,etc.)].xlsx")
# table10.to_excel("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(State_&_UT-wise).xlsx",sheet_name="Accidental Fire in Vehicles (Automobiles) (Passenger Vehicle (e.g. Bus,Taxi,Auto,etc.))")

In [22]:
def Page11Table():
    table = tabula.read_pdf("https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.11_2019.pdf", pages=11, stream=True)
    table2 = table[0].copy()
    table2.columns = table2.iloc[4]
    table2.drop([0,1,2,3,4],inplace=True)

    # Since Column names can be filled with NaN, overrode all column names
    columns = table2.columns.to_list()
    columns[0] = "(1)"
    columns[1] = "(2)"
    columns[2] = "(3)"
    columns[3] = "(4) (5) (6) (7) (8) (9) (10)"
    columns[-1] = "(11)"
    table2.columns = columns
#     return table2
    
    table2[["(4)","(5)","(6)","(7)","(8)","(9)","(10)"]] = table2["(4) (5) (6) (7) (8) (9) (10)"].str.split(expand=True)
#     table2[["(60)","(61)","(62)"]] = table2['(60) (61) (62)'].str.split(expand=True)
#     table2[["(39)","(40)"]] = table2['(39) (40)'].str.split(expand=True)
#     table2[["(41)","(42)"]] = table2['(41) (42)'].str.split(expand=True)
#     table2[["(63)","(64)","(65)","(66)"]] = table2['(63) (64) (65) (66)'].str.split(expand=True)
#     table2[["(4)","(5)","(6)","(7)","(8)","(9)","(10)","(11)"]] = table2["(4) (5) (6) (7) (8) (9) (10) (11)"].str.split(expand=True)
#     columnList = table2.drop(["(4) (5) (6) (7) (8) (9) (10) (11)"],axis=1).columns.to_list()
    columnList = table2.drop(["(4) (5) (6) (7) (8) (9) (10)"],axis=1).columns.to_list()
#     columnList = table2.drop(['(60) (61) (62)', '(63) (64) (65) (66)'],axis=1).columns.to_list()
#     columnList = table2.drop(['(36) (37) (38)', '(39) (40)', '(41) (42)', '(43)'],axis=1).columns.to_list()
    columnNum = sorted([int(col[1:-1]) for col in columnList if( type(col) == str)])
    sortedColumnList = ["("+str(each)+")" for each in columnNum]
    
#     sortedColumnList.append(nan)
    
    table3 = table2[sortedColumnList] 
    columns=[("Sl. No.",""),
         ("State/UT",""),
         ("No. of Cases",""),
         ('No. of Persons Injured','Male'),
         ('No. of Persons Injured','Female'),
         ('No. of Persons Injured','Transgender'),
         ('No. of Persons Injured','Total'),
         ('No. of Persons Died','Male'),
         ('No. of Persons Died','Female'),
         ('No. of Persons Died','Transgender'),
         ('No. of Persons Died','Total'),
        ]
    table3.columns = pd.MultiIndex.from_tuples(columns)
    table3 = table3.set_index("Sl. No.")
    return table3
table11 = Page11Table()
table11

Got stderr: Nov 28, 2020 1:00:06 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 1:00:06 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 1:00:06 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Nov 28, 2020 1:00:07 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 1:00:07 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 1:00:07 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'

                  State/UT No. of Cases No. of Persons Injured         \
                                                          Male Female
Sl. No.
NaN                 STATES          NaN                    NaN    NaN
1           ANDHRA PRADESH            1                      0      0
2        ARUNACHAL PRADESH            0                      0      0
3                    ASSAM            2                      0      0
4                    BIHAR            5                      0      0
5             CHHATTISGARH           17                      0      0
6                      GOA           22                      0      0
7                  GUJARAT            2                      0      0
8                  HARYANA            1                      0      0
9         HIMACHAL PRADESH            1                      0      0
10         JAMMU & KASHMIR            1                      0      0
11               JHARKHAND            5                      1      0
12               KARNATAKA            2                      0      0
13                  KERALA            1                      0      0
14          MADHYA PRADESH            1                      0      0
15             MAHARASHTRA            7                      0      0
16                 MANIPUR            0                      0      0
17               MEGHALAYA            0                      0      0
18                 MIZORAM            0                      0      0
19                NAGALAND            0                      0      0
20                  ODISHA            0                      0      0
21                  PUNJAB            2                      0      0
22               RAJASTHAN            4                      0      0
23                  SIKKIM            0                      0      0
24              TAMIL NADU            2                      0      0
25               TELANGANA           25                      3      0
26                 TRIPURA            0                      0      0
27           UTTAR PRADESH            8                      3      1
28             UTTARAKHAND            0                      0      0
29             WEST BENGAL           21                      1      2
NaN         TOTAL (STATES)          130                      8      3
NaN       UNIONTERRITORIES          NaN                    NaN    NaN
30            A & NISLANDS            0                      0      0
31              CHANDIGARH            0                      0      0
32            D & N HAVELI            0                      0      0
33             DAMAN & DIU            0                      0      0
34              DELHI (UT)            6                      2      0
35             LAKSHADWEEP            0                      0      0
36              PUDUCHERRY            0                      0      0
NaN            TOTAL (UTs)            6                      2      0
NaN      TOTAL (ALL INDIA)          136                     10      3

                          No. of Persons Died
        Transgender Total                Male Female Transgender Total
Sl. No.
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
1                 0     0                   1      0           0     1
2                 0     0                   0      0           0     0
3                 0     0                   0      2           0     2
4                 0     0                   1      4           0     5
5                 0     0                   0     17           0    17
6                 0     0                   0      0           0     0
7                 0     0                   2      0           0     2
8                 0     0                   1      0           0     1
9                 0     0                   0      0           0     0
10                0     0                   0      0           0     0
11                0     1                   3      0           0     3
12                0     0                   2      0           0     2
13                0     0                   1      0           0     1
14                0     0                   1      0           0     1
15                0     0                   1      6           0     7
16                0     0                   0      0           0     0
17                0     0                   0      0           0     0
18                0     0                   0      0           0     0
19                0     0                   0      0           0     0
20                0     0                   0      0           0     0
21                0     0                   2      0           0     2
22                0     0                   4      0           0     4
23                0     0                   0      0           0     0
24                0     0                   1      1           0     2
25                0     3                   0      2           0     2
26                0     0                   0      0           0     0
27                0     4                   4      0           0     4
28                0     0                   0      0           0     0
29                0     3                   2      4           0     6
NaN               0    11                  26     36           0    62
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
30                0     0                   0      0           0     0
31                0     0                   0      0           0     0
32                0     0                   0      0           0     0
33                0     0                   0      0           0     0
34                0     2                   1      5           0     6
35                0     0                   0      0           0     0
36                0     0                   0      0           0     0
NaN               0     2                   1      5           0     6
NaN               0    13                  27     41           0    68

In [23]:
table11.to_excel("Accidental Fire in Vehicles (Automobiles) [Private Vehicle].xlsx")
# table11.to_excel("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(State_&_UT-wise).xlsx",sheet_name="Accidental Fire in Vehicles (Automobiles) (Private Vehicle)")

In [24]:
def Page12Table():
    table = tabula.read_pdf("https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.11_2019.pdf", pages=12, stream=True)
    table2 = table[0].copy()
    table2.columns = table2.iloc[4]
    table2.drop([0,1,2,3,4],inplace=True)

    # Since Column names can be filled with NaN, overrode all column names
    columns = table2.columns.to_list()
    columns[0] = "(1)"
    columns[1] = "(2)"
    columns[2] = "(3)"
    columns[3] = "(4) (5) (6) (7) (8) (9) (10)"
    columns[-1] = "(11)"
    table2.columns = columns
#     return table2
    
    table2[["(4)","(5)","(6)","(7)","(8)","(9)","(10)"]] = table2["(4) (5) (6) (7) (8) (9) (10)"].str.split(expand=True)
#     table2[["(60)","(61)","(62)"]] = table2['(60) (61) (62)'].str.split(expand=True)
#     table2[["(39)","(40)"]] = table2['(39) (40)'].str.split(expand=True)
#     table2[["(41)","(42)"]] = table2['(41) (42)'].str.split(expand=True)
#     table2[["(63)","(64)","(65)","(66)"]] = table2['(63) (64) (65) (66)'].str.split(expand=True)
#     table2[["(4)","(5)","(6)","(7)","(8)","(9)","(10)","(11)"]] = table2["(4) (5) (6) (7) (8) (9) (10) (11)"].str.split(expand=True)
#     columnList = table2.drop(["(4) (5) (6) (7) (8) (9) (10) (11)"],axis=1).columns.to_list()
    columnList = table2.drop(["(4) (5) (6) (7) (8) (9) (10)"],axis=1).columns.to_list()
#     columnList = table2.drop(['(60) (61) (62)', '(63) (64) (65) (66)'],axis=1).columns.to_list()
#     columnList = table2.drop(['(36) (37) (38)', '(39) (40)', '(41) (42)', '(43)'],axis=1).columns.to_list()
    columnNum = sorted([int(col[1:-1]) for col in columnList if( type(col) == str)])
    sortedColumnList = ["("+str(each)+")" for each in columnNum]
    
#     sortedColumnList.append(nan)
    
    table3 = table2[sortedColumnList] 
    columns=[("Sl. No.",""),
         ("State/UT",""),
         ("No. of Cases",""),
         ('No. of Persons Injured','Male'),
         ('No. of Persons Injured','Female'),
         ('No. of Persons Injured','Transgender'),
         ('No. of Persons Injured','Total'),
         ('No. of Persons Died','Male'),
         ('No. of Persons Died','Female'),
         ('No. of Persons Died','Transgender'),
         ('No. of Persons Died','Total'),
        ]
    table3.columns = pd.MultiIndex.from_tuples(columns)
    table3 = table3.set_index("Sl. No.")
    return table3
table12 = Page12Table()
table12

Got stderr: Nov 28, 2020 1:00:10 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 1:00:10 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 1:00:10 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Nov 28, 2020 1:00:11 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 1:00:11 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 1:00:11 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'

                  State/UT No. of Cases No. of Persons Injured         \
                                                          Male Female
Sl. No.
NaN                 STATES          NaN                    NaN    NaN
1           ANDHRA PRADESH            0                      0      0
2        ARUNACHAL PRADESH            0                      0      0
3                    ASSAM            0                      0      0
4                    BIHAR            0                      0      0
5             CHHATTISGARH           10                      0      0
6                      GOA            0                      0      0
7                  GUJARAT            1                      0      0
8                  HARYANA            0                      0      0
9         HIMACHAL PRADESH            0                      0      0
10         JAMMU & KASHMIR            0                      0      0
11               JHARKHAND            2                      0      0
12               KARNATAKA            2                      0      0
13                  KERALA            0                      0      0
14          MADHYA PRADESH            3                      0      0
15             MAHARASHTRA            5                      0      0
16                 MANIPUR            0                      0      0
17               MEGHALAYA            0                      0      0
18                 MIZORAM            0                      0      0
19                NAGALAND            0                      0      0
20                  ODISHA            0                      0      0
21                  PUNJAB            1                      0      0
22               RAJASTHAN            8                      0      0
23                  SIKKIM            0                      0      0
24              TAMIL NADU            4                      2      0
25               TELANGANA            0                      0      0
26                 TRIPURA            0                      0      0
27           UTTAR PRADESH           10                      1      0
28             UTTARAKHAND            0                      0      0
29             WEST BENGAL           12                      1      0
NaN         TOTAL (STATES)           58                      4      0
NaN       UNIONTERRITORIES          NaN                    NaN    NaN
30            A & NISLANDS            0                      0      0
31              CHANDIGARH            0                      0      0
32            D & N HAVELI            0                      0      0
33             DAMAN & DIU            0                      0      0
34              DELHI (UT)            0                      0      0
35             LAKSHADWEEP            0                      0      0
36              PUDUCHERRY            0                      0      0
NaN            TOTAL (UTs)            0                      0      0
NaN      TOTAL (ALL INDIA)           58                      4      0

                          No. of Persons Died
        Transgender Total                Male Female Transgender Total
Sl. No.
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
1                 0     0                   0      0           0     0
2                 0     0                   0      0           0     0
3                 0     0                   0      0           0     0
4                 0     0                   0      0           0     0
5                 0     0                  10      0           0    10
6                 0     0                   0      0           0     0
7                 0     0                   1      0           0     1
8                 0     0                   0      0           0     0
9                 0     0                   0      0           0     0
10                0     0                   0      0           0     0
11                0     0                   3      0           0     3
12                0     0                   2      0           0     2
13                0     0                   0      0           0     0
14                0     0                   2      1           0     3
15                0     0                   2      3           0     5
16                0     0                   0      0           0     0
17                0     0                   0      0           0     0
18                0     0                   0      0           0     0
19                0     0                   0      0           0     0
20                0     0                   0      0           0     0
21                0     0                   1      0           0     1
22                0     0                   7      1           0     8
23                0     0                   0      0           0     0
24                0     2                   2      0           0     2
25                0     0                   0      0           0     0
26                0     0                   0      0           0     0
27                0     1                   4      6           0    10
28                0     0                   0      0           0     0
29                0     1                   0      0           0     0
NaN               0     4                  34     11           0    45
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
30                0     0                   0      0           0     0
31                0     0                   0      0           0     0
32                0     0                   0      0           0     0
33                0     0                   0      0           0     0
34                0     0                   0      0           0     0
35                0     0                   0      0           0     0
36                0     0                   0      0           0     0
NaN               0     0                   0      0           0     0
NaN               0     4                  34     11           0    45

In [25]:
table12.to_excel("Accidental Fire in Vehicles (Automobiles) [Goods Carriers].xlsx")
# table12.to_excel("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(State_&_UT-wise).xlsx",sheet_name="Accidental Fire in Vehicles (Automobiles) (Goods Carriers)")

In [26]:
def Page13Table():
    table = tabula.read_pdf("https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.11_2019.pdf", pages=13, stream=True)
    table2 = table[0].copy()
    table2.columns = table2.iloc[4]
    table2.drop([0,1,2,3,4],inplace=True)

    # Since Column names can be filled with NaN, overrode all column names
    columns = table2.columns.to_list()
    columns[0] = "(1)"
    columns[1] = "(2)"
    columns[2] = "(3)"
    columns[3] = "(4) (5) (6)"
    columns[4] = "(7)"
    columns[5] = "(8)"
    columns[6] = "(9) (10)"
    columns[-1] = "(11)"
    table2.columns = columns
#     return table2
    
    table2[["(4)","(5)","(6)"]] = table2["(4) (5) (6)"].str.split(expand=True)
    table2[["(9)","(10)"]] = table2["(9) (10)"].str.split(expand=True)
#     table2[["(4)","(5)","(6)","(7)","(8)","(9)","(10)"]] = table2["(4) (5) (6) (7) (8) (9) (10)"].str.split(expand=True)
#     table2[["(60)","(61)","(62)"]] = table2['(60) (61) (62)'].str.split(expand=True)
#     table2[["(39)","(40)"]] = table2['(39) (40)'].str.split(expand=True)
#     table2[["(41)","(42)"]] = table2['(41) (42)'].str.split(expand=True)
#     table2[["(63)","(64)","(65)","(66)"]] = table2['(63) (64) (65) (66)'].str.split(expand=True)
#     table2[["(4)","(5)","(6)","(7)","(8)","(9)","(10)","(11)"]] = table2["(4) (5) (6) (7) (8) (9) (10) (11)"].str.split(expand=True)
#     columnList = table2.drop(["(4) (5) (6) (7) (8) (9) (10) (11)"],axis=1).columns.to_list()
    columnList = table2.drop(["(4) (5) (6)", "(9) (10)"],axis=1).columns.to_list()
#     columnList = table2.drop(['(60) (61) (62)', '(63) (64) (65) (66)'],axis=1).columns.to_list()
#     columnList = table2.drop(['(36) (37) (38)', '(39) (40)', '(41) (42)', '(43)'],axis=1).columns.to_list()
    columnNum = sorted([int(col[1:-1]) for col in columnList if( type(col) == str)])
    sortedColumnList = ["("+str(each)+")" for each in columnNum]
    
#     sortedColumnList.append(nan)
    
    table3 = table2[sortedColumnList] 
    columns=[("Sl. No.",""),
         ("State/UT",""),
         ("No. of Cases",""),
         ('No. of Persons Injured','Male'),
         ('No. of Persons Injured','Female'),
         ('No. of Persons Injured','Transgender'),
         ('No. of Persons Injured','Total'),
         ('No. of Persons Died','Male'),
         ('No. of Persons Died','Female'),
         ('No. of Persons Died','Transgender'),
         ('No. of Persons Died','Total'),
        ]
    table3.columns = pd.MultiIndex.from_tuples(columns)
    table3 = table3.set_index("Sl. No.")
    return table3
table13 = Page13Table()
table13

Got stderr: Nov 28, 2020 1:00:13 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 1:00:13 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 1:00:14 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Nov 28, 2020 1:00:15 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 1:00:15 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 1:00:15 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'

                  State/UT No. of Cases No. of Persons Injured         \
                                                          Male Female
Sl. No.
NaN                 STATES          NaN                    NaN    NaN
1           ANDHRA PRADESH           93                      0      0
2        ARUNACHAL PRADESH            1                      0      0
3                    ASSAM            0                      0      0
4                    BIHAR           53                      9      1
5             CHHATTISGARH          538                      1      0
6                      GOA           10                      0      0
7                  GUJARAT           43                      0      0
8                  HARYANA           71                      0      0
9         HIMACHAL PRADESH            1                      0      0
10         JAMMU & KASHMIR            4                      0      0
11               JHARKHAND            5                      0      0
12               KARNATAKA          136                      0      0
13                  KERALA           28                      0      0
14          MADHYA PRADESH          579                      0      0
15             MAHARASHTRA          413                      0      0
16                 MANIPUR            0                      0      0
17               MEGHALAYA            0                      0      0
18                 MIZORAM            0                      0      0
19                NAGALAND            0                      0      0
20                  ODISHA          932                      0      0
21                  PUNJAB            4                      0      0
22               RAJASTHAN          126                      0      0
23                  SIKKIM            1                      0      0
24              TAMIL NADU           67                      0      0
25               TELANGANA           10                      1      5
26                 TRIPURA            5                      0      0
27           UTTAR PRADESH          181                      4      3
28             UTTARAKHAND            0                      0      0
29             WEST BENGAL          461                      1      1
NaN         TOTAL (STATES)         3762                     16     10
NaN       UNIONTERRITORIES          NaN                    NaN    NaN
30            A & NISLANDS            1                      0      0
31              CHANDIGARH            2                      0      0
32            D & N HAVELI            0                      0      0
33             DAMAN & DIU            3                      0      0
34              DELHI (UT)           19                      6      1
35             LAKSHADWEEP            0                      0      0
36              PUDUCHERRY            0                      0      0
NaN            TOTAL (UTs)           25                      6      1
NaN      TOTAL (ALL INDIA)         3787                     22     11

                          No. of Persons Died
        Transgender Total                Male Female Transgender Total
Sl. No.
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
1                 0     0                  48     47           0    95
2                 0     0                   1      0           0     1
3                 0     0                   0      0           0     0
4                 0    10                  19     26           0    45
5                 0     1                 139    396           0   535
6                 0     0                   0      0           0     0
7                 0     0                  14     29           0    43
8                 0     0                  48     26           0    74
9                 0     0                   1      0           0     1
10                0     0                   0      0           0     0
11                0     0                   2      3           0     5
12                0     0                  71     67           0   138
13                0     0                  15     13           0    28
14                0     0                 169    411           0   580
15                0     0                 143    277           0   420
16                0     0                   0      0           0     0
17                0     0                   0      0           0     0
18                0     0                   0      0           0     0
19                0     0                   0      0           0     0
20                0     0                 738    195           0   933
21                0     0                   2      2           0     4
22                0     0                  56     71           0   127
23                0     0                   1      0           0     1
24                0     0                  27     40           0    67
25                0     6                  21     32           0    53
26                0     0                   3      2           0     5
27                0     7                  85     95           0   180
28                0     0                   0      0           0     0
29                0     2                 163    285           0   448
NaN               0    26                1766   2017           0  3783
NaN             NaN   NaN                 NaN    NaN         NaN   NaN
30                0     0                   1      0           0     1
31                0     0                   2      0           0     2
32                0     0                   0      0           0     0
33                0     0                   1      2           0     3
34                0     7                  13      1           0    14
35                0     0                   0      0           0     0
36                0     0                   0      0           0     0
NaN               0     7                  17      3           0    20
NaN               0    33                1783   2020           0  3803

In [27]:
table13.to_excel("Others.xlsx")
# table13.to_excel("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(State_&_UT-wise).xlsx",sheet_name="Others")

In [28]:
def Page14Table():
    table = tabula.read_pdf("https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.11_2019.pdf", pages=14, stream=True)
    table2 = table[0].copy()
    table2.columns = table2.iloc[2]
    table2.drop([0,1,2],inplace=True)

    # Since Column names can be filled with NaN, overrode all column names
    columns = table2.columns.to_list()
    columns[0] = "(1)"
    columns[1] = "(2)"
    columns[2] = "(3)"
    columns[3] = "(4) (5) (6)"
    columns[4] = "(7)"
    columns[5] = "(8) (9) (10)"
    columns[-1] = "(11)"
    table2.columns = columns
#     return table2
    
    table2[["(4)","(5)","(6)"]] = table2["(4) (5) (6)"].str.split(expand=True)
    table2[["(8)","(9)","(10)"]] = table2["(8) (9) (10)"].str.split(expand=True)
#     table2[["(4)","(5)","(6)","(7)","(8)","(9)","(10)"]] = table2["(4) (5) (6) (7) (8) (9) (10)"].str.split(expand=True)
#     table2[["(60)","(61)","(62)"]] = table2['(60) (61) (62)'].str.split(expand=True)
#     table2[["(39)","(40)"]] = table2['(39) (40)'].str.split(expand=True)
#     table2[["(41)","(42)"]] = table2['(41) (42)'].str.split(expand=True)
#     table2[["(63)","(64)","(65)","(66)"]] = table2['(63) (64) (65) (66)'].str.split(expand=True)
#     table2[["(4)","(5)","(6)","(7)","(8)","(9)","(10)","(11)"]] = table2["(4) (5) (6) (7) (8) (9) (10) (11)"].str.split(expand=True)
#     columnList = table2.drop(["(4) (5) (6) (7) (8) (9) (10) (11)"],axis=1).columns.to_list()
    columnList = table2.drop(["(4) (5) (6)", "(8) (9) (10)"],axis=1).columns.to_list()
#     columnList = table2.drop(['(60) (61) (62)', '(63) (64) (65) (66)'],axis=1).columns.to_list()
#     columnList = table2.drop(['(36) (37) (38)', '(39) (40)', '(41) (42)', '(43)'],axis=1).columns.to_list()
    columnNum = sorted([int(col[1:-1]) for col in columnList if( type(col) == str)])
    sortedColumnList = ["("+str(each)+")" for each in columnNum]
    
#     sortedColumnList.append(nan)
    
    table3 = table2[sortedColumnList] 
    columns=[("Sl. No.",""),
         ("State/UT",""),
         ("No. of Cases",""),
         ('No. of Persons Injured','Male'),
         ('No. of Persons Injured','Female'),
         ('No. of Persons Injured','Transgender'),
         ('No. of Persons Injured','Total'),
         ('No. of Persons Died','Male'),
         ('No. of Persons Died','Female'),
         ('No. of Persons Died','Transgender'),
         ('No. of Persons Died','Total'),
        ]
    table3.columns = pd.MultiIndex.from_tuples(columns)
    table3 = table3.set_index("Sl. No.")
    return table3
table14 = Page14Table()
table14

Got stderr: Nov 28, 2020 1:00:17 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 1:00:17 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 1:00:17 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Nov 28, 2020 1:00:18 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'
Nov 28, 2020 1:00:18 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Nov 28, 2020 1:00:18 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'

                  State/UT No. of Cases No. of Persons Injured         \
                                                          Male Female
Sl. No.
NaN                 STATES          NaN                    NaN    NaN
1           ANDHRA PRADESH          317                      4      4
2        ARUNACHAL PRADESH            7                      0      0
3                    ASSAM           85                     12      3
4                    BIHAR          315                     16      4
5             CHHATTISGARH          782                      8      6
6                      GOA           58                      0      0
7                  GUJARAT          731                      0      0
8                  HARYANA           97                      0      0
9         HIMACHAL PRADESH           75                      1      0
10         JAMMU & KASHMIR           57                      0      0
11               JHARKHAND          332                      3      2
12               KARNATAKA          837                      5      8
13                  KERALA          237                      1      3
14          MADHYA PRADESH         1532                     60     12
15             MAHARASHTRA         1436                      0      0
16                 MANIPUR            1                      0      0
17               MEGHALAYA            6                      1      0
18                 MIZORAM            2                      0      0
19                NAGALAND            4                      0      0
20                  ODISHA          970                      0      0
21                  PUNJAB          155                      0      0
22               RAJASTHAN          524                      4      4
23                  SIKKIM            3                      0      0
24              TAMIL NADU          714                     37     11
25               TELANGANA          211                     12      7
26                 TRIPURA           27                      0      0
27           UTTAR PRADESH          802                     78     48
28             UTTARAKHAND           19                      0      0
29             WEST BENGAL          591                      5      7
NaN         TOTAL (STATES)        10927                    247    119
NaN       UNIONTERRITORIES          NaN                    NaN    NaN
30            A & NISLANDS            7                      0      0
31              CHANDIGARH            9                      2      2
32            D & N HAVELI            1                      0      0
33             DAMAN & DIU            3                      0      0
34              DELHI (UT)           89                     64      5
35             LAKSHADWEEP            1                      0      2
36              PUDUCHERRY            0                      0      0
NaN            TOTAL (UTs)          110                     66      9
NaN      TOTAL (ALL INDIA)        11037                    313    128

                          No. of Persons Died
        Transgender Total                Male Female Transgender  Total
Sl. No.
NaN             NaN   NaN                 NaN    NaN         NaN    NaN
1                 0     8                 137    184           0    321
2                 0     0                   6      3           0      9
3                 0    15                  54     19           0     73
4                 0    20                 113    202           0    315
5                 0    14                 215    559           0    774
6                 0     0                   4      9           0     13
7                 0     0                 313    450           0    763
8                 0     0                  61     39           0    100
9                 0     1                  36     21           0     57
10                0     0                  15      8           0     23
11                0     5                 164    181           0    345
12                0    13                 422    432           0    854
13                0     4                  93    144           0    237
14                0    72                 484    983           0   1467
15                0     0                 486    970           0   1456
16                0     0                   2      0           0      2
17                0     1                   5      1           0      6
18                0     0                   2      0           0      2
19                0     0                   5      0           0      5
20                0     0                 768    203           0    971
21                0     0                  94     61           0    155
22                0     8                 296    239           0    535
23                0     0                   1      2           0      3
24                0    48                 313    406           0    719
25                0    19                  93    118           0    211
26                0     0                  15     12           0     27
27                0   126                 404    349           0    753
28                0     0                  10      9           0     19
29                0    12                 204    324           0    528
NaN               0   366                4815   5928           0  10743
NaN             NaN   NaN                 NaN    NaN         NaN    NaN
30                0     0                   3      4           0      7
31                0     4                   6      2           0      8
32                0     0                   0      1           0      1
33                0     0                   1      2           0      3
34                0    69                 119     31           0    150
35                0     2                   3      0           0      3
36                0     0                   0      0           0      0
NaN               0    75                 132     40           0    172
NaN               0   441                4947   5968           0  10915

In [29]:
table14.to_excel("Total.xlsx")
# table13.to_excel("Place_of_Occurrence-wise_Number_of_Fire_Accidents,_Persons_Injured_and_Died_during_2019_(State_&_UT-wise).xlsx",sheet_name="Total")