In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-2.12_2019_0.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-2.12_2019_0.pdf'

In [5]:
tables = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "84.65059773828757,677.5702528470135,524.2565428109855,178.892123428655"
                              ],
                          columns=[
                              "112.54681744749597,247.2182229402262,301.0867851373183,357.84116316639745,401.1284006462036,473.2737964458805"
                              ],
                              row_tol=15,
                          split_text=True,
                          strip_text="\t\n",
                          pages="all"
                         )

In [6]:
tables

In [7]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [8]:
# Splits the second column into 1st column index and 2nd column test when faulty/required
def split_by_first_space(df, strIndex, stpIndex):
    df = df.iloc[strIndex:stpIndex+1]
    for index, each in df.iterrows():
        space = each[1].find(' ')
        each[0] = each[1][:space]
        each[1] = each[1][space:]

In [9]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
tables[0].df

,0,1,2,3,4,5,6
0,1,By Consuming Sleeping Pills,487,266,0,753,0.5
1,2,By Drowning,4986,2222,0,7208,5.2
2,3,By Fire/Self Immolation,1937,3295,2,5234,3.8
3,4,By Firearms,303,125,0,428,0.3
4,5,By Hanging,54198,20420,11,74629,53.6
5,6,By Poison (Total),24594,11284,4,35882,25.8
6,,6.1 By Consuming Insecticides,16873,7188,3,24064,17.3
7,,6.2 By Consuming Other Poison,7721,4096,1,11818,8.5
8,7,By Self inflicting Injury,594,234,0,828,0.6
9,8,Jumping (Total),1587,447,0,2034,1.5
10,,8.1 from Building,695,298,0,993,0.7
11,,8.2 from Other Sites,159,31,0,190,0.1
12,,8.3 by Jumping off Moving Trains/Vehicles,733,118,0,851,0.6
13,9,By Coming under Running Vehicles/Trains,2891,446,0,3337,2.4
14,10,By Touching Electric Wire,590,162,0,752,0.5
15,11,By Other Means,5446,2592,0,8038,5.8
16,12,Total,97613,41493,17,139123,100.0

In [10]:
split_by_first_space(tables[0].df,6,7)
split_by_first_space(tables[0].df,10,12)

In [11]:
def set_Column(df):
    column_list = [
        ("Sl. No."),
        ("Means/Mode"), 
        ('Male'),
        ('Female'),
        ('Transgender'),
        ('Total'),
        ('Percentage Share')
    ]
    df.columns = column_list

In [12]:
for i in range(len(tables)):
    set_Column(tables[i].df)

In [13]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
# tables[23].df

In [14]:
final = tables[0].df

In [15]:
# Reset Index before saving file, for better formatting in RAW CSV
final.to_csv("Distribution of Suicides by MeansMode Adopted during 2019 (All India).csv",index=False)