In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-2.8_2019_0.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-2.8_2019_0.pdf'

In [5]:
table1 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "79.84090468497578,696.809378436893,543.9762843295639,569.831149543689"
                              ],
                          columns=[
                              "102.92743134087239,231.82720516962846,270.3047495961228,330.9068820678514,379.00381260096935,433.8343134087238"
                              ],
                          split_text=True,
                          pages="all"
                         )

In [6]:
table2 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "74.5502423263328,486.1409532277137,543.0143457189015,388.98336899882275"
                              ],
                          columns=[
                              "106.77518578352182,263.5711793214863,311.6681098546042,372.27024232633283,410.7477867528272,461.7305331179322"
                              ],
                              row_tol=15,
                              split_text=True,
                              strip_text='`\n',
                              pages="all"
                        )

In [7]:
table3 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "73.58830371567045,306.25512896234136,541.0904684975768,129.255173535451"
                              ],
                          columns=[
                              "105.81324717285946,253.9517932148627,296.2770920840065,347.2598384491115,385.7373828756059,444.41563812600975"
                              ],
                              row_tol=15,
                              split_text=True,
                              strip_text='`\n',
                              pages="all"
                        )

In [8]:
table3[0].df

,0,1,2,3,4,5,6
0,1,No Education,11582,6004,2,17588,12.6
1,2,Primary (upto class–5th),15932,6712,5,22649,16.3
2,3,Middle (upto class–8th),19492,7829,2,27323,19.6
3,4,Matriculate/ Secondary (upto class–10th),23340,9082,5,32427,23.3
4,5,Hr. Secondary/ Intermediate/ Pre-University (u...,13825,5681,2,19508,14.0
5,6,Diploma/ Certificate/ ITI,1348,360,0,1708,1.2
6,7,Graduate and above,3726,1458,1,5185,3.7
7,8,Professionals (MBA etc.),242,93,0,335,0.2
8,9,Status Not Known,8126,4274,0,12400,8.9
9,10,Total,97613,41493,17,139123,100.0

In [9]:
tables = [
    table1[0].df.copy(),
    table2[0].df.copy(),
    table3[0].df.copy()
]

In [10]:
def set_columns(df, title):
    column = ['Sl. No.',title,'Male','Female','Trans-gender','Total','Percentage Share']
    df.columns = column

In [11]:
titles = [
    'Marital Status',
    'Economic Status',
    'Educational Status'
]
for index, df in enumerate(tables):
    set_columns(df=df,title=titles[index])

In [12]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
tables[0]

,Sl. No.,Marital Status,Male,Female,Trans-gender,Total,Percentage Share
0,1,Un-Married,21638,11202,12,32852,23.6
1,2,Married,66815,25941,1,92757,66.7
2,3,Widowed/ Widower,1378,1094,0,2472,1.8
3,4,Divorcee,595,402,0,997,0.7
4,5,Separated,672,290,1,963,0.7
5,6,Others,1918,700,2,2620,1.9
6,7,Status not known,4597,1864,1,6462,4.6
7,8,Total,97613,41493,17,139123,100.0

In [13]:
# Reset Index before saving file, for better formatting in RAW CSV
for index, each in enumerate(tables):
    each.to_csv("Social, Economic and Educational Status - wise Distribution of Suicides during 2019 (All India) (%s).csv"%(titles[index]),index=False)