In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-2.5_2019_0.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-2.5_2019_0.pdf'

In [5]:
tables = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "21.643618739903072,734.3256733371578,576.682197092084,57.108452573403284"
                              ],
                          columns=[
                              "49.0588691437803,152.94823909531505,184.69221324717287,221.2458804523425,253.9517932148627,285.69576736672053,319.36361873990313,354.95534733441036,390.54707592891765,423.25298869143785,454.0350242326333,492.5125686591277,530.990113085622"
                              ],
                          split_text=True,
                          pages="1-20"
                         )

In [6]:
tables

In [7]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [8]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

In [9]:
# Removes Garbage Rows that may have been detected Before the 'STATES' row
# AND
# Removes Garbage Rows that may have been detected after the 'TOTAL (ALL INDIA)' row
def clean(table):
    while(table.df.iloc[0,1] != 'STATES' and table.df.iloc[0,1] != 'AGRA'):
        table.df = table.df.iloc[1:]
    while(table.df.iloc[-1,1] != 'TOTAL (ALL INDIA)' and table.df.iloc[-1,1] != 'TOTAL (CITIES)'):
        table.df = table.df.iloc[:-1]
    # The Return line is unnecessary due to all changes being reflected in the original references
    return table

In [10]:
# Splits the second column into 1st column index and 2nd column test when faulty/required
def split_by_first_space(df, strIndex, stpIndex):
    df = df.iloc[strIndex:stpIndex+1]
    for index, each in df.iterrows():
        space = each[1].find(' ')
        each[0] = each[1][:space]
        each[1] = each[1][space:]

In [11]:
def mergeRows(df, strIndex, stpIndex):
    DF = df.loc[strIndex:stpIndex]
    df = DF.T
    l = []
    for index, each in df.iterrows():
        output = ''
        for ind, cell in each.iteritems():
            output += (str(cell) + ' ')
#         if(output == ''):
#             continue
        l.append(output.strip())
    l = pd.Series(l,name=str(strIndex))
    DF.loc[strIndex] = l

In [12]:
for each_table in tables:
    clean(each_table)

In [13]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
printnAllTables(tables)

Page No:  1
    0                  1     2    3  4     5     6     7  8     9     10  \
5                  STATES
6    1     ANDHRA PRADESH   773   55  0   828    73    78  0   151    19
7    2  ARUNACHAL PRADESH     0    0  0     0     0     1  0     1     0
8    3              ASSAM    63   19  0    82   124   118  0   242    80
9    4              BIHAR     4    2  0     6    44    67  0   111    35
10   5       CHHATTISGARH     5    0  0     5   228   152  0   380    38
11   6                GOA     2    0  0     2     0     4  0     4     0
12   7            GUJARAT    78    3  0    81   179   117  0   296    44
13   8            HARYANA     4    0  0     4   239    78  0   317    43
14   9   HIMACHAL PRADESH     2    1  0     3    37    44  0    81    24
15  10    JAMMU & KASHMIR     0    0  0     0     4     9  0    13     4
16  11          JHARKHAND    11    2  0    13    62    73  0   135    12
17  12          KARNATAKA  1349   83  0  1432   282   284  0   566   165
18  13             KERALA   221   38  0   259   105    40  0   145    32
19  14     MADHYA PRADESH    48    2  0    50   168   647  0   815    61
20  15        MAHARASHTRA  1468   58  0  1526   472   433  0   905   291
21  16            MANIPUR     0    0  0     0     0     0  0     0     0
22  17          MEGHALAYA     0    0  0     0    11     5  0    16     2
23  18            MIZORAM     0    0  0     0     1     1  0     2     0
24  19           NAGALAND     1    0  0     1     1     0  0     1     0
25  20             ODISHA     8    0  0     8    93    84  0   177    20
26  21             PUNJAB   150   11  0   161   116   113  0   229    73
27  22          RAJASTHAN    12    0  0    12   218   153  0   371    63
28  23             SIKKIM     0    0  0     0     8     3  0    11     1
29  24         TAMIL NADU   320   82  0   402   218   150  0   368   106
30  25          TELANGANA   826  163  0   989    35    36  0    71    23
31  26            TRIPURA     0    0  0     0     0     2  0     2     0
32  27      UTTAR PRADESH     0    0  0     0   251   699  0   950    70
33  28        UTTARAKHAND     0    0  0     0     8    23  0    31     5
34  29        WEST BENGAL     0    0  0     0   362   706  0  1068    68
35         TOTAL (STATES)  5345  519  0  5864  3339  4120  0  7459  1279
36      UNION TERRITORIES
37  30     A & N  ISLANDS     2    0  0     2     4     1  0     5     3
38  31         CHANDIGARH     0    0  0     0     0     2  0     2     0
39  32      D & N  HAVELI     1    0  0     1     0     0  0     0     0
40  33       DAMAN &  DIU     1    0  0     1     1     1  0     2     0
41  34         DELHI (UT)    18    0  0    18    34    89  0   123    12
42  35        LAKSHADWEEP     0    0  0     0     0     0  0     0     0
43  36         PUDUCHERRY    14    8  0    22     4     0  0     4     0
44            TOTAL (UTs)    36    8  0    44    43    93  0   136    15
45      TOTAL (ALL INDIA)  5381  527  0  5908  3382  4213  0  7595  1294

      11 12    13
5
6     20  0    39
7      1  0     1
8     66  0   146
9     29  0    64
10    24  0    62
11     1  0     1
12    38  0    82
13    17  0    60
14    20  0    44
15     4  0     8
16    25  0    37
17   135  0   300
18     4  0    36
19    28  0    89
20   184  0   475
21     0  0     0
22     3  0     5
23     1  0     1
24     0  0     0
25    20  0    40
26    48  0   121
27    29  0    92
28     1  0     2
29    56  0   162
30    10  0    33
31     0  0     0
32   147  0   217
33    20  0    25
34    95  0   163
35  1026  0  2305
36
37     0  0     3
38     0  0     0
39     0  0     0
40     0  0     0
41    11  0    23
42     0  0     0
43     0  0     0
44    11  0    26
45  1037  0  2331

Page No:  2
    0                   1    2   3  4    5    6    7  8    9    10   11 12  \
5   37                AGRA    0   0  0    0    3    9  0   12    0    0  0
6   38           AHMEDABAD    2   0  0    2   18   10  0   28    2    3  0
7   39           ALLAHABAD    0   0  0    0    2    6  0    8    2    6  0
8   40            AMRITSAR    2   0  0    2    0    1  0    1    0    0  0
9   41             ASANSOL    0   0  0    0    0    8  0    8    0    8  0
10  42          AURANGABAD    7   0  0    7    4    1  0    5    3    0  0
11  43           BENGALURU  176  26  0  202   13   19  0   32    7    7  0
12  44              BHOPAL    3   0  0    3    5   21  0   26    0    0  0
13  45   CHANDIGARH (CITY)    0   0  0    0    0    2  0    2    0    0  0
14  46             CHENNAI  143  22  0  165   32   17  0   49    6    4  0
15  47          COIMBATORE   13   0  0   13    5    0  0    5    5    0  0
16  48        DELHI (CITY)   18   0  0   18   34   89  0  123   12   11  0
17  49             DHANBAD    0   0  0    0    0   16  0   16    0    9  0
18  50    DURG BHILAINAGAR    0   0  0    0    0    1  0    1    0    0  0
19  51           FARIDABAD    4   0  0    4   32   22  0   54   22   15  0
20  52           GHAZIABAD    0   0  0    0    0    4  0    4    0    0  0
21  53             GWALIOR    4   0  0    4    2   27  0   29    0    0  0
22  54           HYDERABAD    0   0  0    0    7    0  0    7    7    0  0
23  55              INDORE    8   0  0    8    1   20  0   21    0    0  0
24  56            JABALPUR    0   0  0    0    4    2  0    6    4    1  0
25  57              JAIPUR    1   0  0    1    2    3  0    5    0    0  0
26  58          JAMSHEDPUR    2   2  0    4    3    4  0    7    0    0  0
27  59             JODHPUR    0   0  0    0    3    2  0    5    3    2  0
28  60              KANNUR    0   0  0    0    0    0  0    0    0    0  0
29  61              KANPUR    0   0  0    0    9    4  0   13    0    0  0
30  62               KOCHI    2   2  0    4    4    1  0    5    3    0  0
31  63             KOLKATA    0   0  0    0    0   11  0   11    0    2  0
32  64              KOLLAM   24   2  0   26    7    0  0    7    7    0  0
33  65                KOTA    2   0  0    2    3    3  0    6    1    0  0
34  66           KOZHIKODE    4   0  0    4    4    2  0    6    2    0  0
35  67             LUCKNOW    0   0  0    0    7   31  0   38    2    3  0
36  68            LUDHIANA    5   2  0    7   16   12  0   28    4    1  0
37  69             MADURAI    0   0  0    0    1    0  0    1    1    0  0
38  70          MALAPPURAM    2   0  0    2    1    0  0    1    0    0  0
39  71              MEERUT    0   0  0    0    1    4  0    5    0    0  0
40  72              MUMBAI   13   3  0   16   16   30  0   46   15   22  0
41  73              NAGPUR    5   0  0    5    5    1  0    6    0    1  0
42  74               NASIK   21   0  0   21    4   15  0   19    4    3  0
43  75               PATNA    0   0  0    0    3   18  0   21    3   17  0
44  76                PUNE    2   2  0    4   68   36  0  104   27   17  0
45  77              RAIPUR    1   0  0    1    9    7  0   16    0    0  0
46  78              RAJKOT    0   0  0    0    5   11  0   16    2    1  0
47  79              RANCHI    0   0  0    0   27    0  0   27    0    0  0
48  80            SRINAGAR    0   0  0    0    0    0  0    0    0    0  0
49  81               SURAT    2   0  0    2   12   10  0   22    0    1  0
50  82  THIRUVANANTHAPURAM    6   0  0    6    7    2  0    9    1    0  0
51  83            THRISSUR   34  14  0   48    0    0  0    0    0    0  0
52  84     TIRUCHIRAPPALLI    0   0  0    0    0    0  0    0    0    0  0
53  85            VADODARA    2   0  0    2    1    1  0    2    1    0  0
54  86            VARANASI    0   0  0    0    4    9  0   13    1    2  0
55  87         VASAI VIRAR    2   2  0    4    0    0  0    0    0    0  0
56  88          VIJAYAWADA   43   3  0   46    0    0  0    0    0    0  0
57  89      VISHAKHAPATNAM    8   4  0   12    4    7  0   11    1    0  0
58          TOTAL (CITIES)  561  84  0  645  388  499  0  887  148  136  0

     13
5     0
6     5
7     8
8     0
9     8
10    3
11   14
12    0
13    0
14   10
15    5
16   23
17    9
18    0
19   37
20    0
21    0
22    7
23    0
24    5
25    0
26    0
27    5
28    0
29    0
30    3
31    2
32    7
33    1
34    2
35    5
36    5
37    1
38    0
39    0
40   37
41    1
42    7
43   20
44   44
45    0
46    3
47    0
48    0
49    1
50    1
51    0
52    0
53    1
54    3
55    0
56    0
57    1
58  284

Page No:  3
    0                  1    2     3  4     5    6    7  8     9    10   11 12  \
2                  STATES
3    1     ANDHRA PRADESH    0    16  0    16   15    8  0    23   17   20  0
4    2  ARUNACHAL PRADESH    0     0  0     0    0    0  0     0    0    0  0
5    3              ASSAM    2    32  0    34   19   10  0    29   19   10  0
6    4              BIHAR    1    26  0    27    6    8  0    14    2    4  0
7    5       CHHATTISGARH    0    51  0    51   24    2  0    26    1    6  0
8    6                GOA    0     1  0     1    0    2  0     2    0    0  0
9    7            GUJARAT   11    17  0    28   16    6  0    22   53   31  0
10   8            HARYANA    0     6  0     6   15    5  0    20    3    0  0
11   9   HIMACHAL PRADESH    0    21  0    21   13    3  0    16    0    0  0
12  10    JAMMU & KASHMIR    0     0  0     0    0    0  0     0    0    2  0
13  11          JHARKHAND    5    17  0    22   35   21  0    56   10   10  0
14  12          KARNATAKA    2    49  0    51   60   25  0    85   17   38  0
15  13             KERALA    0     4  0     4   32   11  0    43   11    4  0
16  14     MADHYA PRADESH    1   496  0   497   45   69  0   114   11    3  0
17  15        MAHARASHTRA   14   158  0   172   57   37  0    94   45   22  0
18  16            MANIPUR    0     0  0     0    0    0  0     0    0    0  0
19  17          MEGHALAYA    0     0  0     0    1    0  0     1    8    2  0
20  18            MIZORAM    0     0  0     0    0    0  0     0    1    0  0
21  19           NAGALAND    0     0  0     0    1    0  0     1    0    0  0
22  20             ODISHA    7    22  0    29   13   16  0    29    2    0  0
23  21             PUNJAB    0    38  0    38   26   15  0    41    6    1  0
24  22          RAJASTHAN   35    49  0    84   74   41  0   115   13   20  0
25  23             SIKKIM    0     0  0     0    4    1  0     5    1    0  0
26  24         TAMIL NADU    4    26  0    30   69   19  0    88   16   43  0
27  25          TELANGANA    0     0  0     0    0    3  0     3    8   12  0
28  26            TRIPURA    0     2  0     2    0    0  0     0    0    0  0
29  27      UTTAR PRADESH   53   436  0   489   34   20  0    54    3   15  0
30  28        UTTARAKHAND    0     0  0     0    1    2  0     3    2    1  0
31  29        WEST BENGAL    0   288  0   288   99  109  0   208   10   28  0
32         TOTAL (STATES)  135  1755  0  1890  659  433  0  1092  259  272  0
33      UNION TERRITORIES
34  30       A & NISLANDS    0     0  0     0    1    0  0     1    0    1  0
35  31         CHANDIGARH    0     0  0     0    0    1  0     1    0    0  0
36  32       D & N HAVELI    0     0  0     0    0    0  0     0    0    0  0
37  33        DAMAN & DIU    0     1  0     1    0    0  0     0    0    0  0
38  34         DELHI (UT)    2    59  0    61   14    6  0    20    3    5  0
39  35        LAKSHADWEEP    0     0  0     0    0    0  0     0    0    0  0
40  36         PUDUCHERRY    4     0  0     4    0    0  0     0    0    0  0
41            TOTAL (UTs)    6    60  0    66   15    7  0    22    3    6  0
42      TOTAL (ALL INDIA)  141  1815  0  1956  674  440  0  1114  262  278  0

     13
2
3    37
4     0
5    29
6     6
7     7
8     0
9    84
10    3
11    0
12    2
13   20
14   55
15   15
16   14
17   67
18    0
19   10
20    1
21    0
22    2
23    7
24   33
25    1
26   59
27   20
28    0
29   18
30    3
31   38
32  531
33
34    1
35    0
36    0
37    0
38    8
39    0
40    0
41    9
42  540

Page No:  4
    0                   1   2    3  4    5   6   7  8   9   10  11 12  13
2   37                AGRA   3    9  0   12   0   0  0   0   0   0  0   0
3   38           AHMEDABAD   0    0  0    0   0   0  0   0   1   1  0   2
4   39           ALLAHABAD   0    0  0    0   0   0  0   0   0   0  0   0
5   40            AMRITSAR   0    1  0    1   0   0  0   0   0   0  0   0
6   41             ASANSOL   0    0  0    0   0   0  0   0   0   0  0   0
7   42          AURANGABAD   0    0  0    0   1   1  0   2   0   0  0   0
8   43           BENGALURU   0    2  0    2   2   4  0   6   1   3  0   4
9   44              BHOPAL   0   14  0   14   0   2  0   2   1   0  0   1
10  45   CHANDIGARH (CITY)   0    0  0    0   0   1  0   1   0   0  0   0
11  46             CHENNAI   0    6  0    6   1   0  0   1   2   1  0   3
12  47          COIMBATORE   0    0  0    0   0   0  0   0   0   0  0   0
13  48        DELHI (CITY)   2   59  0   61  14   6  0  20   3   5  0   8
14  49             DHANBAD   0    4  0    4   0   0  0   0   0   3  0   3
15  50    DURG BHILAINAGAR   0    1  0    1   0   0  0   0   0   0  0   0
16  51           FARIDABAD   0    3  0    3   0   2  0   2   3   0  0   3
17  52           GHAZIABAD   0    2  0    2   0   2  0   2   0   0  0   0
18  53             GWALIOR   0   27  0   27   2   0  0   2   0   0  0   0
19  54           HYDERABAD   0    0  0    0   0   0  0   0   0   0  0   0
20  55              INDORE   0   20  0   20   0   0  0   0   1   0  0   1
21  56            JABALPUR   0    0  0    0   0   0  0   0   0   1  0   1
22  57              JAIPUR   0    0  0    0   2   3  0   5   0   0  0   0
23  58          JAMSHEDPUR   0    0  0    0   3   1  0   4   0   3  0   3
24  59             JODHPUR   0    0  0    0   0   0  0   0   0   0  0   0
25  60              KANNUR   0    0  0    0   0   0  0   0   0   0  0   0
26  61              KANPUR   9    4  0   13   0   0  0   0   0   0  0   0
27  62               KOCHI   0    0  0    0   1   1  0   2   0   0  0   0
28  63             KOLKATA   0    7  0    7   0   0  0   0   0   2  0   2
29  64              KOLLAM   0    0  0    0   0   0  0   0   0   0  0   0
30  65                KOTA   0    1  0    1   0   1  0   1   0   0  0   0
31  66           KOZHIKODE   0    0  0    0   1   0  0   1   1   2  0   3
32  67             LUCKNOW   0   24  0   24   0   0  0   0   0   0  0   0
33  68            LUDHIANA   0    3  0    3   3   1  0   4   1   0  0   1
34  69             MADURAI   0    0  0    0   0   0  0   0   0   0  0   0
35  70          MALAPPURAM   0    0  0    0   1   0  0   1   0   0  0   0
36  71              MEERUT   0    4  0    4   1   0  0   1   0   0  0   0
37  72              MUMBAI   0    5  0    5   1   1  0   2   0   0  0   0
38  73              NAGPUR   1    0  0    1   3   0  0   3   1   0  0   1
39  74               NASIK   0   12  0   12   0   0  0   0   0   0  0   0
40  75               PATNA   0    0  0    0   0   1  0   1   0   0  0   0
41  76                PUNE   1    1  0    2   4   1  0   5   2   1  0   3
42  77              RAIPUR   0    3  0    3   2   0  0   2   0   0  0   0
43  78              RAJKOT   0    5  0    5   0   2  0   2   3   3  0   6
44  79              RANCHI   9    0  0    9  12   0  0  12   6   0  0   6
45  80            SRINAGAR   0    0  0    0   0   0  0   0   0   0  0   0
46  81               SURAT   0    0  0    0   0   0  0   0   1   0  0   1
47  82  THIRUVANANTHAPURAM   0    0  0    0   0   0  0   0   1   0  0   1
48  83            THRISSUR   0    0  0    0   0   0  0   0   0   0  0   0
49  84     TIRUCHIRAPPALLI   0    0  0    0   0   0  0   0   0   0  0   0
50  85            VADODARA   0    0  0    0   0   0  0   0   0   1  0   1
51  86            VARANASI   0    5  0    5   0   0  0   0   0   1  0   1
52  87         VASAI VIRAR   0    0  0    0   0   0  0   0   0   0  0   0
53  88          VIJAYAWADA   0    0  0    0   0   0  0   0   0   0  0   0
54  89      VISHAKHAPATNAM   0    7  0    7   2   0  0   2   1   0  0   1
55          TOTAL (CITIES)  25  229  0  254  56  30  0  86  29  27  0  56

Page No:  5
    0                  1     2    3  4     5     6     7  8     9    10   11  \
2                  STATES
3    1     ANDHRA PRADESH    22   14  0    36    54    39  0    93    8   22
4    2  ARUNACHAL PRADESH     0    0  0     0     0     1  0     1    0    0
5    3              ASSAM     4    0  0     4    67    37  0   104    2    1
6    4              BIHAR     0    0  0     0    58    37  0    95    0   11
7    5       CHHATTISGARH   165   69  0   234    40    40  0    80    2    9
8    6                GOA     0    0  0     0     0     0  0     0    0    0
9    7            GUJARAT    55   25  0    80    88    92  0   180   12   20
10   8            HARYANA   178   50  0   228    14     5  0    19    1    1
11   9   HIMACHAL PRADESH     0    0  0     0    10     9  0    19    0    0
12  10    JAMMU & KASHMIR     0    3  0     3     3    10  0    13    0    0
13  11          JHARKHAND     0    0  0     0   196    83  0   279   24   12
14  12          KARNATAKA    38   37  0    75   115    84  0   199   23   34
15  13             KERALA    30   17  0    47    41    33  0    74   11    9
16  14     MADHYA PRADESH    50   51  0   101    94   138  0   232   13   29
17  15        MAHARASHTRA    65   32  0    97   248   191  0   439   17   33
18  16            MANIPUR     0    0  0     0     2     1  0     3    0    0
19  17          MEGHALAYA     0    0  0     0     3     0  0     3    0    0
20  18            MIZORAM     0    0  0     0     0     0  0     0    0    0
21  19           NAGALAND     0    0  0     0     1     0  0     1    0    0
22  20             ODISHA    51   26  0    77    56    18  0    74    1    6
23  21             PUNJAB    11   11  0    22    29    13  0    42    3    4
24  22          RAJASTHAN    33   14  0    47    56    26  0    82    4    1
25  23             SIKKIM     2    1  0     3     4     3  0     7    0    0
26  24         TAMIL NADU    23    6  0    29   115   100  0   215   27   20
27  25          TELANGANA     4   11  0    15    80    61  0   141    6    4
28  26            TRIPURA     0    0  0     0    46    17  0    63   28    5
29  27      UTTAR PRADESH    91   81  0   172    88    62  0   150    8   13
30  28        UTTARAKHAND     0    0  0     0     3     1  0     4    0    0
31  29        WEST BENGAL   185  186  0   371    39    41  0    80    0    3
32         TOTAL (STATES)  1007  634  0  1641  1550  1142  0  2692  190  237
33      UNION TERRITORIES
34  30     A & N  ISLANDS     0    0  0     0     0     0  0     0    0    0
35  31         CHANDIGARH     0    1  0     1     1     1  0     2    0    0
36  32      D & N  HAVELI     0    0  0     0     0     0  0     0    0    0
37  33      DAMAN  &  DIU     1    0  0     1     0     0  0     0    0    0
38  34         DELHI (UT)     3    8  0    11    27    22  0    49    1    0
39  35        LAKSHADWEEP     0    0  0     0     0     0  0     0    0    0
40  36         PUDUCHERRY     0    0  0     0     0     1  0     1    0    0
41            TOTAL (UTs)     4    9  0    13    28    24  0    52    1    0
42      TOTAL (ALL INDIA)  1011  643  0  1654  1578  1166  0  2744  191  237

   12   13
2
3   0   30
4   0    0
5   0    3
6   0   11
7   0   11
8   0    0
9   0   32
10  0    2
11  0    0
12  0    0
13  0   36
14  0   57
15  0   20
16  0   42
17  0   50
18  0    0
19  0    0
20  0    0
21  0    0
22  0    7
23  0    7
24  0    5
25  0    0
26  0   47
27  0   10
28  0   33
29  0   21
30  0    0
31  0    3
32  0  427
33
34  0    0
35  0    0
36  0    0
37  0    0
38  0    1
39  0    0
40  0    0
41  0    1
42  0  428

Page No:  6
    0                   1    2   3  4    5    6    7  8    9   10  11 12  13
2   37                AGRA    0   0  0    0    0    0  0    0   0   0  0   0
3   38           AHMEDABAD   15   6  0   21   10    8  0   18   1   0  0   1
4   39           ALLAHABAD    0   0  0    0    3    1  0    4   0   0  0   0
5   40            AMRITSAR    0   0  0    0    0    2  0    2   0   0  0   0
6   41             ASANSOL    0   0  0    0    0    0  0    0   0   0  0   0

In [14]:
cities = [ each.df.copy() for index, each in enumerate(tables) if(index%2==1) ]
states = [ each.df.copy() for index, each in enumerate(tables) if(index%2==0) ]

In [15]:
# List of Column headers as column are nested, i.e exhibit a multi level/index structure
# The multi level structre will be generated and applied in the next 
column_header = [
    ['Bankruptcy or Indebtedness','Marriage Related Issues (Total)','Marriage Related Issues(Non-Settlement of Marriage)'],
    ['Marriage Related Issues(Dowry Related Issues)','Marriage Related Issues(Extra Marital affairs)','Marriage Related Issues(Divorce)'],
    ['Marriage Related Issues(Others)','Failure in Examination','Impotency/Infertility'],
    ['Family Problems','Illness (Total)','Illness (AIDS/STD)'],
    ['Illness (Cancer)','Illness (Paralysis)','Illness (Insanity/Mental illness)'],
    ['Illness (Other Prolonged Illness)','Death of Dear Person','Drug Abuse/Alcoholic Addiction'],
    ['Fall in Social Reputation','Ideological Causes/Hero Worshipping','Love Affairs'],
    ['Poverty','Unemployment','Property Dispute'],
    ['Suspected/ Illicit Relation(Other than Extra Marital Affairs)','Illegitimate Pregnancy(Other than Extra Marital Affairs)','Physical Abuse (Rape, etc.)'],
    ['Professional/Career Problem','Causes Not Known','Other Causes']
]
len(column_header)

10

In [16]:
def set_Column(df, title, city):
    city_state = ['State/UT','Cit']
    column_list = [
        ("Sl. No.",''),
        ("State/UT" if (city == False) else "City",''), 
        (title[0],'Male'),
        (title[0],'Female'),
        (title[0],'Transgender'),
        (title[0],'Total'),
        (title[1],'Male'),
        (title[1],'Female'),
        (title[1],'Transgender'),
        (title[1],'Total'),
        (title[2],'Male'),
        (title[2],'Female'),
        (title[2],'Transgender'),
        (title[2],'Total'),
    ]
    df.columns = pd.MultiIndex.from_tuples(column_list)

In [17]:
for index,(city,state) in enumerate(zip(cities,states)):
    set_Column(df=city,title=column_header[index],city=True)
    city.set_index(['Sl. No.','City'],inplace=True)
    set_Column(df=state,title=column_header[index],city=False)
    state.set_index(['Sl. No.','State/UT'],inplace=True)

In [18]:
tables_total = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "37.99657512116317,723.7441542627241,556.4814862681745,97.51061631215"
                              ],
                          columns=[
                              "63.487948303715676,204.8929240710824,275.1144426494346,360.72697899838454,435.7581906300485"
                              ],
                          split_text=True,
                          pages="21-22"
                         )

In [19]:
city_total  = tables_total[0].df.copy()
state_total = tables_total[1].df.copy()

In [20]:
def set_Column_last(df, city):
    column_list = [
        ("Sl. No.",''),
        ("State/UT" if (city == False) else "City",''), 
        ("Total",'Male'),
        ("Total",'Female'),
        ("Total",'Transgender'),
        ("Total",'Total')
    ]
    df.columns = pd.MultiIndex.from_tuples(column_list)

In [21]:
set_Column_last(df=city_total,city=True)
city_total.set_index(['Sl. No.','City'],inplace=True)

set_Column_last(df=state_total,city=False)
state_total.set_index(['Sl. No.','State/UT'],inplace=True)

In [22]:
cities.append(city_total)
states.append(state_total)

In [23]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
# tables[23].df

In [24]:
# Concat all the tables one after the other, as they all have the same indexes.
City  = pd.concat(cities,axis=1)
State = pd.concat(states,axis=1)

In [26]:
# Reset Index before saving file, for better formatting in RAW CSV
City.reset_index().to_csv("Causes  wise Distribution of Suicides during 2019 (City).csv", index=False)
State.reset_index().to_csv("Causes  wise Distribution of Suicides during 2019 (StateUT).csv", index=False)