In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1A.9_2019.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-1A.9_2019.pdf'

In [5]:
tables = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "32.22494345718902,736.2495858961457,569.9486268174476,61.91823397087313"
                              ],
                          columns=[
                              "49.0588691437803,150,191.4257835218094,235.6749596122779,277.0383198707593,327,374,418,465,510.7894022617125"
                              ],
                          split_text=True,
                          pages="1-10"
                         )

In [6]:
tables

In [7]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [8]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

In [9]:
# Removes Garbage Rows that may have been detected Before the 'STATES' row
# AND
# Removes Garbage Rows that may have been detected after the 'TOTAL (ALL INDIA)' row
def clean(table):
    while(table.df.iloc[0,1] != 'STATES' and table.df.iloc[0,1] != 'AGRA'):
        table.df = table.df.iloc[1:]
    while(table.df.iloc[-1,1] != 'TOTAL (ALL INDIA)' and table.df.iloc[-1,1] != 'TOTAL (CITIES)'):
        table.df = table.df.iloc[:-1]
    # The Return line is unnecessary due to all changes being reflected in the original references
    return table

In [10]:
# Splits the second column into 1st column index and 2nd column test when faulty/required
def split_by_first_space(df, strIndex, stpIndex):
    df = df.iloc[strIndex:stpIndex+1]
    for index, each in df.iterrows():
        space = each[1].find(' ')
        each[0] = each[1][:space]
        each[1] = each[1][space:]

In [11]:
def mergeRows(df, strIndex, stpIndex):
    DF = df.loc[strIndex:stpIndex]
    df = DF.T
    l = []
    for index, each in df.iterrows():
        output = ''
        for ind, cell in each.iteritems():
            output += (str(cell) + ' ')
#         if(output == ''):
#             continue
        l.append(output.strip())
    l = pd.Series(l,name=str(strIndex))
    DF.loc[strIndex] = l

In [12]:
for each_table in tables:
    clean(each_table)

In [13]:
states = [ each.df.copy() for ind,each in enumerate(tables) if(ind%2==0)]
cities = [ each.df.copy() for ind,each in enumerate(tables) if(ind%2==1)]

In [14]:
# List of Column headers as column are nested, i.e exhibit a multi level/index structure
# The multi level structre will be generated and applied in the next 
column_header = [
    ['Dangerous or Careless Driving/Over-taking/etc.','Over Speeding','Driving under Influence of Drug/Alcohol'],
    ['Physical Fatigue of Drivers','Defect in Mechanical Condition of Motor Vehicle','Animal Crossing'],
    ['Weather Condition (Total)','Weather Condition(Poor Visibility)','Weather Condition (Others Causes)'],
    ['Lack of Road Infrastructure','Vehicles Parking at Road Shoulders','Causes Not Known'],
    ['Other Causes','Total Road Accidents','Unmanned Railway Crossing Accidents']
]
len(column_header)

5

In [15]:
def set_Column(df, title, city):
    column_list = [
        ("Sl. No.",''),
        ("State/UT" if(not city) else "City",''), 
        (title[0],'Cases'),
        (title[0],'Injured'),
        (title[0],'Died'),
        (title[1],'Cases'),
        (title[1],'Injured'),
        (title[1],'Died'),
        (title[2],'Cases'),
        (title[2],'Injured'),
        (title[2],'Died')
    ]
    df.columns = pd.MultiIndex.from_tuples(column_list)

In [16]:
for i,(city,state) in enumerate(zip(cities,states)):
    set_Column(cities[i], column_header[i],True)
    cities[i].set_index(["Sl. No.","City"],inplace=True)
    set_Column(states[i], column_header[i],False)
    states[i].set_index(["Sl. No.","State/UT"],inplace=True)

In [17]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
# tables[23].df

In [18]:
table11_12 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "34.14882067851374,712.2006789087965,548.7859773828757,84.04322839923444"
                              ],
                          columns=[
                              "63.487948303715676,217.39812600969307,314.5539256865913,437.68206785137323"
                              ],
                              row_tol=10,
                          split_text=True,
                          pages="11-12"
                         )
clean(table11_12[1])

In [19]:
def set_Column_last(df, city):
    column_list = [
        ("Sl. No.",''),
        ("State/UT" if(not city) else "City",''), 
        ("Grand Total",'Cases'),
        ("Grand Total",'Injured'),
        ("Grand Total",'Died')
    ]
    df.columns = pd.MultiIndex.from_tuples(column_list)

In [20]:
set_Column_last(table11_12[0].df, False)
table11_12[0].df.set_index(["Sl. No.","State/UT"],inplace=True)
set_Column_last(table11_12[1].df, True)
table11_12[1].df.set_index(["Sl. No.","City"],inplace=True)

In [21]:
cities.append(table11_12[1].df.copy())
states.append(table11_12[0].df.copy())

In [22]:
# Set Uniform Indexes across all respective tables
for city,state in zip(cities,states):
    city.index  = cities[0].index.copy()
    state.index = states[0].index.copy()

In [23]:
City  = pd.concat(cities,axis=1)
State = pd.concat(states,axis=1)

In [24]:
City

                           Dangerous or Careless Driving/Over-taking/etc.  \
                                                                    Cases
Sl. No. City
37      AGRA                                                          208
38      AHMEDABAD                                                       1
39      ALLAHABAD                                                     107
40      AMRITSAR                                                       16
41      ASANSOL                                                       429
42      AURANGABAD                                                      8
43      BENGALURU                                                     438
44      BHOPAL                                                       1532
45      CHANDIGARH (CITY)                                              14
46      CHENNAI                                                       645
47      COIMBATORE                                                     45
48      DELHI (CITY)                                                 1978
49      DHANBAD                                                        65
50      DURG BHILAINAGAR                                                0
51      FARIDABAD                                                     242
52      GHAZIABAD                                                      86
53      GWALIOR                                                       118
54      HYDERABAD                                                     951
55      INDORE                                                       3012
56      JABALPUR                                                      112
57      JAIPUR                                                       1460
58      JAMSHEDPUR                                                    191
59      JODHPUR                                                       121
60      KANNUR                                                        340
61      KANPUR                                                        289
62      KOCHI                                                         763
63      KOLKATA                                                         3
64      KOLLAM                                                          0
65      KOTA                                                           16
66      KOZHIKODE                                                     555
67      LUCKNOW                                                       262
68      LUDHIANA                                                      152
69      MADURAI                                                        41
70      MALAPPURAM                                                    216
71      MEERUT                                                        184
72      MUMBAI                                                        318
73      NAGPUR                                                        723
74      NASIK                                                          36
75      PATNA                                                         102
76      PUNE                                                          141
77      RAIPUR                                                         24
78      RAJKOT                                                          0
79      RANCHI                                                        152
80      SRINAGAR                                                        0
81      SURAT                                                          93
82      THIRUVANANTHAPURAM                                            534
83      THRISSUR                                                      435
84      TIRUCHIRAPPALLI                                                39
85      VADODARA                                                       40
86      VARANASI                                                       23
87      VASAI VIRAR                                                   311
88      VIJAYAWADA                                                    167
89      VISHAKHAPATNAM                                                240
        TOTAL (CITIES)                                              17978

                                         Over Speeding                \
                           Injured  Died         Cases Injured  Died
Sl. No. City
37      AGRA                    84   222            84      22    94
38      AHMEDABAD                1     0          1374    1142   434
39      ALLAHABAD               62    26           203      86    36
40      AMRITSAR                 8    16            99      55    66
41      ASANSOL                343   301             5       4     4
42      AURANGABAD               5     3           472     340   210
43      BENGALURU              389    54          4143    3707   691
44      BHOPAL                1084    77           196     160    10
45      CHANDIGARH (CITY)        8     5           282     259    99
46      CHENNAI                830   136          3043    2651   668
47      COIMBATORE              31    14          1013    1038   118
48      DELHI (CITY)          1697   529          2043    1884   482
49      DHANBAD                 20    25            77      46    88
50      DURG BHILAINAGAR         0     0           533     654    93
51      FARIDABAD              240   107           386     345   134
52      GHAZIABAD               11    88            32       3    32
53      GWALIOR                119     9          1049     971   111
54      HYDERABAD              973    32          1875    1611   226
55      INDORE                2316   260           229     209    28
56      JABALPUR               100    17          1503    1737   159
57      JAIPUR                1239   320          1528    1166   389
58      JAMSHEDPUR             129    92             0       0     0
59      JODHPUR                137    38           551     368   196
60      KANNUR                 417    37           314     393    44
61      KANPUR                 137   152           256     111   145
62      KOCHI                  799    69          1296    1360    81
63      KOLKATA                  0     4            16       5    11
64      KOLLAM                   0     0          1799    1885   207
65      KOTA                    15     4           471     469    92
66      KOZHIKODE              515    52          1005    1044   125
67      LUCKNOW                164    99           320     187   126
68      LUDHIANA                88   104           314     176   209
69      MADURAI                 25    16           813     762   161
70      MALAPPURAM             256    30           594     622   111
71      MEERUT                 130    68           229     147    87
72      MUMBAI                  84   236           254      22   231
73      NAGPUR                 563   159           386     326   110
74      NASIK                   12    36           153      24   153
75      PATNA                   87    34           248     125    81
76      PUNE                    53    89           157      40   129
77      RAIPUR                  31     6          1120     637    96
78      RAJKOT                   0     0           575     437   170
79      RANCHI                  53    91           149     112    62
80      SRINAGAR                 0     0           310     323    45
81      SURAT                   77    19           765     637   270
82      THIRUVANANTHAPURAM     506    45           973    1007   101
83      THRISSUR               480    54          1725    1989   133
84      TIRUCHIRAPPALLI         50    15           470     515    85
85      VADODARA                41     3           632     504   154
86      VARANASI                11    14            14       5    10
87      VASAI VIRAR            161   160            12      11     2
88      VIJAYAWADA             158    38          1263    1219   309
89      VISHAKHAPATNAM         193    84           678     599   209
        TOTAL (CITIES)       14932  4089         38031   34151  8117

                           Driving under Influence of Drug/Alcohol          \
                                                             Cases Injured
Sl. No. City
37      AGRA                                                     0       0
38      AHMEDABAD                                                1       1
39      ALLAHABAD                                              103      44
40      AMRITSAR                                                 3       3
41      ASANSOL                                                  0       0
42      AURANGABAD                                              13       7
43      BENGALURU                                               32      33
44      BHOPAL                                                   0       0
45      CHANDIGARH (CITY)                                        8       8
46      CHENNAI                                                438     469
47      COIMBATORE                                               4       4
48      DELHI (CITY)                                           142     130
49      DHANBAD                                                  0       0
50      DURG BHILAINAGAR                                         0       0
51      FARIDABAD                                                0       0
52      GHAZIABAD                                                2       1
53      GWALIOR                                                  0       0
54      HYDERABAD                                               14      19
55      INDORE                                                  28      23
56      JABALPUR                                               129       7
57      JAIPUR                                                  36      29
58      JAMSHEDPUR                                               0       0
59      JODHPUR                                                  0       0
60      KANNUR                                                   1       0
61      KANPUR                                                  32      24
62      KOCHI                                                    1       2
63      KOLKATA                                                 71      50
64      KOLLAM                                                   2       2
65      KOTA                                                     4       2
66      KOZHIKODE                                                1       1
67      LUCKNOW                                                 17      16
68      LUDHIANA                                                 9      15
69      MADURAI                                                 12      12
70      MALAPPURAM                                               5       6
71      MEERUT                                                  98      82
72      MUMBAI                                                   2       0
73      NAGPUR                                                   9       9
74      NASIK                                                    0       0
75      PATNA                                                  102      80
76      PUNE                                                     2       1
77      RAIPUR                                                   1       0
78      RAJKOT                                                   0       0
79      RANCHI                                                  53      76
80      SRINAGAR                                                 0       0
81      SURAT                                                    7       4
82      THIRUVANANTHAPURAM                                      32      10
83      THRISSUR                                                 6       6
84      TIRUCHIRAPPALLI                                          1       2
85      VADODARA                                                 7       6
86      VARANASI                                                 6       1
87      VASAI VIRAR                                              0       0
88      VIJAYAWADA                                               0       0
89      VISHAKHAPATNAM                                           5       5
        TOTAL (CITIES)                                        1439    1190

                                Physical Fatigue of Drivers  ... Other Causes  \
                           Died                       Cases  ...         Died
Sl. No. City                                                 ...
37      AGRA                  0                           0  ...            0
38      AHMEDABAD             1                           3  ...            0
39      ALLAHABAD            32                          11  ...           46
40      AMRITSAR              4                           0  ...            0
41      ASANSOL               0                           0  ...            0
42      AURANGABAD            6                           0  ...            1
43      BENGALURU             7                           0  ...           16
44      BHOPAL                0                           0  ...           19
45      CHANDIGARH (CITY)     0                           0  ...            0
46      CHENNAI              49                         937  ...            0
47      COIMBATORE            0                           0  ...            0
48      DELHI (CITY)         29                           2  ...          167
49      DHANBAD               0                           0  ...            0
50      DURG BHILAINAGAR      0                           0  ...            0
51      FARIDABAD             0                           0  ...            0
52      GHAZIABAD             2                           0  ...           41
53      GWALIOR               0                           0  ...            0
54      HYDERABAD             5                          15  ...            0
55      INDORE                2                           0  ...            2
56      JABALPUR              3                           0  ...            4
57      JAIPUR                3                           0  ...            6
58      JAMSHEDPUR            0                           0  ...            0
59      JODHPUR               0                           0  ...            0
60      KANNUR                0                           0  ...            0
61      KANPUR                8                          45  ...            0
62      KOCHI                 0                           0  ...            0
63      KOLKATA               4                           0  ...          241
64      KOLLAM                0                           0  ...            0
65      KOTA                  0                           0  ...            0
66      KOZHIKODE             0                          34  ...            1
67      LUCKNOW               5                           0  ...          105
68      LUDHIANA              1                           2  ...           23
69      MADURAI              16                           0  ...            0
70      MALAPPURAM            0                           2  ...            0
71      MEERUT               31                           0  ...            0
72      MUMBAI                2                           0  ...           11
73      NAGPUR                1                           0  ...            0
74      NASIK                 0                           0  ...            0
75      PATNA                45                           0  ...            0
76      PUNE                  1                           1  ...            0
77      RAIPUR                1                           4  ...            0
78      RAJKOT                0                           0  ...            0
79      RANCHI               80                           0  ...            0
80      SRINAGAR              0                           0  ...            0
81      SURAT                 3                           0  ...            0
82      THIRUVANANTHAPURAM    4                          16  ...            4
83      THRISSUR              0                           0  ...            0
84      TIRUCHIRAPPALLI       0                           0  ...            0
85      VADODARA              1                           0  ...            0
86      VARANASI              6                           0  ...            0
87      VASAI VIRAR           0                           0  ...            0
88      VIJAYAWADA            0                           0  ...            0
89      VISHAKHAPATNAM        2                           0  ...           16
        TOTAL (CITIES)      354                        1072  ...          703

                           Total Road Accidents                 \
                                          Cases Injured   Died
Sl. No. City
37      AGRA                                292     106    316
38      AHMEDABAD                          1380    1148    439
39      ALLAHABAD                           776     523    283
40      AMRITSAR                            133      76     95
41      ASANSOL                             442     354    314
42      AURANGABAD                          516     372    226
43      BENGALURU                          4684    4250    768
44      BHOPAL                             2516    1909    123
45      CHANDIGARH (CITY)                   304     275    104
46      CHENNAI                            6871    6702   1252
47      COIMBATORE                         1062    1073    132
48      DELHI (CITY)                       5349    4739   1400
49      DHANBAD                             171      75    127
50      DURG BHILAINAGAR                    533     654     93
51      FARIDABAD                           736     635    311
52      GHAZIABAD                           197      28    201
53      GWALIOR                            1218    1159    128
54      HYDERABAD                          2900    2649    271
55      INDORE                             3336    2606    297
56      JABALPUR                           2167    2222    209
57      JAIPUR                             3045    2451    721
58      JAMSHEDPUR                          191     129     92
59      JODHPUR                             686     527    260
60      KANNUR                              657     811     82
61      KANPUR                             1053     485    568
62      KOCHI                              2138    2254    155
63      KOLKATA                            2068    2004    267
64      KOLLAM                             1940    1981    225
65      KOTA                                491     486     96
66      KOZHIKODE                          1597    1597    179
67      LUCKNOW                             879     570    360
68      LUDHIANA                            526     291    365
69      MADURAI                             866     799    193
70      MALAPPURAM                          838     902    149
71      MEERUT                              511     359    186
72      MUMBAI                              588     106    483
73      NAGPUR                             1119     899    270
74      NASIK                               189      36    189
75      PATNA                               524     332    192
76      PUNE                                308      94    227
77      RAIPUR                             1257     729    142
78      RAJKOT                              575     437    170
79      RANCHI                              354     241    233
80      SRINAGAR                            310     323     45
81      SURAT                               865     718    292
82      THIRUVANANTHAPURAM                 1704    1701    160
83      THRISSUR                           2210    2491    213
84      TIRUCHIRAPPALLI                     517     585    104
85      VADODARA                            679     551    158
86      VARANASI                            160      91     76

In [25]:
State

                           Dangerous or Careless Driving/Over-taking/etc.  \
                                                                    Cases
Sl. No. State/UT
        STATES
1       ANDHRA PRADESH                                               5899
2       ARUNACHAL PRADESH                                              59
3       ASSAM                                                        1775
4       BIHAR                                                        2450
5       CHHATTISGARH                                                 2604
6       GOA                                                          1594
7       GUJARAT                                                      1821
8       HARYANA                                                      3541
9       HIMACHAL PRADESH                                             1478
10      JAMMU & KASHMIR                                               616
11      JHARKHAND                                                    1616
12      KARNATAKA                                                    4741
13      KERALA                                                      15802
14      MADHYA PRADESH                                              15325
15      MAHARASHTRA                                                 11234
16      MANIPUR                                                        95
17      MEGHALAYA                                                     120
18      MIZORAM                                                        22
19      NAGALAND                                                        5
20      ODISHA                                                        438
21      PUNJAB                                                       1302
22      RAJASTHAN                                                    6945
23      SIKKIM                                                         35
24      TAMIL NADU                                                   5462
25      TELANGANA                                                    3468
26      TRIPURA                                                       128
27      UTTAR PRADESH                                               18886
28      UTTARAKHAND                                                   271
29      WEST BENGAL                                                  2605
        TOTAL (STATES)                                             110337
        UNION  TERRITORIES
30      A & NISLANDS                                                   96
31      CHANDIGARH                                                     14
32      D & N HAVELI                                                   51
33      DAMAN & DIU                                                    13
34      DELHI (UT)                                                   1978
35      LAKSHADWEEP                                                     1
36      PUDUCHERRY                                                     29
        TOTAL (UTs)                                                  2182
        TOTAL (ALL INDIA)                                          112519

                                          Over Speeding                 \
                           Injured   Died         Cases Injured   Died
Sl. No. State/UT
        STATES
1       ANDHRA PRADESH        6807   2277         12866   14570   5123
2       ARUNACHAL PRADESH       49     23            76      97     41
3       ASSAM                 1577    823          4440    3855   1780
4       BIHAR                 1630   1862          4766    3510   3387
5       CHHATTISGARH          2454   1131          8928    8657   2990
6       GOA                    712    139          1782     728    156
7       GUJARAT               1691    972         13338   12916   5739
8       HARYANA               2906   1766          4744    4052   2234
9       HIMACHAL PRADESH      2453    514          1141    1703    445
10      JAMMU & KASHMIR        731     88          3314    4487    624
11      JHARKHAND             1171   1179          2320    1561   1660
12      KARNATAKA             6860   1193         34640   41947   9314
13      KERALA               17624   1690         21087   23734   2194
14      MADHYA PRADESH       16015   3033         27212   29037   6669
15      MAHARASHTRA           9286   5802         14071   12302   7749
16      MANIPUR                167     30           240     371     58
17      MEGHALAYA              124     77            75      72     66
18      MIZORAM                  7     23            12      12     16
19      NAGALAND                 4      6            14      14     10
20      ODISHA                 362    230          5982    6182   2983
21      PUNJAB                 869    947          3320    1821   2487
22      RAJASTHAN             7174   2879         14074   12914   6356
23      SIKKIM                  99     20            48      84     31
24      TAMIL NADU            5946    885         46878   55415   8832
25      TELANGANA             3448    695         16723   17301   5602
26      TRIPURA                171     48           509     617    188
27      UTTAR PRADESH        11321  12020         10166    5824   6168
28      UTTARAKHAND            314    178           982    1022    613
29      WEST BENGAL           2709   1436          3573    3299   1938
        TOTAL (STATES)      104681  41966        257321  268104  85453
        UNION  TERRITORIES
30      A & NISLANDS            92      8            40      38      3
31      CHANDIGARH               8      5           282     259     99
32      D & N HAVELI            58     37            16      47     10
33      DAMAN & DIU             15     12            46      57     16
34      DELHI (UT)            1700    529          2202    2026    551
35      LAKSHADWEEP              1      0             0       0      0
36      PUDUCHERRY               0      0           991    1050    109
        TOTAL (UTs)           1874    591          3577    3477    788
        TOTAL (ALL INDIA)   106555  42557        260898  271581  86241

                           Driving under Influence of Drug/Alcohol          \
                                                             Cases Injured
Sl. No. State/UT
        STATES
1       ANDHRA PRADESH                                          77     111
2       ARUNACHAL PRADESH                                        1       4
3       ASSAM                                                  261     223
4       BIHAR                                                  261     259
5       CHHATTISGARH                                           267     214
6       GOA                                                     22       7
7       GUJARAT                                                 94      86
8       HARYANA                                                155     142
9       HIMACHAL PRADESH                                        78     152
10      JAMMU & KASHMIR                                         23      17
11      JHARKHAND                                              626     362
12      KARNATAKA                                              116     144
13      KERALA                                                 174     159
14      MADHYA PRADESH                                        1053    1017
15      MAHARASHTRA                                            213     183
16      MANIPUR                                                 50      89
17      MEGHALAYA                                               10      16
18      MIZORAM                                                 13       5
19      NAGALAND                                                 2       1
20      ODISHA                                                 259     216
21      PUNJAB                                                 261     134
22      RAJASTHAN                                              291     339
23      SIKKIM                                                  15      13
24      TAMIL NADU                                            1047    1246
25      TELANGANA                                              140     139
26      TRIPURA                                                 18      28
27      UTTAR PRADESH                                         1466    1025
28      UTTARAKHAND                                             24      24
29      WEST BENGAL                                            136     125
        TOTAL (STATES)                                        7153    6480
        UNION  TERRITORIES
30      A & NISLANDS                                            41      36
31      CHANDIGARH                                               8       8
32      D & N HAVELI                                             0       0
33      DAMAN & DIU                                              3       2
34      DELHI (UT)                                             142     130
35      LAKSHADWEEP                                              0       0
36      PUDUCHERRY                                              19      19
        TOTAL (UTs)                                            213     195
        TOTAL (ALL INDIA)                                     7366    6675

                                 Physical Fatigue of Drivers  ...  \
                            Died                       Cases  ...
Sl. No. State/UT                                              ...
        STATES                                                ...
1       ANDHRA PRADESH        41                           9  ...
2       ARUNACHAL PRADESH      3                           0  ...
3       ASSAM                108                          72  ...
4       BIHAR                 92                         109  ...
5       CHHATTISGARH         109                          26  ...
6       GOA                    2                           4  ...
7       GUJARAT               41                         235  ...
8       HARYANA               55                          42  ...
9       HIMACHAL PRADESH      47                           8  ...
10      JAMMU & KASHMIR       11                          37  ...
11      JHARKHAND            413                          44  ...
12      KARNATAKA             35                           2  ...
13      KERALA                16                         133  ...
14      MADHYA PRADESH       199                         342  ...
15      MAHARASHTRA           95                          48  ...
16      MANIPUR                6                          16  ...
17      MEGHALAYA              9                           2  ...
18      MIZORAM               13                           2  ...
19      NAGALAND               0                           0  ...
20      ODISHA               114                           0  ...
21      PUNJAB               149                          69  ...
22      RAJASTHAN            138                          49  ...
23      SIKKIM                 9                           2  ...
24      TAMIL NADU           157                         937  ...
25      TELANGANA            177                          32  ...
26      TRIPURA                3                           0  ...
27      UTTAR PRADESH        849                         463  ...
28      UTTARAKHAND           14                           3  ...
29      WEST BENGAL           33                          61  ...
        TOTAL (STATES)      2938                        2747  ...
        UNION  TERRITORIES                                    ...
30      A & NISLANDS           1                           0  ...
31      CHANDIGARH             0                           0  ...
32      D & N HAVELI           0                           0  ...
33      DAMAN & DIU            0                           0  ...
34      DELHI (UT)            29                           2  ...
35      LAKSHADWEEP            0                           0  ...
36      PUDUCHERRY             4                           0  ...
        TOTAL (UTs)           34                           2  ...
        TOTAL (ALL INDIA)   2972                        2749  ...

                           Other Causes Total Road Accidents                  \
                                   Died                Cases Injured    Died
Sl. No. State/UT
        STATES
1       ANDHRA PRADESH              276                20677   24619    7984
2       ARUNACHAL PRADESH            20                  200     275     109
3       ASSAM                        49                 8055    7081    3245
4       BIHAR                        98                10007    7206    7205
5       CHHATTISGARH                276                13899   13089    5003
6       GOA                           0                 3440    1460     299
7       GUJARAT                      60                16503   15976    7428
8       HARYANA                     444                10937    9247    5269
9       HIMACHAL PRADESH              8                 2896    4740    1124
10      JAMMU & KASHMIR             209                 5795    7517    1009
11      JHARKHAND                    28                 5217    3818    3801
12      KARNATAKA                   148                40644   50442   10951
13      KERALA                      160                39944   44467    4370
14      MADHYA PRADESH              529                51641   53765   11856
15      MAHARASHTRA                 159                27286   23289   14608
16      MANIPUR                       0                  672    1055     156
17      MEGHALAYA                     3                  236     287     176
18      MIZORAM                       0                   57      25      63
19      NAGALAND                      0                   26      59      22
20      ODISHA                     1580                11064   11177    5333
21      PUNJAB                      253                 6316    3726    4613
22      RAJASTHAN                   526                23478   22979   10563
23      SIKKIM                        7                  172     329      84
24      TAMIL NADU                    0                57228   67137   10525
25      TELANGANA                   201                21570   21999    6964
26      TRIPURA                       0                  655     816     239
27      UTTAR PRADESH              1226                37537   22251   23285
28      UTTARAKHAND                  28                 1352    1457     867
29      WEST BENGAL                1495                12233   11744    5724
        TOTAL (STATES)             7783               429737  432032  152875
        UNION  TERRITORIES
30      A & NISLANDS                  8                  230     207      20
31      CHANDIGARH                    0                  304     275     104
32      D & N HAVELI                  0                   68     105      49
33      DAMAN & DIU                   0                   63      74      29
34      DELHI (UT)                  178                 5601    4949    1508
35      LAKSHADWEEP                   0                    1       1       0
36      PUDUCHERRY                   34                 1392    1619     147
        TOTAL (UTs)                 220                 7659    7230    1857
        TOTAL (ALL INDIA)          8003               437396  439262  154732

                           Unmanned Railway Crossing Accidents               \
                                                         Cases Injured Died
Sl. No. State/UT
        STATES
1       ANDHRA PRADESH                                       0       0    0
2       ARUNACHAL PRADESH                                    0       0    0
3       ASSAM                                                0       0    0
4       BIHAR                                               23       0   23
5       CHHATTISGARH                                         0       0    0
6       GOA                                                  0       0    0
7       GUJARAT                                              0       0    0
8       HARYANA                                              0       0    0
9       HIMACHAL PRADESH                                     0       0    0
10      JAMMU & KASHMIR                                      0       0    0
11      JHARKHAND                                            0       0    0
12      KARNATAKA                                            0       0    0
13      KERALA                                               0       0    0
14      MADHYA PRADESH                                       0       0    0
15      MAHARASHTRA                                          0       0    0
16      MANIPUR                                              0       0    0
17      MEGHALAYA                                            0       0    0
18      MIZORAM                                              0       0    0
19      NAGALAND                                             0       0    0
20      ODISHA                                               0       0    0
21      PUNJAB                                               0       0    0
22      RAJASTHAN                                            0       0    0
23      SIKKIM                                               0       0    0
24      TAMIL NADU                                           0       0    0
25      TELANGANA                                            0       0    0
26      TRIPURA                                             24       0   24
27      UTTAR PRADESH                                        0       0    0
28      UTTARAKHAND                                          0       0    0
29      WEST BENGAL                                          0       0    0
        TOTAL (STATES)                                      47       0   47
        UNION  TERRITORIES
30      A & NISLANDS                                         0       0    0
31      CHANDIGARH                                           0       0    0
32      D & N HAVELI                                         0       0    0
33      DAMAN & DIU                                          0       0    0
34      DELHI (UT)                                           0       0    0
35      LAKSHADWEEP                                          0       0    0
36      PUDUCHERRY                                           0       0    0
        TOTAL (UTs)                                          0       0    0
        TOTAL (ALL INDIA)                                   47       0   47

                           Grand Total
                                 Cases Injured    Died
Sl. No. State/UT
        STATES
1       ANDHRA PRADESH           20677   24619    7984
2       ARUNACHAL PRADESH          200     275     109
3       ASSAM                     8055    7081    3245
4       BIHAR                    10030    7206    7228
5       CHHATTISGARH             13899   13089    5003
6       GOA                       3440    1460     299
7       GUJARAT                  16503   15976    7428
8       HARYANA                  10937    9247    5269
9       HIMACHAL PRADESH          2896    4740    1124
10      JAMMU & KASHMIR           5795    7517    1009
11      JHARKHAND                 5217    3818    3801
12      KARNATAKA                40644   50442   10951
13      KERALA                   39944   44467    4370
14      MADHYA PRADESH           51641   53765   11856
15      MAHARASHTRA              27286   23289   14608
16      MANIPUR                    672    1055     156
17      MEGHALAYA                  236     287     176
18      MIZORAM                     57      25      63
19      NAGALAND                    26      59      22
20      ODISHA                   11064   11177    5333
21      PUNJAB                    6316    3726    4613
22      RAJASTHAN                23478   22979   10563
23      SIKKIM                     172     329      84
24      TAMIL NADU               57228   67137   10525

In [26]:
# Reset Index before saving file, for better formatting in RAW CSV
State.reset_index().to_csv("Cause – wise Distribution of Road Accidents and Unmanned Railway Crossing Accidents during 2019(StateUT-wise).csv",index=False)
City.reset_index().to_csv("Cause – wise Distribution of Road Accidents and Unmanned Railway Crossing Accidents during 2019(City-wise).csv",index=False)