In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-2.11_2019_0.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-2.11_2019_0.pdf'

In [5]:
tables = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "25.972342487883687,738.1734984551337,573.3154119547659,71.53779676581283"
                              ],
                          columns=[
                              "48.096930533117934,152.94823909531505,191.4257835218094,226.0555735056543,260.6853634894992,294.3532148626818,326.0971890145396,364.57473344103397,392.4709531502424,424.2149273021002,459.8066558966075,497.32226171243946,532.9139903069467"
                              ],
                          split_text=True,
                          pages="1-3"
                         )

In [6]:
table4 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "25.972342487883687,732.0169841376875,533.8759289176091,78.84867036128217"
                              ],
                          columns=[
                              "61.56407108239096,217.39812600969307,280.88607431340876,355.91728594507276,431.91043618739906"
                              ],
                          split_text=True,
                          pages="4"
                         )

In [7]:
# Removes Garbage Rows that may have been detected Before the 'STATES' row
# AND
# Removes Garbage Rows that may have been detected after the 'TOTAL (ALL INDIA)' row
def clean(table):
    while(table.df.iloc[0,1] != 'STATES'):
        table.df = table.df.iloc[1:]
    while(table.df.iloc[-1,1] != 'TOTAL (ALL INDIA)'):
        table.df = table.df.iloc[:-1]
    # The Return line is unnecessary due to all changes being reflected in the original references
    return table

In [8]:
clean(table4[0])
table4[0].df

     0                  1      2      3   4       5
2                  STATES
3    1     ANDHRA PRADESH   4740   1725   0    6465
4    2  ARUNACHAL PRADESH     81     31   0     112
5    3              ASSAM   1679    691   0    2370
6    4              BIHAR    395    246   0     641
7    5       CHHATTISGARH   5520   2109   0    7629
8    6                GOA    201     58   0     259
9    7            GUJARAT   5168   2486   1    7655
10   8            HARYANA   3297    894   0    4191
11   9   HIMACHAL PRADESH    377    207   0     584
12  10    JAMMU & KASHMIR    157    127   0     284
13  11          JHARKHAND   1066    580   0    1646
14  12          KARNATAKA   8413   2873   2   11288
15  13             KERALA   6668   1888   0    8556
16  14     MADHYA PRADESH   8107   4348   2   12457
17  15        MAHARASHTRA  14466   4448   2   18916
18  16            MANIPUR     36     22   0      58
19  17          MEGHALAYA    165     33   0     198
20  18            MIZORAM     54     16   0      70
21  19           NAGALAND     36      5   0      41
22  20             ODISHA   2596   1986   0    4582
23  21             PUNJAB   1817    539   1    2357
24  22          RAJASTHAN   3302   1229   0    4531
25  23             SIKKIM    162     58   0     220
26  24         TAMIL NADU   9235   4250   8   13493
27  25          TELANGANA   5612   2062   1    7675
28  26            TRIPURA    496    232   0     728
29  27      UTTAR PRADESH   3233   2231   0    5464
30  28        UTTARAKHAND    335    181   0     516
31  29        WEST BENGAL   7769   4896   0   12665
32         TOTAL (STATES)  95183  40451  17  135651
33      UNION TERRITORIES
34  30     A & N  ISLANDS    130     51   0     181
35  31         CHANDIGARH     93     38   0     131
36  32      D & N  HAVELI     72     23   0      95
37  33      DAMAN  &  DIU     29     17   0      46
38  34         DELHI (UT)   1758    768   0    2526
39  35        LAKSHADWEEP      0      0   0       0
40  36         PUDUCHERRY    348    145   0     493
41            TOTAL (UTs)   2430   1042   0    3472
42      TOTAL (ALL INDIA)  97613  41493  17  139123

In [9]:
tables

In [10]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [11]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
printnAllTables(tables)

Page No:  1
     0                              1         2      3      4      5      6   \
0                                       Male \nF  emale         Total   Male
1                                                     g  ender
2   (1)                            (2)       (3)    (4)    (5)    (6)    (7)
3                               STATES
4     1                 ANDHRA PRADESH      1199    501      0   1700    916
5     2              ARUNACHAL PRADESH         3      0      0      3      7
6     3                          ASSAM       338    161      0    499    407
7     4                          BIHAR        49     45      0     94     27
8     5                   CHHATTISGARH       538    300      0    838   1005
9     6                            GOA        14      9      0     23     14
10    7                        GUJARAT       519    351      0    870    865
11    8                        HARYANA       453    161      0    614    454
12    9               HIMACHAL PRADESH        33     15      0     48     42
13   10                JAMMU & KASHMIR        33     35      0     68     14
14   11                      JHARKHAND        98     73      0    171     95
15   12                      KARNATAKA       967    416      0   1383   1678
16   13                         KERALA       109     62      0    171    985
17   14                 MADHYA PRADESH      1290    852      0   2142   1564
18   15                    MAHARASHTRA      1029    442      0   1471   2039
19   16                        MANIPUR         2      0      0      2      2
20   17                      MEGHALAYA        23      8      0     31     42
21   18                        MIZORAM         0      0      0      0      6
22   19                       NAGALAND         3      1      0      4      9
23   20                         ODISHA        30     23      0     53    116
24   21                         PUNJAB       395    108      0    503    213
25   22                      RAJASTHAN       407    238      0    645    625
26   23                         SIKKIM        19      5      0     24     45
27   24                     TAMIL NADU       989    565      1   1555   1311
28   25                      TELANGANA      1981    847      1   2829   1013
29   26                        TRIPURA        17      6      0     23    156
30   27                  UTTAR PRADESH       524    417      0    941    557
31   28                    UTTARAKHAND         7     11      0     18     24
32   29                    WEST BENGAL       345    289      0    634   1428
33                      TOTAL (STATES)     11414   5941      2  17357  15659
34                   UNION TERRITORIES
35   30                 A & N  ISLANDS        11      5      0     16     26
36   31                     CHANDIGARH         6      2      0      8     19
37   32                  D & N  HAVELI        16      6      0     22     10
38   33                  DAMAN  &  DIU         2      2      0      4      7
39   34                     DELHI (UT)       113     45      0    158    173
40   35                    LAKSHADWEEP         0      0      0      0      0
41   36                     PUDUCHERRY        20      3      0     23     38
42                         TOTAL (UTs)       168     63      0    231    273
43                   TOTAL (ALL INDIA)     11582   6004      2  17588  15932
44    •  As per data provided by State    s/UTs.

        7      8      9      10      11      12     13
0   Female         Total   Male  Female          Total
1        g  ender                        gender
2      (8)    (9)   (10)   (11)    (12)    (13)   (14)
3
4      321      0   1237    748     257       0   1005
5        2      0      9     21       5       0     26
6      194      0    601    313     163       0    476
7       29      0     56     65      43       0    108
8      382      0   1387   1135     404       0   1539
9        8      0     22     44      11       0     55
10     523      1   1389   1203     611       0   1814
11     125      0    579    515     161       0    676
12      26      0     68     70      33       0    103
13      14      0     28     27      18       0     45
14      44      0    139    166      69       0    235
15     536      1   2215   1946     580       0   2526
16     319      0   1304   1383     359       0   1742
17     833      2   2399   1895     955       0   2850
18     613      0   2652   2989     874       0   3863
19       0      0      2      5       5       0     10
20       9      0     51     51       6       0     57
21       2      0      8     27      11       0     38
22       0      0      9      6       1       0      7
23      64      0    180    125      74       0    199
24      67      0    280    334     101       0    435
25     289      0    914    641     252       0    893
26      16      0     61     38      15       0     53
27     595      1   1907   2316     833       2   3151
28     348      0   1361    810     303       0   1113
29      80      0    236    142      77       0    219
30     360      0    917    679     472       0   1151
31      11      0     35     39      20       0     59
32     777      0   2205   1397     969       0   2366
33    6587      5  22251  19130    7682       2  26814
34
35       5      0     31     24      10       0     34
36       9      0     28     17       9       0     26
37       4      0     14      7       3       0     10
38       2      0      9      7       5       0     12
39     100      0    273    293     116       0    409
40       0      0      0      0       0       0      0
41       5      0     43     14       4       0     18
42     125      0    398    362     147       0    509
43    6712      5  22649  19492    7829       2  27323
44

Page No:  2
     0                  1         2      3      4      5      6       7   \
0                 State/UT
1    No                  .
2                                         T  rans-                     T
3                           Male \nF  emale         Total   Male  Female
4                                         g  ender                     g
5   (1)                (2)      (15)   (16)   (17)   (18)   (19)    (20)
6                   STATES
7     1     ANDHRA PRADESH       838    313      0   1151    451     206
8     2  ARUNACHAL PRADESH        17     11      0     28     19       6
9     3              ASSAM       423    123      0    546    142      39
10    4              BIHAR       150     76      0    226     72      42
11    5       CHHATTISGARH       873    303      0   1176    526     169
12    6                GOA        63     19      0     82     36      10
13    7            GUJARAT      1286    556      0   1842    852     340
14    8            HARYANA       774    179      0    953    541     105
15    9   HIMACHAL PRADESH       128     63      0    191     80      47
16   10    JAMMU & KASHMIR        49     44      0     93     18      11
17   11          JHARKHAND       484    276      0    760    182      94
18   12          KARNATAKA      2153    648      0   2801   1055     410
19   13             KERALA      2736    649      0   3385   1066     364
20   14     MADHYA PRADESH      1590    860      0   2450   1233     624
21   15        MAHARASHTRA      4358   1344      2   5704   3005     892
22   16            MANIPUR        16     11      0     27      9       5
23   17          MEGHALAYA        30      7      0     37     15       2
24   18            MIZORAM        15      2      0     17      4       1
25   19           NAGALAND         8      1      0      9      5       0
26   20             ODISHA       186    107      0    293     98      57
27   21             PUNJAB       405    125      0    530    307      95
28   22          RAJASTHAN       689    188      0    877    380     114
29   23             SIKKIM        24     10      0     34      7       7
30   24         TAMIL NADU      2292   1078      3   3373   1436     742
31   25          TELANGANA       954    308      0   1262    488     173
32   26            TRIPURA       130     56      0    186     36      11
33   27      UTTAR PRADESH       671    552      0   1223    309     151
34   28        UTTARAKHAND       151     79      0    230     97      49
35   29        WEST BENGAL      1270    876      0   2146    768     596
36          TOTAL (STATES)     22763   8864      5  31632  13237    5362
37       UNION TERRITORIES
38   30     A & N  ISLANDS        21      7      0     28     21      11
39   31         CHANDIGARH        25      5      0     30     17       9
40   32      D & N  HAVELI        21      7      0     28     14       3
41   33      DAMAN  &  DIU         6      3      0      9      6       5
42   34         DELHI (UT)       454    190      0    644    360     181
43   35        LAKSHADWEEP         0      0      0      0      0       0
44   36         PUDUCHERRY        50      6      0     56    170     110
45             TOTAL (UTs)       577    218      0    795    588     319
46       TOTAL (ALL INDIA)     23340   9082      5  32427  13825    5681

       8      9     10      11      12     13
0
1
2   rans-                       Trans-
3          Total  Male  Female          Total
4   ender                       gender
5    (21)   (22)  (23)    (24)    (25)   (26)
6
7       0    657    80       9       0     89
8       0     25     0       0       0      0
9       0    181     1       0       0      1
10      0    114     0       0       0      0
11      0    695    33       8       0     41
12      0     46     0       0       0      0
13      0   1192    48      10       0     58
14      0    646    77      20       0     97
15      0    127     9       4       0     13
16      0     29     0       0       0      0
17      0    276    18      13       0     31
18      1   1466   116      61       0    177
19      0   1430   121      16       0    137
20      0   1857    47      18       0     65
21      0   3897   202      33       0    235
22      0     14     0       0       0      0
23      0     17     0       0       0      0
24      0      5     0       0       0      0
25      0      5     0       0       0      0
26      0    155    15      12       0     27
27      1    403    22       7       0     29
28      0    494    49       9       0     58
29      0     14     2       0       0      2
30      0   2178   265      91       0    356
31      0    661    90      21       0    111
32      0     47     5       0       0      5
33      0    460    67      12       0     79
34      0    146     0       0       0      0
35      0   1364    14       8       0     22
36      2  18601  1281     352       0   1633
37
38      0     32     1       1       0      2
39      0     26     2       0       0      2
40      0     17     0       0       0      0
41      0     11     0       0       0      0
42      0    541    23       3       0     26
43      0      0     0       0       0      0
44      0    280    41       4       0     45
45      0    907    67       8       0     75
46      2  19508  1348     360       0   1708

Page No:  3
     0                              1         2      3      4      5     6   \
0                                       Male \nF  emale         Total  Male
1                                                     g  ender
2   (1)                            (2)      (27)   (28)   (29)   (30)  (31)
3                               STATES
4     1                 ANDHRA PRADESH       293     98      0    391    17
5     2              ARUNACHAL PRADESH         2      1      0      3     0
6     3                          ASSAM        41      7      0     48     2
7     4                          BIHAR        22      9      0     31    10
8     5                   CHHATTISGARH       110     33      0    143     3
9     6                            GOA        22      0      0     22     1
10    7                        GUJARAT       188     49      0    237     6
11    8                        HARYANA       105     23      0    128     8
12    9               HIMACHAL PRADESH        11     17      0     28     4
13   10                JAMMU & KASHMIR         0      1      0      1     0
14   11                      JHARKHAND        17      8      0     25     0
15   12                      KARNATAKA       352    173      0    525    26
16   13                         KERALA       202     98      0    300     8
17   14                 MADHYA PRADESH       243    105      0    348     2
18   15                    MAHARASHTRA       622    183      0    805    19
19   16                        MANIPUR         0      1      0      1     0
20   17                      MEGHALAYA         4      1      0      5     0
21   18                        MIZORAM         2      0      0      2     0
22   19                       NAGALAND         2      0      0      2     0
23   20                         ODISHA        65     14      0     79     3
24   21                         PUNJAB        75     22      0     97     5
25   22                      RAJASTHAN       156     52      0    208    18
26   23                         SIKKIM         3      0      0      3     0
27   24                     TAMIL NADU       542    312      1    855    70
28   25                      TELANGANA       193     41      0    234    25
29   26                        TRIPURA         8      2      0     10     0
30   27                  UTTAR PRADESH       198    104      0    302     9
31   28                    UTTARAKHAND        17     11      0     28     0
32   29                    WEST BENGAL       130     54      0    184     0
33                      TOTAL (STATES)      3625   1419      1   5045   236
34                   UNION TERRITORIES
35   30                 A & N  ISLANDS         3      4      0      7     0
36   31                     CHANDIGARH         7      4      0     11     0
37   32                  D & N  HAVELI         4      0      0      4     0
38   33                  DAMAN  &  DIU         1      0      0      1     0
39   34                     DELHI (UT)        86     31      0    117     6
40   35                    LAKSHADWEEP         0      0      0      0     0
41   36                     PUDUCHERRY         0      0      0      0     0
42                         TOTAL (UTs)       101     39      0    140     6
43                   TOTAL (ALL INDIA)      3726   1458      1   5185   242
44    •  As per data provided by State    s/UTs.

        7      8      9     10      11      12     13
0   Female         Total  Male  Female          Total
1        g  ender                       gender
2     (32)   (33)   (34)  (35)    (36)    (37)   (38)
3
4        8      0     25   198      12       0    210
5        0      0      0    12       6       0     18
6        1      0      3    12       3       0     15
7        0      0     10     0       2       0      2
8        0      0      3  1297     510       0   1807
9        0      0      1     7       1       0      8
10       1      0      7   201      45       0    246
11       0      0      8   370     120       0    490
12       2      0      6     0       0       0      0
13       0      0      0    16       4       0     20
14       0      0      0     6       3       0      9
15      14      0     40   120      35       0    155
16       3      0     11    58      18       0     76
17       4      0      6   243      97       0    340
18       4      0     23   203      63       0    266
19       0      0      0     2       0       0      2
20       0      0      0     0       0       0      0
21       0      0      0     0       0       0      0
22       0      0      0     3       2       0      5
23       2      0      5  1958    1633       0   3591
24       4      0      9    61      10       0     71
25       6      0     24   337      81       0    418
26       0      0      0    24       5       0     29
27      31      0    101    14       3       0     17
28       4      0     29    58      17       0     75
29       0      0      0     2       0       0      2
30       5      0     14   219     158       0    377
31       0      0      0     0       0       0      0
32       0      0      0  2417    1327       0   3744
33      89      0    325  7838    4155       0  11993
34
35       0      0      0    23       8       0     31
36       0      0      0     0       0       0      0
37       0      0      0     0       0       0      0
38       0      0      0     0       0       0      0
39       4      0     10   250      98       0    348
40       0      0      0     0       0       0      0
41       0      0      0    15      13       0     28
42       4      0     10   288     119       0    407
43      93      0    335  8126    4274       0  12400
44

In [12]:
for each_table in tables:
    clean(each_table)

In [13]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
printnAllTables(tables)

Page No:  1
    0                  1      2     3  4      5      6     7  8      9   \
3                  STATES
4    1     ANDHRA PRADESH   1199   501  0   1700    916   321  0   1237
5    2  ARUNACHAL PRADESH      3     0  0      3      7     2  0      9
6    3              ASSAM    338   161  0    499    407   194  0    601
7    4              BIHAR     49    45  0     94     27    29  0     56
8    5       CHHATTISGARH    538   300  0    838   1005   382  0   1387
9    6                GOA     14     9  0     23     14     8  0     22
10   7            GUJARAT    519   351  0    870    865   523  1   1389
11   8            HARYANA    453   161  0    614    454   125  0    579
12   9   HIMACHAL PRADESH     33    15  0     48     42    26  0     68
13  10    JAMMU & KASHMIR     33    35  0     68     14    14  0     28
14  11          JHARKHAND     98    73  0    171     95    44  0    139
15  12          KARNATAKA    967   416  0   1383   1678   536  1   2215
16  13             KERALA    109    62  0    171    985   319  0   1304
17  14     MADHYA PRADESH   1290   852  0   2142   1564   833  2   2399
18  15        MAHARASHTRA   1029   442  0   1471   2039   613  0   2652
19  16            MANIPUR      2     0  0      2      2     0  0      2
20  17          MEGHALAYA     23     8  0     31     42     9  0     51
21  18            MIZORAM      0     0  0      0      6     2  0      8
22  19           NAGALAND      3     1  0      4      9     0  0      9
23  20             ODISHA     30    23  0     53    116    64  0    180
24  21             PUNJAB    395   108  0    503    213    67  0    280
25  22          RAJASTHAN    407   238  0    645    625   289  0    914
26  23             SIKKIM     19     5  0     24     45    16  0     61
27  24         TAMIL NADU    989   565  1   1555   1311   595  1   1907
28  25          TELANGANA   1981   847  1   2829   1013   348  0   1361
29  26            TRIPURA     17     6  0     23    156    80  0    236
30  27      UTTAR PRADESH    524   417  0    941    557   360  0    917
31  28        UTTARAKHAND      7    11  0     18     24    11  0     35
32  29        WEST BENGAL    345   289  0    634   1428   777  0   2205
33         TOTAL (STATES)  11414  5941  2  17357  15659  6587  5  22251
34      UNION TERRITORIES
35  30     A & N  ISLANDS     11     5  0     16     26     5  0     31
36  31         CHANDIGARH      6     2  0      8     19     9  0     28
37  32      D & N  HAVELI     16     6  0     22     10     4  0     14
38  33      DAMAN  &  DIU      2     2  0      4      7     2  0      9
39  34         DELHI (UT)    113    45  0    158    173   100  0    273
40  35        LAKSHADWEEP      0     0  0      0      0     0  0      0
41  36         PUDUCHERRY     20     3  0     23     38     5  0     43
42            TOTAL (UTs)    168    63  0    231    273   125  0    398
43      TOTAL (ALL INDIA)  11582  6004  2  17588  15932  6712  5  22649

       10    11 12     13
3
4     748   257  0   1005
5      21     5  0     26
6     313   163  0    476
7      65    43  0    108
8    1135   404  0   1539
9      44    11  0     55
10   1203   611  0   1814
11    515   161  0    676
12     70    33  0    103
13     27    18  0     45
14    166    69  0    235
15   1946   580  0   2526
16   1383   359  0   1742
17   1895   955  0   2850
18   2989   874  0   3863
19      5     5  0     10
20     51     6  0     57
21     27    11  0     38
22      6     1  0      7
23    125    74  0    199
24    334   101  0    435
25    641   252  0    893
26     38    15  0     53
27   2316   833  2   3151
28    810   303  0   1113
29    142    77  0    219
30    679   472  0   1151
31     39    20  0     59
32   1397   969  0   2366
33  19130  7682  2  26814
34
35     24    10  0     34
36     17     9  0     26
37      7     3  0     10
38      7     5  0     12
39    293   116  0    409
40      0     0  0      0
41     14     4  0     18
42    362   147  0    509
43  19492  7829  2  27323

Page No:  2
    0                  1      2     3  4      5      6     7  8      9     10  \
6                  STATES
7    1     ANDHRA PRADESH    838   313  0   1151    451   206  0    657    80
8    2  ARUNACHAL PRADESH     17    11  0     28     19     6  0     25     0
9    3              ASSAM    423   123  0    546    142    39  0    181     1
10   4              BIHAR    150    76  0    226     72    42  0    114     0
11   5       CHHATTISGARH    873   303  0   1176    526   169  0    695    33
12   6                GOA     63    19  0     82     36    10  0     46     0
13   7            GUJARAT   1286   556  0   1842    852   340  0   1192    48
14   8            HARYANA    774   179  0    953    541   105  0    646    77
15   9   HIMACHAL PRADESH    128    63  0    191     80    47  0    127     9
16  10    JAMMU & KASHMIR     49    44  0     93     18    11  0     29     0
17  11          JHARKHAND    484   276  0    760    182    94  0    276    18
18  12          KARNATAKA   2153   648  0   2801   1055   410  1   1466   116
19  13             KERALA   2736   649  0   3385   1066   364  0   1430   121
20  14     MADHYA PRADESH   1590   860  0   2450   1233   624  0   1857    47
21  15        MAHARASHTRA   4358  1344  2   5704   3005   892  0   3897   202
22  16            MANIPUR     16    11  0     27      9     5  0     14     0
23  17          MEGHALAYA     30     7  0     37     15     2  0     17     0
24  18            MIZORAM     15     2  0     17      4     1  0      5     0
25  19           NAGALAND      8     1  0      9      5     0  0      5     0
26  20             ODISHA    186   107  0    293     98    57  0    155    15
27  21             PUNJAB    405   125  0    530    307    95  1    403    22
28  22          RAJASTHAN    689   188  0    877    380   114  0    494    49
29  23             SIKKIM     24    10  0     34      7     7  0     14     2
30  24         TAMIL NADU   2292  1078  3   3373   1436   742  0   2178   265
31  25          TELANGANA    954   308  0   1262    488   173  0    661    90
32  26            TRIPURA    130    56  0    186     36    11  0     47     5
33  27      UTTAR PRADESH    671   552  0   1223    309   151  0    460    67
34  28        UTTARAKHAND    151    79  0    230     97    49  0    146     0
35  29        WEST BENGAL   1270   876  0   2146    768   596  0   1364    14
36         TOTAL (STATES)  22763  8864  5  31632  13237  5362  2  18601  1281
37      UNION TERRITORIES
38  30     A & N  ISLANDS     21     7  0     28     21    11  0     32     1
39  31         CHANDIGARH     25     5  0     30     17     9  0     26     2
40  32      D & N  HAVELI     21     7  0     28     14     3  0     17     0
41  33      DAMAN  &  DIU      6     3  0      9      6     5  0     11     0
42  34         DELHI (UT)    454   190  0    644    360   181  0    541    23
43  35        LAKSHADWEEP      0     0  0      0      0     0  0      0     0
44  36         PUDUCHERRY     50     6  0     56    170   110  0    280    41
45            TOTAL (UTs)    577   218  0    795    588   319  0    907    67
46      TOTAL (ALL INDIA)  23340  9082  5  32427  13825  5681  2  19508  1348

     11 12    13
6
7     9  0    89
8     0  0     0
9     0  0     1
10    0  0     0
11    8  0    41
12    0  0     0
13   10  0    58
14   20  0    97
15    4  0    13
16    0  0     0
17   13  0    31
18   61  0   177
19   16  0   137
20   18  0    65
21   33  0   235
22    0  0     0
23    0  0     0
24    0  0     0
25    0  0     0
26   12  0    27
27    7  0    29
28    9  0    58
29    0  0     2
30   91  0   356
31   21  0   111
32    0  0     5
33   12  0    79
34    0  0     0
35    8  0    22
36  352  0  1633
37
38    1  0     2
39    0  0     2
40    0  0     0
41    0  0     0
42    3  0    26
43    0  0     0
44    4  0    45
45    8  0    75
46  360  0  1708

Page No:  3
    0                  1     2     3  4     5    6   7  8    9     10    11  \
3                  STATES
4    1     ANDHRA PRADESH   293    98  0   391   17   8  0   25   198    12
5    2  ARUNACHAL PRADESH     2     1  0     3    0   0  0    0    12     6
6    3              ASSAM    41     7  0    48    2   1  0    3    12     3
7    4              BIHAR    22     9  0    31   10   0  0   10     0     2
8    5       CHHATTISGARH   110    33  0   143    3   0  0    3  1297   510
9    6                GOA    22     0  0    22    1   0  0    1     7     1
10   7            GUJARAT   188    49  0   237    6   1  0    7   201    45
11   8            HARYANA   105    23  0   128    8   0  0    8   370   120
12   9   HIMACHAL PRADESH    11    17  0    28    4   2  0    6     0     0
13  10    JAMMU & KASHMIR     0     1  0     1    0   0  0    0    16     4
14  11          JHARKHAND    17     8  0    25    0   0  0    0     6     3
15  12          KARNATAKA   352   173  0   525   26  14  0   40   120    35
16  13             KERALA   202    98  0   300    8   3  0   11    58    18
17  14     MADHYA PRADESH   243   105  0   348    2   4  0    6   243    97
18  15        MAHARASHTRA   622   183  0   805   19   4  0   23   203    63
19  16            MANIPUR     0     1  0     1    0   0  0    0     2     0
20  17          MEGHALAYA     4     1  0     5    0   0  0    0     0     0
21  18            MIZORAM     2     0  0     2    0   0  0    0     0     0
22  19           NAGALAND     2     0  0     2    0   0  0    0     3     2
23  20             ODISHA    65    14  0    79    3   2  0    5  1958  1633
24  21             PUNJAB    75    22  0    97    5   4  0    9    61    10
25  22          RAJASTHAN   156    52  0   208   18   6  0   24   337    81
26  23             SIKKIM     3     0  0     3    0   0  0    0    24     5
27  24         TAMIL NADU   542   312  1   855   70  31  0  101    14     3
28  25          TELANGANA   193    41  0   234   25   4  0   29    58    17
29  26            TRIPURA     8     2  0    10    0   0  0    0     2     0
30  27      UTTAR PRADESH   198   104  0   302    9   5  0   14   219   158
31  28        UTTARAKHAND    17    11  0    28    0   0  0    0     0     0
32  29        WEST BENGAL   130    54  0   184    0   0  0    0  2417  1327
33         TOTAL (STATES)  3625  1419  1  5045  236  89  0  325  7838  4155
34      UNION TERRITORIES
35  30     A & N  ISLANDS     3     4  0     7    0   0  0    0    23     8
36  31         CHANDIGARH     7     4  0    11    0   0  0    0     0     0
37  32      D & N  HAVELI     4     0  0     4    0   0  0    0     0     0
38  33      DAMAN  &  DIU     1     0  0     1    0   0  0    0     0     0
39  34         DELHI (UT)    86    31  0   117    6   4  0   10   250    98
40  35        LAKSHADWEEP     0     0  0     0    0   0  0    0     0     0
41  36         PUDUCHERRY     0     0  0     0    0   0  0    0    15    13
42            TOTAL (UTs)   101    39  0   140    6   4  0   10   288   119
43      TOTAL (ALL INDIA)  3726  1458  1  5185  242  93  0  335  8126  4274

   12     13
3
4   0    210
5   0     18
6   0     15
7   0      2
8   0   1807
9   0      8
10  0    246
11  0    490
12  0      0
13  0     20
14  0      9
15  0    155
16  0     76
17  0    340
18  0    266
19  0      2
20  0      0
21  0      0
22  0      5
23  0   3591
24  0     71
25  0    418
26  0     29
27  0     17
28  0     75
29  0      2
30  0    377
31  0      0
32  0   3744
33  0  11993
34
35  0     31
36  0      0
37  0      0
38  0      0
39  0    348
40  0      0
41  0     28
42  0    407
43  0  12400

In [14]:
# List of Column headers as column are nested, i.e exhibit a multi level/index structure
# The multi level structre will be generated and applied in the next 
column_header = [
    ['No Education','Primary (up to class–5th)','Middle (up to class–8th)'],
    ['Matriculate/ Secondary(up to class–10th)','Hr. Secondary/ Intermediate/Pre-University (up to class–12th)','Diploma/Certificate/ ITI'],
    ['Graduate and above','Professionals (MBA etc.)','Status Not known ']
]
len(column_header)

3

In [15]:
def set_Column(df, title):
    column_list = [
        ("Sl. No.",''),
        ("State/UT",''), 
        (title[0],'Male'),
        (title[0],'Female'),
        (title[0],'Transgender'),
        (title[0],'Total'),
        (title[1],'Male'),
        (title[1],'Female'),
        (title[1],'Transgender'),
        (title[1],'Total'),
        (title[2],'Male'),
        (title[2],'Female'),
        (title[2],'Transgender'),
        (title[2],'Total')
    ]
    df.columns = pd.MultiIndex.from_tuples(column_list)

In [16]:
#Sets column headers for pages 1-3
for i in range(len(tables)):
    set_Column(tables[i].df, column_header[i])
    tables[i].df.set_index(["Sl. No.","State/UT"],inplace=True)

In [17]:
#Sets column headers for page 4
table4[0].df.columns = pd.MultiIndex.from_tuples(
    [
        ("Sl. No.",''),
        ("State/UT",''), 
        ('Total','Male'),
        ('Total','Female'),
        ('Total','Transgender'),
        ('Total','Total')
    ]
)
# Sets Index to first 2 columns
table4[0].df.set_index(["Sl. No.","State/UT"],inplace=True)

In [18]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
# tables[23].df

In [19]:
# Convert List of tables to list of DataFrames
DataFrames = [each.df.copy() for each in tables]
DataFrames.append(table4[0].df.copy())

In [20]:
# DataFrames

In [21]:
# Concat all the tables one after the other, as they all have the same indexes.
final = pd.concat(DataFrames,axis=1)

In [22]:
# Reset Index before saving file, for better formatting in RAW CSV
final.reset_index().to_csv("Educational Status - wise Distribution of Suicides during 2019 (State & UT-wise).csv",index=False)