In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.3_2019.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-1.3_2019.pdf'

In [5]:
table1 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "24.048465266558967,701.6191598343628,587.7444911147012,75.3856218837887"
                              ],
                          columns=[
                              "58.678255250403886,172.1870113085622,215.47424878836836,251.06597738287564,307.8203554119548,353.0314701130857,397.28064620355417,440.5678836833603,490.58869143780294,530.990113085622"
                              ],
                          split_text=True,
                          pages="1"
                         )

In [6]:
table2 = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "29.820096930533122,696.7773504125727,572.3534733441035,74.39160822339852"
                              ],
                          columns=[
                              "59.640193861066244,176.996704361874,215.47424878836836,249.14210016155093,287.6196445880453,326.0971890145396,370.34636510500815,426.13880452342494,472.3118578352181,520.4087883683361"
                              ],
                          split_text=True,
                          pages="2"
                         )

In [7]:
df1 = table1[0].df.copy()
df2 = table2[0].df.copy()

In [8]:
table = pd.concat([df1,df2])

In [9]:
table

,0,1,2,3,4,5,6,7,8,9,10
0,,STATES,,,,,,,,,
1,1,ANDHRA PRADESH,210,257,22.4,16599,17681,6.5,16809,17938,6.7
2,2,ARUNACHAL PRADESH,35,7,-80.0,304,268,-11.8,339,275,-18.9
3,3,ASSAM,225,136,-39.6,5031,5300,5.3,5256,5436,3.4
4,4,BIHAR,1082,1521,40.6,11635,13690,17.7,12717,15211,19.6
...,...,...,...,...,...,...,...,...,...,...,...
49,50,VARANASI,93,9,-90.3,201,344,71.1,294,353,20.1
50,51,VASAI VIRAR,0,0,-,1132,1124,-0.7,1132,1124,-0.7
51,52,VIJAYAWADA,39,20,-48.7,492,514,4.5,531,534,0.6
52,53,VISHAKHAPATNAM,4,5,25.0,726,869,19.7,730,874,19.7
53,,TOTAL (CITIES),448,418,-6.7,60897,60986,0.1,61345,61404,0.1

In [10]:
column_list = [
    ("Sl. No.",''),
    ("State/UT",''),
    ('Deaths due to Forces of Nature','2018'),
    ('Deaths due to Forces of Nature','2019'),
    ('Deaths due to Forces of Nature','% Variation'),
    ('Deaths due to Other Causes','2018'),
    ('Deaths due to Other Causes','2019'),
    ('Deaths due to Other Causes','% Variation'),
    ('Total Accidental Deaths','2018'),
    ('Total Accidental Deaths','2019'),
    ('Total Accidental Deaths','% Variation'),
]

In [11]:
table.columns = pd.MultiIndex.from_tuples(column_list)
table.set_index(["Sl. No.","State/UT"],inplace=True)

In [12]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
table

                          Deaths due to Forces of Nature                    \
                                                    2018  2019 % Variation
Sl. No. State/UT
        STATES
1       ANDHRA PRADESH                               210   257        22.4
2       ARUNACHAL PRADESH                             35     7       -80.0
3       ASSAM                                        225   136       -39.6
4       BIHAR                                       1082  1521        40.6
...                                                  ...   ...         ...
50      VARANASI                                      93     9       -90.3
51      VASAI VIRAR                                    0     0           -
52      VIJAYAWADA                                    39    20       -48.7
53      VISHAKHAPATNAM                                 4     5        25.0
        TOTAL (CITIES)                               448   418        -6.7

                          Deaths due to Other Causes                     \
                                                2018   2019 % Variation
Sl. No. State/UT
        STATES
1       ANDHRA PRADESH                         16599  17681         6.5
2       ARUNACHAL PRADESH                        304    268       -11.8
3       ASSAM                                   5031   5300         5.3
4       BIHAR                                  11635  13690        17.7
...                                              ...    ...         ...
50      VARANASI                                 201    344        71.1
51      VASAI VIRAR                             1132   1124        -0.7
52      VIJAYAWADA                               492    514         4.5
53      VISHAKHAPATNAM                           726    869        19.7
        TOTAL (CITIES)                         60897  60986         0.1

                          Total Accidental Deaths
                                             2018   2019 % Variation
Sl. No. State/UT
        STATES
1       ANDHRA PRADESH                      16809  17938         6.7
2       ARUNACHAL PRADESH                     339    275       -18.9
3       ASSAM                                5256   5436         3.4
4       BIHAR                               12717  15211        19.6
...                                           ...    ...         ...
50      VARANASI                              294    353        20.1
51      VASAI VIRAR                          1132   1124        -0.7
52      VIJAYAWADA                            531    534         0.6
53      VISHAKHAPATNAM                        730    874        19.7
        TOTAL (CITIES)                      61345  61404         0.1

[95 rows x 9 columns]

In [13]:
# Reset Index before saving file, for better formatting in RAW CSV
table.reset_index().to_csv("Percentage Variation of Accidental Deaths due to Forces of Nature, Other Causes and Total Accidental Deaths during 2019 over 2018 (State,UT & City-wise).csv",index=False)