In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-1.6_2019.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-1.6_2019.pdf'

In [5]:
#Scraping All Pages 
tables = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=["15.39101777059774,712.777858547808,584.8586752827141,107.70735874610126"],
                          columns=["38.47754442649435,171.22507269789986,212.5884329563813,256.83760904684976,296.2770920840065,335.7165751211632,372.27024232633283,399.20452342487886,437.68206785137323,476.1596122778676,514.6371567043619,543.4953150242327"],
                          split_text=True,
                          row_tol=12,
                          strip_text='\n\t',
                          pages="1-2"
                         )

In [6]:
tables

In [7]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [8]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
printnAllTables(tables)

Page No:  1
         0                                                  1       2   \
0   Sl. No.                                              Cause
1                                                                 2018
2       (1)                                                (2)     (3)
3         1                                          Air Crash       3
4         2                                     Ship Accidents       0
5         3                      Collapse of Structure (Total)    1953
6            3.1 Collapse of Dwelling     House/Residential...    1201
7            3.2 Collapse of Official/      Commercial Buil...      47
8                                          3.3 Collapse of Dam       4
9                                      3.4 Collapse of  Bridge      17
10                                                  3.5 Others     684
11        4                                   Drowning (Total)   29696
12                                            4.1 Boat Capsize     211
13                    4.2 Accidental Falls into      Waterbody   19533
14                                             4.3 Other Cases    9952
15        5                                      Electrocution   12146
16        6                       Accidental Explosion (Total)     697
17                                   6.1 Domestic Gas Cylinder     307
18           6.2 Industrial Boiler/      Gas Cylinder Explo...      39
19           6.3 Ammunition Explosion in       Armed Forces...      18
20                                                   6.4 Other     333
21        7                                      Falls (Total)   20311
22                                        7.1 Fall from Height   11736
23           7.2 Fall from Vehicles      (Automobile like B...    3396
24                                       7.3 Fall into Manhole     103
25                                           7.4 Fall into Pit     700
26                                      7.5 Fall into Borewell     121
27                                                  7.6 Others    4255
28        8                          Factory/Machine Accidents    1147
29        9                            Accidental Fire (Total)   13099
30                                9.1 Electrical Short circuit    1970
31                                          9.2 Riot/Agitation      16
32                                               9.3 Fireworks     238
33                 9.4 Cooking Gas Cylinder/       Stove Burst    2672
34                                            9.5 Other Causes    8203
35       10                                            Firearm     667
36       11                           Mines or Quarry Disaster     138
37       12                          Traffic Accidents (Total)  474638
38                                         12.1 Road Accidents  445514
39                             12.2 Railway Crossing Accidents    1481
40                                      12.3 Railway Accidents   27643
41       13                                           Stampede       5
42        •                As per data provided by States/UTs.

         3        4       5         6     7       8       9          10  \
0         i   n 2019  Male F  emale Tr  ans-   Total                  T
1   2019 ov  er 2018                ge  nder            Male  Female ge
2       (4)      (5)     (6)       (7)   (8)     (9)    (10)       (11)
3         2    -33.3       0         0     0       0      11          1
4         0        -       0         0     0       0       0          0
5      1866     -4.5     134        64     2     200    1363        566
6      1218      1.4     103        43     0     146     867        374
7        89     89.4       7         3     0      10      89         15
8         0   -100.0       0         0     0       0       0          0
9        23     35.3       4        13     0      17      18          8
10      536    -21.6      20         5     2      27     389        169
11    32271      8.7     291        83    12     386   26025       6643
12      162    -23.2       7         0     0       7     177         37
13    21826     11.7     183        59    12     254   17635       4533
14    10283      3.3     101        24     0     125    8213       2073
15    13378     10.1     171        43     1     215   11412       2020
16      620    -11.0      48        37     1      86     368        287
17      314      2.3      25        34     0      59     117        213
18       95    143.6      12         1     1      14      90         13
19       19      5.6       0         0     0       0      18          1
20      192    -42.3      11         2     0      13     143         60
21    21481      5.8     603       268     4     875   17369       3531
22    12048      2.7     222        53     1     276   10122       1874
23     4346     28.0     335       191     3     529    3227        669
24      101     -1.9       0         0     0       0      90         12
25      901     28.7       8         4     0      12     672        227
26       62    -48.8       4         0     0       4      53          9
27     4023     -5.5      34        20     0      54    3205        740
28     1082     -5.7     118        11     0     129     884        117
29    11037    -15.7     313       128     0     441    4947       5968
30     2183     10.8     169        39     0     208    1649        341
31        6    -62.5       0         0     0       0       3          2
32      102    -57.1      15         5     0      20      61         41
33     2137    -20.0      27        49     0      76     595       1548
34     6609    -19.4     102        35     0     137    2639       4036
35      376    -43.6      80         5     0      85     269         51
36       85    -38.4       2         2     0       4      63         19
37   467171     -1.6  357994     85001     1  442996  155051      26057
38   437396     -1.8  354847     84415     0  439262  132587      22143
39     1788     20.7     114        51     0     165    1520        242
40    27987      1.2    3033       535     1    3569   20944       3672
41       14    180.0       3         9     0      12       6          6
42

       11      12
0   rans-   Total
1    nder
2    (12)    (13)
3       0      12
4       0       0
5       0    1929
6       0    1241
7       0     104
8       0       0
9       0      26
10      0     558
11      3   32671
12      0     214
13      3   22171
14      0   10286
15      0   13432
16      0     655
17      0     330
18      0     103
19      0      19
20      0     203
21      1   20901
22      1   11997
23      0    3896
24      0     102
25      0     899
26      0      62
27      0    3945
28      0    1001
29      0   10915
30      0    1990
31      0       5
32      0     102
33      0    2143
34      0    6675
35      0     320
36      0      82
37      5  181113
38      2  154732
39      0    1762
40      3   24619
41      0      12
42

Page No:  2
         0                                                  1       2   \
0   Sl. No.                                              Cause
1                                                                 2018
2       (1)                                                (2)     (3)
3        14                              Sudden Deaths (Total)   45671
4                                            14.1 Heart Attack   25764
5                                                  14.2 Others   19907
6        15           Deaths of Women during Pregnancy (Total)    1149
7                                        15.1 Due to Abortions     175
8                                   15.2 Other  than Abortions     974
9        16  Deaths Due to Consumption of Illicit/Spurious ...    1346
10       17                        Killed / Injured by Animals    1123
11       18                                  Poisoning (Total)   21898
12                                         18.1 Food Poisoning     934
13           18.2 Accidental Intake of           Insecticid...    7690
14                                18.3 Poisonous Gases (Total)     233
15           18.3.1 Carbon Monoxide                     (CO...       9
16             18.3.2 Other Poisonous                    Gases     224
17                                             18.4 Snake Bite    8982
18                18.5 Animal/Reptiles/           Insects Bite     845
19                                                  18.6 Other    3214
20       19                                        Suffocation    1896
21       20                                      Drug Overdose     895
22       21                            Other than above Causes   59042
23       22                                   Causes Not Known   14574
24                                                       Total  702094
25        •                As per data provided by States/UTs.

         3                4       5         6     7       8       9   \
0        Vi  ariation n 2019  Male F  emale Tr  ans-   Total
1   2019 ov          er 2018                ge  nder            Male
2       (4)              (5)     (6)       (7)   (8)     (9)    (10)
3     47731              4.5       0         0     0       0   39225
4     28005              8.7       0         0     0       0   23960
5     19726             -0.9                                   15265
6      1162              1.1       0         0     0       0       0
7       200             14.3       0         0     0       0       0
8       962             -1.2       0         0     0       0       0
9      1141            -15.2       0         0     0       0    1188
10     1431             27.4       0         0     0       0    1111
11    21318             -2.6     208        93     0     301   14044
12     1145             22.6      10         8     0      18     689
13     7007             -8.9     133        53     0     186    4800
14      230             -1.3       2         0     0       2     201
15       35            288.9       0         0     0       0      28
16      195            -12.9       2         0     0       2     173
17     9236              2.8      26        13     0      39    5785
18      946             12.0       6         0     0       6     630
19     2754            -14.3      31        19     0      50    1939
20     1584            -16.5      16         9     0      25    1208
21      729            -18.5      33         1     0      34     594
22    59321              0.5     266        73     0     339   45616
23    17524             20.2     117        39     0     156   13212
24   701324             -0.1  360397     85866    21  446284  333966
25

           10     11      12
0           T  rans-   Total
1   Female ge   nder
2        (11)   (12)    (13)
3        8064      6   47295
4        4042      3   28005
5        4022      3   19290
6        1160      0    1160
7         200      0     200
8         960      0     960
9         108      0    1296
10        314      0    1425
11       7150      2   21196
12        438      0    1127
13       2160      2    6962
14         40      0     241
15          9      0      37
16         31      0     204
17       3439      0    9224
18        315      0     945
19        758      0    2697
20        390      0    1598
21        110      0     704
22      12953      7   58576
23       3452      2   16666
24      78967     26  412959
25

In [9]:
# Removes Garbage Rows that may have been detected Before the 'Air Crash' or 'Sudden Deaths (Total)' row
# AND
# Removes Garbage Rows that may have been detected after the 'TOTAL' or 'Stampede' row
def clean(table):
    while(table.df.iloc[0,1] not in  ['Air Crash','Sudden Deaths (Total)']):
        table.df = table.df.iloc[1:]
    while(table.df.iloc[-1,1] not in  ['Total', 'Stampede']):
        table.df = table.df.iloc[:-1]
    # The Return line is unnecessary due to all changes being reflected in the original references
    return table

In [10]:
for each_table in tables:
    clean(each_table)

In [11]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

In [12]:
df1 = tables[0].df
df2 = tables[1].df

In [13]:
tableA = pd.concat([df1,df2],axis=0)

In [14]:
tableA

,0,1,2,3,4,5,6,7,8,9,10,11,12
3,1,Air Crash,3,2,-33.3,0,0,0,0,11,1,0,12
4,2,Ship Accidents,0,0,-,0,0,0,0,0,0,0,0
5,3,Collapse of Structure (Total),1953,1866,-4.5,134,64,2,200,1363,566,0,1929
6,,3.1 Collapse of Dwelling House/Residential...,1201,1218,1.4,103,43,0,146,867,374,0,1241
7,,3.2 Collapse of Official/ Commercial Buil...,47,89,89.4,7,3,0,10,89,15,0,104
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,19,Suffocation,1896,1584,-16.5,16,9,0,25,1208,390,0,1598
21,20,Drug Overdose,895,729,-18.5,33,1,0,34,594,110,0,704
22,21,Other than above Causes,59042,59321,0.5,266,73,0,339,45616,12953,7,58576
23,22,Causes Not Known,14574,17524,20.2,117,39,0,156,13212,3452,2,16666
24,,Total,702094,701324,-0.1,360397,85866,21,446284,333966,78967,26,412959

In [15]:
# Interate through entire IndexList to get the rows whose States need to be split
# e.g 
# Sl. No      State
#             7.1 Fall from Height
#         to
# Sl. No      State
# 7.1         Fall from Height

i = 0
for index, each in tableA.iterrows():
    print(i, each[1])
    i+=1

0 Air Crash
1 Ship Accidents
2 Collapse of Structure (Total)
3 3.1 Collapse of Dwelling     House/Residential Building
4 3.2 Collapse of Official/      Commercial Building
5 3.3 Collapse of Dam
6 3.4 Collapse of  Bridge
7 3.5 Others
8 Drowning (Total)
9 4.1 Boat Capsize
10 4.2 Accidental Falls into      Waterbody
11 4.3 Other Cases
12 Electrocution
13 Accidental Explosion (Total)
14 6.1 Domestic Gas Cylinder
15 6.2 Industrial Boiler/      Gas Cylinder Explosion
16 6.3 Ammunition Explosion in       Armed Forces/Police/CPMF
17 6.4 Other
18 Falls (Total)
19 7.1 Fall from Height
20 7.2 Fall from Vehicles      (Automobile like Bus,      Trucks, etc.)
21 7.3 Fall into Manhole
22 7.4 Fall into Pit
23 7.5 Fall into Borewell
24 7.6 Others
25 Factory/Machine Accidents
26 Accidental Fire (Total)
27 9.1 Electrical Short circuit
28 9.2 Riot/Agitation
29 9.3 Fireworks
30 9.4 Cooking Gas Cylinder/       Stove Burst
31 9.5 Other Causes
32 Firearm
33 Mines or Quarry Disaster
34 Traffic Accidents (Total)
35 12.1 Road Accidents
36 12.2 Railway Crossing Accidents
37 12.3 Railway Accidents
38 Stampede
39 Sudden Deaths (Total)
40 14.1 Heart Attack
41 14.2 Others
42 Deaths of Women during Pregnancy (Total)
43 15.1 Due to Abortions
44 15.2 Other  than Abortions
45 Deaths Due to Consumption of Illicit/Spurious Liquor
46 Killed / Injured by Animals
47 Poisoning (Total)
48 18.1 Food Poisoning
49 18.2 Accidental Intake of           Insecticides/Pesticides
50 18.3 Poisonous Gases (Total)
51 18.3.1 Carbon Monoxide                     (CO) Gas
52 18.3.2 Other Poisonous                    Gases
53 18.4 Snake Bite
54 18.5 Animal/Reptiles/           Insects Bite
55 18.6 Other
56 Suffocation
57 Drug Overdose
58 Other than above Causes
59 Causes Not Known
60 Total

Such index ranges are:
1. 3-7  
2. 9-11  
3. 14-17  
4. 19-24  
5. 27-31  
6. 35-37  
7. 40-41  
8. 43-44  
9. 48-55

In [16]:
final = tableA.copy()

In [17]:
def split_by_first_space(DF, strIndex, stpIndex):
    df = DF.iloc[strIndex:stpIndex+1].copy()
    for index, each in df.iterrows():
            space = each[1].find(' ')
            i = each[1][:space]
            val = each[1][space:]
            each[0] = i
            each[1] = val
    DF[strIndex:stpIndex+1] = df.copy()
        
split_by_first_space(final,3,7)
split_by_first_space(final,9,11)
split_by_first_space(final,14,17)
split_by_first_space(final,19,24)
split_by_first_space(final,27,31)
split_by_first_space(final,35,37)
split_by_first_space(final,40,41)
split_by_first_space(final,43,44)
split_by_first_space(final,48,55)

In [18]:
print(final.iloc[:,0:2].to_string())

         0                                                                  1
3        1                                                          Air Crash
4        2                                                     Ship Accidents
5        3                                      Collapse of Structure (Total)
6      3.1                Collapse of Dwelling     House/Residential Building
7      3.2                     Collapse of Official/      Commercial Building
8      3.3                                                    Collapse of Dam
9      3.4                                                Collapse of  Bridge
10     3.5                                                             Others
11       4                                                   Drowning (Total)
12     4.1                                                       Boat Capsize
13     4.2                               Accidental Falls into      Waterbody
14     4.3                                                        Other Cases
15       5                                                      Electrocution
16       6                                       Accidental Explosion (Total)
17     6.1                                              Domestic Gas Cylinder
18     6.2                     Industrial Boiler/      Gas Cylinder Explosion
19     6.3             Ammunition Explosion in       Armed Forces/Police/CPMF
20     6.4                                                              Other
21       7                                                      Falls (Total)
22     7.1                                                   Fall from Height
23     7.2   Fall from Vehicles      (Automobile like Bus,      Trucks, etc.)
24     7.3                                                  Fall into Manhole
25     7.4                                                      Fall into Pit
26     7.5                                                 Fall into Borewell
27     7.6                                                             Others
28       8                                          Factory/Machine Accidents
29       9                                            Accidental Fire (Total)
30     9.1                                           Electrical Short circuit
31     9.2                                                     Riot/Agitation
32     9.3                                                          Fireworks
33     9.4                            Cooking Gas Cylinder/       Stove Burst
34     9.5                                                       Other Causes
35      10                                                            Firearm
36      11                                           Mines or Quarry Disaster
37      12                                          Traffic Accidents (Total)
38    12.1                                                     Road Accidents
39    12.2                                         Railway Crossing Accidents
40    12.3                                                  Railway Accidents
41      13                                                           Stampede
3       14                                              Sudden Deaths (Total)
4     14.1                                                       Heart Attack
5     14.2                                                             Others
6       15                           Deaths of Women during Pregnancy (Total)
7     15.1                                                   Due to Abortions
8     15.2                                              Other  than Abortions
9       16               Deaths Due to Consumption of Illicit/Spurious Liquor
10      17                                        Killed / Injured by Animals
11      18                                                  Poisoning (Total)
12    18.1                                                     Food Poisoning
13    18.2             Accidental Intake of           Insecticides/Pesticides
14    18.3                                            Poisonous Gases (Total)
15  18.3.1                       Carbon Monoxide                     (CO) Gas
16  18.3.2                           Other Poisonous                    Gases
17    18.4                                                         Snake Bite
18    18.5                            Animal/Reptiles/           Insects Bite
19    18.6                                                              Other
20      19                                                        Suffocation
21      20                                                      Drug Overdose
22      21                                            Other than above Causes
23      22                                                   Causes Not Known
24                                                                      Total

In [19]:
# To Rename the columns accordingly
ColumnList = [
    ("Sl. No.",''),
    ("State/UT",''), 
    ('No. of Cases','2018'),
    ('No. of Cases','2019'),
    ('% Variation in 2019 over 2018',''),
    ('Persons Injured – 2019','Male'),
    ('Persons Injured – 2019','Female'),
    ('Persons Injured – 2019','Transgender'),
    ('Persons Injured – 2019','Total'),
    ('Persons Died – 2019','Male'),
    ('Persons Died – 2019','Female'),
    ('Persons Died – 2019','Transgender'),
    ('Persons Died – 2019','Total')
]
final.columns = pd.MultiIndex.from_tuples(ColumnList)
final.set_index(["Sl. No.","State/UT"],inplace=True)

In [20]:
final

                                                           No. of Cases  \
                                                                   2018
Sl. No. State/UT
1       Air Crash                                                     3
2       Ship Accidents                                                0
3       Collapse of Structure (Total)                              1953
3.1      Collapse of Dwelling     House/Residential Bui...         1201
3.2      Collapse of Official/      Commercial Building              47
...                                                                 ...
19      Suffocation                                                1896
20      Drug Overdose                                               895
21      Other than above Causes                                   59042
22      Causes Not Known                                          14574
        Total                                                    702094

                                                                    \
                                                              2019
Sl. No. State/UT
1       Air Crash                                                2
2       Ship Accidents                                           0
3       Collapse of Structure (Total)                         1866
3.1      Collapse of Dwelling     House/Residential Bui...    1218
3.2      Collapse of Official/      Commercial Building         89
...                                                            ...
19      Suffocation                                           1584
20      Drug Overdose                                          729
21      Other than above Causes                              59321
22      Causes Not Known                                     17524
        Total                                               701324

                                                           % Variation in 2019 over 2018  \

Sl. No. State/UT
1       Air Crash                                                                  -33.3
2       Ship Accidents                                                                 -
3       Collapse of Structure (Total)                                               -4.5
3.1      Collapse of Dwelling     House/Residential Bui...                           1.4
3.2      Collapse of Official/      Commercial Building                             89.4
...                                                                                  ...
19      Suffocation                                                                -16.5
20      Drug Overdose                                                              -18.5
21      Other than above Causes                                                      0.5
22      Causes Not Known                                                            20.2
        Total                                                                       -0.1

                                                           Persons Injured – 2019  \
                                                                             Male
Sl. No. State/UT
1       Air Crash                                                               0
2       Ship Accidents                                                          0
3       Collapse of Structure (Total)                                         134
3.1      Collapse of Dwelling     House/Residential Bui...                    103
3.2      Collapse of Official/      Commercial Building                         7
...                                                                           ...
19      Suffocation                                                            16
20      Drug Overdose                                                          33
21      Other than above Causes                                               266
22      Causes Not Known                                                      117
        Total                                                              360397

                                                                               \
                                                           Female Transgender
Sl. No. State/UT
1       Air Crash                                               0           0
2       Ship Accidents                                          0           0
3       Collapse of Structure (Total)                          64           2
3.1      Collapse of Dwelling     House/Residential Bui...     43           0
3.2      Collapse of Official/      Commercial Building         3           0
...                                                           ...         ...
19      Suffocation                                             9           0
20      Drug Overdose                                           1           0
21      Other than above Causes                                73           0
22      Causes Not Known                                       39           0
        Total                                               85866          21

                                                                    \
                                                             Total
Sl. No. State/UT
1       Air Crash                                                0
2       Ship Accidents                                           0
3       Collapse of Structure (Total)                          200
3.1      Collapse of Dwelling     House/Residential Bui...     146
3.2      Collapse of Official/      Commercial Building         10
...                                                            ...
19      Suffocation                                             25
20      Drug Overdose                                           34
21      Other than above Causes                                339
22      Causes Not Known                                       156
        Total                                               446284

                                                           Persons Died – 2019  \
                                                                          Male
Sl. No. State/UT
1       Air Crash                                                           11
2       Ship Accidents                                                       0
3       Collapse of Structure (Total)                                     1363
3.1      Collapse of Dwelling     House/Residential Bui...                 867
3.2      Collapse of Official/      Commercial Building                     89
...                                                                        ...
19      Suffocation                                                       1208
20      Drug Overdose                                                      594
21      Other than above Causes                                          45616
22      Causes Not Known                                                 13212
        Total                                                           333966

                                                                               \
                                                           Female Transgender
Sl. No. State/UT
1       Air Crash                                               1           0
2       Ship Accidents                                          0           0
3       Collapse of Structure (Total)                         566           0
3.1      Collapse of Dwelling     House/Residential Bui...    374           0
3.2      Collapse of Official/      Commercial Building        15           0
...                                                           ...         ...
19      Suffocation                                           390           0
20      Drug Overdose                                         110           0
21      Other than above Causes                             12953           7
22      Causes Not Known                                     3452           2
        Total                                               78967          26


                                                             Total
Sl. No. State/UT
1       Air Crash                                               12
2       Ship Accidents                                           0
3       Collapse of Structure (Total)                         1929
3.1      Collapse of Dwelling     House/Residential Bui...    1241
3.2      Collapse of Official/      Commercial Building        104
...                                                            ...
19      Suffocation                                           1598
20      Drug Overdose                                          704
21      Other than above Causes                              58576
22      Causes Not Known                                     16666
        Total                                               412959

[61 rows x 11 columns]

In [21]:
# Reset Index before saving file, for better formatting in RAW CSV
final.reset_index().to_csv("Causes-wise Number of Accidents, Persons Injured and Died due to Other Causes during 2019 (All India).csv",index=False)