In [1]:
import wget
import ssl
import os
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Enter NCRB Individual PDF url
pdf_url = 'https://ncrb.gov.in/sites/default/files/adsi_reports_previous_year/Table-2.3_2019_0.pdf'
fileName = pdf_url[67:]
try:
    #Delete the file to redownload it
    os.remove(fileName)
except FileNotFoundError as e:
    #Ignore in case FileNotFound Error occurs
    pass
# Download report
fileName = wget.download(pdf_url,fileName)

In [3]:
import numpy as np
import pandas as pd
import camelot

In [4]:
fileName

'Table-2.3_2019_0.pdf'

In [5]:
tables = camelot.read_pdf(fileName,
                          flavor='stream',
                          table_areas=[
                              "56.273408723747984,744.9071924115915,540.1285298869144,79.23344700176459"
                              ],
                          columns=[
                              "76.9550888529887,227.01751211631665,296.2770920840065,396.3187075928918"
                              ],
                          split_text=True,
                          pages="all"
                         )

In [6]:
tables

In [7]:
def printnAllTables(tables):
    for i in range(len(tables)):
        print("Page No: ",(i+1))
        print(tables[i].df)
        print()

In [8]:
# Incase we're intersted in seeing the original scraped tables.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

In [9]:
# Removes Garbage Rows that may have been detected Before the 'STATES' row
# AND
# Removes Garbage Rows that may have been detected after the 'TOTAL (ALL INDIA)' row
def clean(table):
    while(table.df.iloc[0,1] != 'STATES' and table.df.iloc[0,1] != 'CITIES'):
        table.df = table.df.iloc[1:]
    while(table.df.iloc[-1,1] != 'TOTAL (ALL INDIA)' and table.df.iloc[-1,1] != 'TOTAL (CITIES)'):
        table.df = table.df.iloc[:-1]
    # The Return line is unnecessary due to all changes being reflected in the original references
    return table

In [10]:
for each_table in tables:
    clean(each_table)

In [11]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
printnAllTables(tables)

Page No:  1
     0                  1       2       3       4
4                  STATES
5    1     ANDHRA PRADESH    5319    6465    21.5
6    2  ARUNACHAL PRADESH     132     112   -15.2
7    3              ASSAM    2379    2370    -0.4
8    4              BIHAR     443     641    44.7
9    5       CHHATTISGARH    7046    7629     8.3
10   6                GOA     256     259     1.2
11   7            GUJARAT    7793    7655    -1.8
12   8            HARYANA    3547    4191    18.2
13   9   HIMACHAL PRADESH     740     584   -21.1
14  10    JAMMU & KASHMIR     330     284   -13.9
15  11          JHARKHAND    1317    1646    25.0
16  12          KARNATAKA   11561   11288    -2.4
17  13             KERALA    8237    8556     3.9
18  14     MADHYA PRADESH   11775   12457     5.8
19  15        MAHARASHTRA   17972   18916     5.3
20  16            MANIPUR      52      58    11.5
21  17          MEGHALAYA     189     198     4.8
22  18            MIZORAM      79      70   -11.4
23  19           NAGALAND      36      41    13.9
24  20             ODISHA    4592    4582    -0.2
25  21             PUNJAB    1714    2357    37.5
26  22          RAJASTHAN    4333    4531     4.6
27  23             SIKKIM     199     220    10.6
28  24         TAMIL NADU   13896   13493    -2.9
29  25          TELANGANA    7845    7675    -2.2
30  26            TRIPURA     720     728     1.1
31  27      UTTAR PRADESH    4849    5464    12.7
32  28        UTTARAKHAND     421     516    22.6
33  29        WEST BENGAL   13255   12665    -4.5
34         TOTAL (STATES)  131027  135651     3.5
35      UNION TERRITORIES
36  30      A & N ISLANDS     164     181    10.4
37  31         CHANDIGARH     160     131   -18.1
38  32       D & N HAVELI     101      95    -5.9
39  33        DAMAN & DIU      35      46    31.4
40  34         DELHI (UT)    2526    2526     0.0
41  35        LAKSHADWEEP       3       0  -100.0
42  36         PUDUCHERRY     500     493    -1.4
43            TOTAL (UTS)    3489    3472    -0.5
44      TOTAL (ALL INDIA)  134516  139123     3.4

Page No:  2
     0                   1      2      3      4
4                   CITIES
5   37                AGRA    113    129   14.2
6   38           AHMEDABAD    706    763    8.1
7   39           ALLAHABAD      0     31      -
8   40            AMRITSAR     66     78   18.2
9   41             ASANSOL    391    469   19.9
10  42          AURANGABAD    269    283    5.2
11  43           BENGALURU   2082   2081    0.0
12  44              BHOPAL    392    353   -9.9
13  45   CHANDIGARH (CITY)    160    131  -18.1
14  46             CHENNAI   2102   2461   17.1
15  47          COIMBATORE    340    338   -0.6
16  48        DELHI (CITY)   2369   2423    2.3
17  49             DHANBAD    261    257   -1.5
18  50    DURG BHILAINAGAR    351    376    7.1
19  51           FARIDABAD    149    265   77.9
20  52           GHAZIABAD    183    132  -27.9
21  53             GWALIOR    249    295   18.5
22  54           HYDERABAD    536    389  -27.4
23  55              INDORE    581    618    6.4
24  56            JABALPUR    259    302   16.6
25  57              JAIPUR    481    441   -8.3
26  58          JAMSHEDPUR    105    108    2.9
27  59             JODHPUR    118    145   22.9
28  60              KANNUR    156    148   -5.1
29  61              KANPUR    480    492    2.5
30  62               KOCHI    179    222   24.0
31  63             KOLKATA    162    181   11.7
32  64              KOLLAM    393    457   16.3
33  65                KOTA    114    136   19.3
34  66           KOZHIKODE    253    258    2.0
35  67             LUCKNOW    263    254   -3.4
36  68            LUDHIANA    194    254   30.9
37  69             MADURAI    295    345   16.9
38  70          MALAPPURAM    125    101  -19.2
39  71              MEERUT      6     38  533.3
40  72              MUMBAI   1174   1229    4.7
41  73              NAGPUR    680    636   -6.5
42  74               NASIK    198    366   84.8
43  75               PATNA     77     92   19.5
44  76                PUNE    639    719   12.5
45  77              RAIPUR    308    332    7.8
46  78              RAJKOT    449    416   -7.3
47  79              RANCHI    234     57  -75.6
48  80            SRINAGAR     12      2  -83.3
49  81               SURAT    816    795   -2.6
50  82  THIRUVANANTHAPURAM    319    331    3.8
51  83            THRISSUR    359    405   12.8
52  84     TIRUCHIRAPPALLI    193    188   -2.6
53  85            VADODARA    183    218   19.1
54  86            VARANASI     27     49   81.5
55  87         VASAI VIRAR    281    254   -9.6
56  88          VIJAYAWADA    286    267   -6.6
57  89      VISHAKHAPATNAM    290    280   -3.4
58          TOTAL (CITIES)  21408  22390    4.6

In [12]:
def set_Column(df, city):
    column_list = [
        ("Sl. No.",''),
        ("State/UT" if (not city) else "City",''), 
        ('Number of Suicides','2018'),
        ('Number of Suicides','2019'),
        ('Percentage Variation in 2019 over 2018','')
    ]
    df.columns = pd.MultiIndex.from_tuples(column_list)

In [13]:
for i in range(len(tables)):
    city = i==1
    set_Column(df=tables[i].df, city=city)
    # tables[i].df.set_index(["Sl. No.","State/UT" if (not city) else "City"],inplace=True)

In [14]:
# Incase we're intersted in seeing the scraped tables at this point.
# Commented as it takes too much screen space
# Run if you want
# printnAllTables(tables)

# OR Print a simgle one according to your choice
# tables[23].df

In [15]:
# Convert List of tables to list of DataFrames
DataFrames = [each.df.copy() for each in tables]
# Concat all the tables one after the other, as they all have the same indexes.
final = pd.concat(DataFrames)

In [16]:
# Reset Index before saving file, for better formatting in RAW CSV
tables[0].df.to_csv("Incidence of Suicides during 2018 and 2019 and Their Percentage Variation (StateUT-wise) .csv",index=False)
tables[1].df.to_csv("Incidence of Suicides during 2018 and 2019 and Their Percentage Variation (City-wise) .csv",index=False)